.@{ant-prefix}-select-selection-selected-value {
  color: @grey-700;
}

.@{ant-prefix}-select-selection__placeholder {
  color: @grey-500;
}

.@{ant-prefix}-select-dropdown-menu-item {
  font-weight: 500;
  color: @grey-700;

  &:hover {
    background-color: @grey-050;
    color: @primary-color;
  }
}

.@{ant-prefix}-select-dropdown-menu-item:hover:not(.@{ant-prefix}-select-dropdown-menu-item-disabled) {
  background-color: @grey-050;
}

.@{ant-prefix}-select-dropdown-menu-item-active {
  background-color: @grey-050;
  color: @grey-700;
}

.@{ant-prefix}-select-dropdown-menu-item-active:not(.@{ant-prefix}-select-dropdown-menu-item-disabled) {
  background: @grey-050;
  color: @blue-600;
}

.@{ant-prefix}-select-dropdown-menu-item-selected {
  && {
    background: none;
    color: @grey-700;
  }
}

.@{ant-prefix}-select-dropdown--single {
  .@{ant-prefix}-select-dropdown-menu-item-selected {
    &:after {
      position: absolute;
      width: 24px;
      height: 24px;
      right: 8px;
      content: url(data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbnMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0iIzc2ZGMyNSIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6bm9uZTt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPjAxLTAyLWNoZWNrLXM8L3RpdGxlPjxyZWN0IGlkPSJjYW52YXMiIGNsYXNzPSJjbHMtMSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+PHBhdGggZD0iTTEwLjYxLDE1Ljc0YS43NS43NSwwLDAsMS0uNTMtLjIyTDcsMTIuMzZhLjc1Ljc1LDAsMSwxLDEuMDYtMWwyLjU4LDIuNjFMMTYsOC40OGEuNzcuNzcsMCwwLDEsMS4wNywwLC43NS43NSwwLDAsMSwwLDEuMDZsLTUuODksNkEuNzkuNzksMCwwLDEsMTAuNjEsMTUuNzRaIi8+PC9zdmc+);
      color: @success-color;
      font-size: 20px;
      z-index: 11;
    }
  }
}

.@{ant-prefix}-select-dropdown {
  box-shadow: @box-shadow-active;
}

.@{ant-prefix}-select-dropdown-menu {
  padding: 8px;
  .ant-select-dropdown-menu-item-selected {
  }
}

.@{ant-prefix}--select-focused .@{ant-prefix}-select-selection,
.@{ant-prefix}-select-selection:focus,
.@{ant-prefix}-select-selection:active {
  box-shadow: inset 0 0 0 1px @primary-color;
  border-color: @primary-color;
}

.@{ant-prefix}-select:not(.@{ant-prefix}-select-no-arrow) {
  .@{ant-prefix}-select-selection__clear {
    right: 30px;
  }
}

.@{ant-prefix}-select-dropdown-menu-item-group-title {
  color: @grey-700;
}
