@import '~antd/lib/modal/style/index.less';
@import '~@synerise/ds-core/src/style/variables.less';
@import '~@synerise/ds-core/src/style/config.less';

.progress-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #949ea6;

  strong {
    font-weight: 500;
    color: #384350;
  }
  .ant-progress {
    margin: 14px 0;
  }
  .ant-progress-line {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background: @grey-200;
    overflow: hidden;
    box-sizing: content-box;
    .ant-progress-outer {
      display: flex;
    }
    .ant-progress-inner {
      width: 100%;
    }
    .ant-progress-outer,
    .ant-progress-inner {
      background: transparent;
    }
    .ant-progress-outer,
    .ant-progress-inner,
    .ant-progress-bg {
      height: 6px !important;
    }
    .ant-progress-bg:first-child {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: 2px solid @white;
    }
  }
}
