
.ds-headline-1 {
  font-family: Graphik;
  font-size: 50px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: center;
  color: #141414;
  align-items: center;
  justify-content: center;
  strong {
    font-weight: 500;
  }
}

.ds-headline-2 {
  font-family: Graphik;
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: left;
  color: #141414;
  strong {
    font-weight: 500;
  }
}

.ds-sub-headline {
  font-family: Graphik;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: center;
  color: #141414;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ds-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ds-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 141px 0 30px;
}

.ds-intro-image-wrapper {
  position: relative;
  display: flex;
  img {
    position: relative;
    z-index: 1;
    width: 1400px;
    max-width: 100%;
  }
}


.ds-home-develop {
  padding: 104px 0 200px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.ds-boxes {
  margin: 85px 0 163px;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $grid-mobile-breakpoint) {
    flex-direction: column;
    margin-bottom: 80px;
  }
}

.ds-box {
  width: calc(50% - 23px);
  margin: 0;
  @media screen and (max-width: $grid-mobile-breakpoint) {
    width: 100%;
    margin-bottom: 30px;
  }
  &-image {
    background-color: #fff;
    width: 100%;
    padding: 47px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .c-industries-listing__content {
    padding: 30px 30px 60px;
  }
  .c-industries-listing__paragraph {
    margin-bottom: 0;
  }
  .c-industries-listing__read-more {
    position: relative;
    padding-top: 49px;
    left: auto;
    bottom: 0;
    transform: none;
  }
}

.ds-get-familiar {
  justify-content: flex-start;
  .c-advantage__image {
    position: relative;
    img {
      z-index: 1;
      position: relative;
    }
  }
}

.ds-get-familiar-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 132px;
  padding-top: 72px;
  @media screen and (max-width: $grid-mobile-breakpoint) {
    margin-left: 0;
    width: 100%;
    padding-top: 40px;
  }
  .c-button-filled {
    &:hover {
      color: #fff;
    }
  }
  .c-generic-section__content {
    h2 {
      margin-bottom: 30px;
    }
    .c-generic-section__description {
      margin: 0 0 41px;
    }
  }
}
