@popover-prefix-cls: ~'@{ant-prefix}-popover';

.@{popover-prefix-cls}.@{popconfirm-prefix-cls} {
  z-index: @zindex-popoconfirm;
}

.@{popover-prefix-cls} {
  && {
    max-width: 288px;
    font-weight: 500;
    transform: none !important;
  }

  .@{popover-prefix-cls}-inner {
    border-radius: 3px;
    box-shadow: 0 16px 32px 0 rgba(35, 41, 54, 0.1);
  }
  .@{popover-prefix-cls}-content {
    margin: 0px !important;
  }

  .@{popover-prefix-cls}-inner-content {
    padding: 16px;

    .@{popover-prefix-cls}-message {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0;

      .@{popover-prefix-cls}-message-icon,
      .anticon {
        display: none;
      }
    }

    .@{popover-prefix-cls}-message-title {
      padding-left: 0;
      font-size: 14px;
      line-height: 1.43;
      color: @grey-800;
      max-width: 100%;
    }

    .@{popover-prefix-cls}-buttons {
      display: none;
    }
  }
  &-arrow {
    &&& {
      display: flex !important;
    }
  }
}
