node_modules/*
**/node_modules/*
**/dist/*
.cache
scripts/create-component
scripts/style
scripts/utils
*.config.js
config/
**/core/build/*.js
**/core/**/variables.js
**/icon/build/*.js
packages/portal
packages/docs-site
__specs__
