image: quay.io/synerise/base-build-images:nodejs22

variables:
  APP: ds-docs
  NODE_OPTIONS: --max-old-space-size=4096
  GITOPS: 'true'
  MODULE: 'documentation'
  LIBRARY_PIPELINE: 'NO'
  APP_NAME_OVERRIDE: ds-docs

cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules

stages:
  - install
  - prepare
  - test
  - build
  - deploy
  - k8s-deploy-stg
  - k8s-deploy-prod

include:
  - template: Code-Quality.gitlab-ci.yml
  - project: 'Core/gitlab_templates'
    ref: master
    file: '/ai_deploy_kapitan.yml'


install:
  stage: install
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH 
  script:
    - yarn --frozen-lockfile
    - yarn lint
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules
    policy: pull-push
  artifacts:
    untracked: true

build_packages:
  stage: prepare
  needs: ['install']
  variables:
    KUBERNETES_CPU_REQUEST: 4
    KUBERNETES_MEMORY_REQUEST: 16Gi
    KUBERNETES_MEMORY_LIMIT: 22Gi
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules
    policy: pull
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH 
  script:
    - yarn build
  artifacts:
    untracked: true

run_tests:
  stage: test
  needs: ['build_packages']
  variables:
    KUBERNETES_CPU_REQUEST: 4
    KUBERNETES_MEMORY_REQUEST: 16Gi
    KUBERNETES_MEMORY_LIMIT: 22Gi
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules
    policy: pull
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  script:
    - yarn test:ci

chromatic_publish:
  stage: test
  needs: ['build_packages']
  variables:
    KUBERNETES_CPU_REQUEST: 4
    KUBERNETES_MEMORY_REQUEST: 16Gi
    KUBERNETES_MEMORY_LIMIT: 22Gi
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  script:
    - test ! -e packages/storybook/storybook-static && (cd packages/storybook; yarn build-storybook --quiet --stats-json)
    - yarn npx:lerna run pack:ci --since origin/master
    - (cd packages/storybook/storybook-static/static; ls > index.txt)
    - (cd packages/storybook; npx chromatic --project-token=$CHROMATIC_PROJECT_TOKEN_SB7 --storybook-build-dir ./storybook-static/ --exit-zero-on-changes)
  interruptible: true

publish_packages:
  stage: build
  needs: ['build_packages']
  environment: 
    name: npm
  variables:
    PUBLISH_TITLE: "build: publish"
  rules:
    - if: ($CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_TITLE == $PUBLISH_TITLE)
  script:
    - echo "Tag version $CI_COMMIT_TAG"
    - echo "Commit ref $CI_COMMIT_REF_NAME"
    - echo "Commit title $CI_COMMIT_TITLE"
    - echo "Publisher $GITLAB_USER_EMAIL"
    - echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}'>.npmrc
    - echo "email = $GITLAB_USER_EMAIL" >> .npmrc
    - npx lerna publish from-package --no-git-tag-version --yes

build_storybook:
  stage: build
  needs: ['build_packages']
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH 
  script:
    - yarn build-storybook
    - mv packages/storybook/storybook-static/ packages/docs-site/storybook-static
  artifacts:
    paths:
      - packages/docs-site

deploy_storybook:
  image: artifactory.snrinternal.com/docker.io/docker:stable
  stage: deploy
  needs: ['build_storybook']
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH 
  script:
    - SANITY_BRANCH=$CI_COMMIT_REF_SLUG
    - echo "Sanitized branch name ${SANITY_BRANCH}"
    - docker login $QUAY_REPO_HOST -u "$QUAY_REPO_USER" -p "$QUAY_REPO_PASS"
    - cd packages/docs-site
    - pwd
    - docker build -t ds-docs .
    - echo "Push commit image"

    - docker tag ds-docs quay.io/synerise/ds-docs:"$SANITY_BRANCH"-"${CI_COMMIT_SHA}"
    - docker push quay.io/synerise/ds-docs:"$SANITY_BRANCH"-"${CI_COMMIT_SHA}"
    - echo "Image pushed to remote repository from branch ${CI_COMMIT_REF_NAME}"

    - docker tag ds-docs quay.io/synerise/ds-docs:"$SANITY_BRANCH"-latest
    - docker push quay.io/synerise/ds-docs:"$SANITY_BRANCH"-latest
    - echo "Image pushed to remote repository from branch ${CI_COMMIT_REF_NAME} for commit ${CI_COMMIT_SHA}"

k8s-prod-gitops:
  extends: .autodeploy-template
  stage: k8s-deploy-prod
  environment: 
    name: prod
  when: manual
  only:
    refs:
      - master
    variables:
      - $LIBRARY_PIPELINE == "NO" && $GITOPS == "true"
  parallel:
    matrix:
      - ENV: g001-misc1
        AUTODEPLOY_TAG: $CI_COMMIT_REF_SLUG-$CI_COMMIT_SHA


chromatic_publish_baseline:
  stage: deploy
  needs: ['build_packages']
  allow_failure: true
  rules:
    - if: ($CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_TITLE == $PUBLISH_TITLE)
      when: on_success
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH 
      when: manual
  script:
    - (cd packages/storybook; yarn chromatic --project-token=$CHROMATIC_PROJECT_TOKEN_SB7 --auto-accept-changes)
  interruptible: true
  

