image: quay.io/synerise/base-build-images:nodejs20

variables:
  APP: ds-docs
  NODE_OPTIONS: --max-old-space-size=4096
  GITOPS: "true"
  MODULE: "documentation"
  LIBRARY_PIPELINE: "NO"
  APP_NAME_OVERRIDE: ds-docs

cache:
  key: ds
  paths:
    - node_modules/

stages:
  - test
  - build
  - k8s-deploy-stg
  - k8s-deploy-prod
  - deploy

include:
  - template: Code-Quality.gitlab-ci.yml
  - project: 'Core/gitlab_templates'
    ref: master
    file: '/ai_deploy_kapitan.yml'

build:
  stage: test
  variables:
    KUBERNETES_CPU_REQUEST: 4
    KUBERNETES_MEMORY_REQUEST: 16Gi
    KUBERNETES_MEMORY_LIMIT: 22Gi
  except:
    refs:
      - tags
      - container
  tags:
    - vms
  script:
    - yarn --frozen-lockfile
    - yarn lint
    - yarn build
    - yarn test:ci
    - echo "Tag version $CI_COMMIT_TAG"
    - echo "Commit ref $CI_COMMIT_REF_NAME"
    - echo "Publisher $GITLAB_USER_EMAIL"
    - echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}'>.npmrc
    - echo "email = $GITLAB_USER_EMAIL" >> .npmrc
    - (if [ "$CI_COMMIT_REF_NAME" == "master" ]; then npx lerna publish from-package --no-git-tag-version --yes;fi);
  interruptible: true

docs_build:
  stage: test
  only:
    refs:
      - tags
      - master
      - dev
  script:
    - yarn --frozen-lockfile
    - yarn build
    - yarn build-storybook
    - mv packages/storybook/storybook-static/ packages/docs-site/storybook-static

  artifacts:
    paths:
      - packages/docs-site/storybook-static/*

docs_deploy:
  image: docker.snrinternal.com/docker:stable
  stage: build
  needs: ['docs_build']
  only:
    refs:
      - master
      - dev
  allow_failure: true
  script:
    - SANITY_BRANCH=$CI_COMMIT_REF_SLUG
    - echo "Sanitized branch name ${SANITY_BRANCH}"
    - docker login $QUAY_REPO_HOST -u "$QUAY_REPO_USER" -p "$QUAY_REPO_PASS"
    - cd packages/docs-site
    - pwd
    - docker build -t ds-docs .
    - echo "Push commit image"

    - docker tag ds-docs quay.io/synerise/ds-docs:"$SANITY_BRANCH"-"${CI_COMMIT_SHA}"
    - docker push quay.io/synerise/ds-docs:"$SANITY_BRANCH"-"${CI_COMMIT_SHA}"
    - echo "Image pushed to remote repository from branch ${CI_COMMIT_REF_NAME}"

    - docker tag ds-docs quay.io/synerise/ds-docs:"$SANITY_BRANCH"-latest
    - docker push quay.io/synerise/ds-docs:"$SANITY_BRANCH"-latest
    - echo "Image pushed to remote repository from branch ${CI_COMMIT_REF_NAME} for commit ${CI_COMMIT_SHA}"

docs_deploy_from_tag:
  image: docker.snrinternal.com/docker:stable
  stage: build
  needs: ['docs_build']
  only:
    refs:
      - tags
  allow_failure: true
  script:
    - SANITY_BRANCH=$CI_COMMIT_REF_SLUG
    - echo "Sanitized branch name ${SANITY_BRANCH}"
    - docker login $QUAY_REPO_HOST -u "$QUAY_REPO_USER" -p "$QUAY_REPO_PASS"
    - cd packages/docs-site
    - pwd
    - docker build -t ds-docs .
    - echo "Push commit image"

    - docker tag ds-docs quay.io/synerise/ds-docs:"$SANITY_BRANCH"-"${CI_COMMIT_SHA}"
    - docker push quay.io/synerise/ds-docs:"$SANITY_BRANCH"-"${CI_COMMIT_SHA}"
    - echo "Image pushed to remote repository from branch ${CI_COMMIT_REF_NAME}"

    - docker tag ds-docs quay.io/synerise/ds-docs:"$SANITY_BRANCH"
    - docker push quay.io/synerise/ds-docs:"$SANITY_BRANCH"
    - echo "Image pushed to remote repository from branch ${CI_COMMIT_REF_NAME} for commit ${CI_COMMIT_SHA}"

k8s-prod-gitops:
  extends: .autodeploy-template
  stage: k8s-deploy-prod
  when: manual
  only:
    refs:
      - master
    variables:
      - $LIBRARY_PIPELINE == "NO" && $GITOPS == "true"
  parallel:
    matrix:
      - ENV: p001
        AUTODEPLOY_TAG: $CI_COMMIT_REF_SLUG-$CI_COMMIT_SHA

chromatic_publish_sb7:
  stage: deploy
  only:
    refs:
      - merge_requests
  variables:
    CHROMATIC_PROJECT_TOKEN: $CHROMATIC_PROJECT_TOKEN_SB7
  before_script:
    - yarn install --frozen-lockfile
    - yarn build
  script:
    - test ! -e packages/storybook/storybook-static && (cd packages/storybook; yarn build-storybook --quiet)
    - yarn npx:lerna run pack:ci --since origin/master
    - (cd packages/storybook/storybook-static/static; ls > index.txt)
    - (cd packages/storybook; npx chromatic --project-token=$CHROMATIC_PROJECT_TOKEN_SB7 --storybook-build-dir ./storybook-static/ --exit-zero-on-changes)
  interruptible: true

chromatic_publish_baseline:
  stage: deploy
  when: manual
  needs: ['build']
  only:
    refs:
      - master
    variables:
      - $CHROMATIC_PROJECT_TOKEN_SB7
  script:
    - yarn install --frozen-lockfile
    - yarn build
    - (cd packages/storybook; yarn chromatic --project-token=$CHROMATIC_PROJECT_TOKEN_SB7 --auto-accept-changes)
  interruptible: true
