image: docker.nexus.snrinternal.com/synerise/base-build-images:nodejs24

variables:
  APP: ds-docs
  NODE_OPTIONS: --max-old-space-size=4096
  GITOPS: 'true'
  MODULE: 'documentation'
  LIBRARY_PIPELINE: 'NO'
  APP_NAME_OVERRIDE: ds-docs
  NPM_REGISTRY: https://nexus.snrinternal.com/repository/npm-release/

.install_pnpm: &install_pnpm
  - npm install -g pnpm@latest-10
  - pnpm config set store-dir .pnpm-store
  - export SNR_NPM_TOKEN="$(echo -n $SNR_NPM_REGISTRY_USERNAME:$SNR_NPM_REGISTRY_PASSWORD | base64)"
  - cp .npmrc.dist .npmrc


default:
  cache:
    - key:
        files:
          - pnpm-lock.yaml
      paths:
        - .pnpm-store
      policy: pull
    - key: $CI_COMMIT_REF_SLUG
      paths:
        - .nx
      policy: pull-push

stages:
  - install
  - prepare
  - test
  - build
  - deploy
  - k8s-deploy-stg
  - k8s-deploy-prod

include:
  - template: Code-Quality.gitlab-ci.yml
  - project: 'Core/gitlab_templates'
    ref: master
    file: '/ai_deploy_kapitan.yml'


install:
  stage: install
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - !reference [.install_pnpm]
    - pnpm config set registry $NPM_REGISTRY
    - pnpm config set unsafe-perm true
    - cp .npmrc.dist .npmrc
    - echo "" >> .npmrc
    - export SNR_NPM_TOKEN="$(echo -n $SNR_NPM_REGISTRY_USERNAME:$SNR_NPM_REGISTRY_PASSWORD | base64)"
    - echo "//nexus.snrinternal.com/repository/npm-release/:_auth = $SNR_NPM_TOKEN" >> .npmrc
    - echo "email = $NPM_EMAIL" >> .npmrc
    - echo "always-auth = true" >> .npmrc
  script:
    - pnpm install --frozen-lockfile
    - pnpm lint
    - rm -f .npmrc
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
        - .pnpm-store
    policy: pull-push

build_packages:
  stage: prepare
  needs: ['install']
  variables:
    KUBERNETES_CPU_REQUEST: 4
    KUBERNETES_MEMORY_REQUEST: 16Gi
    KUBERNETES_MEMORY_LIMIT: 22Gi
  cache:
    - key:
        files:
        - pnpm-lock.yaml
      paths:
        - .pnpm-store
      policy: pull
    - key: $CI_COMMIT_REF_SLUG
      paths:
        - .nx
      policy: pull-push
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - !reference [.install_pnpm]
  script:
    - pnpm install --frozen-lockfile --offline
    - pnpm build
  artifacts:
    paths:
      - packages/components/*/dist
      - packages/components/flag/src/icons
      - packages/components/icon/src/icons
      - packages/components/avatar/src/defaultAvatars
    expire_in: 1h
    # when: on_success

circular_dependencies:
  stage: test
  needs: ['build_packages']
  variables:
    KUBERNETES_CPU_REQUEST: 4
    KUBERNETES_MEMORY_REQUEST: 16Gi
    KUBERNETES_MEMORY_LIMIT: 22Gi
  cache:
    - key:
        files:
        - pnpm-lock.yaml
      paths:
        - .pnpm-store
      policy: pull
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  before_script:
    - !reference [.install_pnpm]
  script:
    - pnpm install --frozen-lockfile --offline
    - pnpm check:circular-dependencies


run_tests:
  stage: test
  needs: ['build_packages']
  variables:
    KUBERNETES_CPU_REQUEST: 4
    KUBERNETES_MEMORY_REQUEST: 16Gi
    KUBERNETES_MEMORY_LIMIT: 22Gi
  cache:
    - key:
        files:
        - pnpm-lock.yaml
      paths:
        - .pnpm-store
      policy: pull
    - key: $CI_COMMIT_REF_SLUG
      paths:
        - .nx
      policy: pull-push
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  before_script:
    - !reference [.install_pnpm]
  script:
    - ls -l packages/components/core
    - pnpm install --frozen-lockfile --offline
    - ls -l packages/components/core
    - pnpm test:ci

chromatic_publish:
  stage: test
  needs: ['build_packages']
  variables:
    KUBERNETES_CPU_REQUEST: 4
    KUBERNETES_MEMORY_REQUEST: 16Gi
    KUBERNETES_MEMORY_LIMIT: 22Gi
  cache:
    - key:
        files:
        - pnpm-lock.yaml
      paths:
        - .pnpm-store
      policy: pull
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  before_script:
    - !reference [.install_pnpm]
  script:
    - ls -l packages/components/core
    - pnpm install --frozen-lockfile --prefer-offline
    - apt-get -qq update
    - apt-get install -y jq
    - test ! -e packages/storybook/storybook-static && (cd packages/storybook; pnpm build-storybook --quiet --stats-json)
    - npx lerna run pack:ci --since origin/master
    - (cd packages/storybook/storybook-static/static; ls > index.txt)
    - (cd packages/storybook; npx chromatic --diagnostics-file --project-token=$CHROMATIC_PROJECT_TOKEN_SB7 --storybook-build-dir ./storybook-static/ --exit-zero-on-changes)
    - CHROMATIC_SB_URL=$(jq -r '.storybookUrl' packages/storybook/chromatic-diagnostics.json)
    - echo "CHROMATIC_SB_URL=$CHROMATIC_SB_URL" >> deploy.env
    - pnpm tgz-package-json --url $CHROMATIC_SB_URL --inputFilePath packages/storybook/storybook-static/static/index.txt --outputFilePath packages.json
  artifacts:
    reports:
      dotenv: deploy.env
    expose_as: "package tgz versions json"
    paths:
      - packages.json
      - packages/storybook/chromatic-diagnostics.json
  environment:
    name: review/$CI_COMMIT_REF_SLUG
    url: $CHROMATIC_SB_URL 
  interruptible: true

publish_packages:
  stage: build
  needs: ['build_packages']
  cache:
    - key:
        files:
        - pnpm-lock.yaml
      paths:
        - .pnpm-store
      policy: pull
  environment:
    name: npm
  variables:
    PUBLISH_TITLE: "build: publish"
  rules:
    - if: ($CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_TITLE == $PUBLISH_TITLE)
  before_script:
    - !reference [.install_pnpm]
  script:
    - pnpm config set registry https://registry.npmjs.org/
    - pnpm install --frozen-lockfile --offline
    - echo "Tag version $CI_COMMIT_TAG"
    - echo "Commit ref $CI_COMMIT_REF_NAME"
    - echo "Commit title $CI_COMMIT_TITLE"
    - echo "Publisher $GITLAB_USER_EMAIL"
    - echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}'>.npmrc
    - echo "email = $GITLAB_USER_EMAIL" >> .npmrc
    - npx lerna publish from-package --no-git-tag-version --yes
    - rm -f .npmrc

build_storybook:
  stage: build
  needs: ['build_packages']
  cache:
    - key:
        files:
        - pnpm-lock.yaml
      paths:
        - .pnpm-store
      policy: pull
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  before_script:
    - !reference [.install_pnpm]
  script:
    - pnpm install --frozen-lockfile --offline
    - pnpm build-storybook
    - mv packages/storybook/storybook-static/ packages/docs-site/storybook-static
  artifacts:
    paths:
      - packages/docs-site
    expire_in: 1h
    when: on_success

deploy_storybook:
  image: docker.nexus.snrinternal.com/docker:stable
  stage: deploy
  needs: ['build_storybook']
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script:
    - SANITY_BRANCH=$CI_COMMIT_REF_SLUG
    - echo "Sanitized branch name ${SANITY_BRANCH}"
    - echo "${SNR_DOCKER_REGISTRY_PASSWORD}" | docker login "${SNR_DOCKER_REGISTRY_HOST}" --username "${SNR_DOCKER_REGISTRY_USERNAME}" --password-stdin
    - echo "${SNR_DOCKER_REGISTRY_PASSWORD}" | docker login "${SNR_DOCKER_REGISTRY_GLOBAL_HOST}" --username "${SNR_DOCKER_REGISTRY_USERNAME}" --password-stdin
    - cd packages/docs-site
    - pwd
    - docker build -t ds-docs .
    - echo "Push commit image"

    - docker tag ds-docs $SNR_DOCKER_REGISTRY_HOST/synerise/ds-docs:"$SANITY_BRANCH"-"${CI_COMMIT_SHA}"
    - docker push $SNR_DOCKER_REGISTRY_HOST/synerise/ds-docs:"$SANITY_BRANCH"-"${CI_COMMIT_SHA}"
    - echo "Image pushed to remote repository from branch ${CI_COMMIT_REF_NAME}"

    - docker tag ds-docs $SNR_DOCKER_REGISTRY_HOST/synerise/ds-docs:"$SANITY_BRANCH"-latest
    - docker push $SNR_DOCKER_REGISTRY_HOST/synerise/ds-docs:"$SANITY_BRANCH"-latest
    - echo "Image pushed to remote repository from branch ${CI_COMMIT_REF_NAME} for commit ${CI_COMMIT_SHA}"

k8s-prod-gitops:
  extends: .autodeploy-template
  stage: k8s-deploy-prod
  environment:
    name: prod
  when: manual
  only:
    refs:
      - master
    variables:
      - $LIBRARY_PIPELINE == "NO" && $GITOPS == "true"
  parallel:
    matrix:
      - ENV: g001-misc1
        AUTODEPLOY_TAG: $CI_COMMIT_REF_SLUG-$CI_COMMIT_SHA


chromatic_publish_baseline:
  stage: deploy
  needs: ['build_packages']
  cache:
    - key:
        files:
        - pnpm-lock.yaml
      paths:
        - .pnpm-store
      policy: pull
  allow_failure: true
  variables:
    PUBLISH_TITLE: "build: publish"
  rules:
    - if: ($CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_COMMIT_TITLE == $PUBLISH_TITLE)
      when: on_success
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
  before_script:
    - !reference [.install_pnpm]
  script:
    - pnpm install --frozen-lockfile --offline
    - (cd packages/storybook; pnpm chromatic --project-token=$CHROMATIC_PROJECT_TOKEN_SB7 --auto-accept-changes)
  interruptible: true
