image: node:16.20.2

variables:
  APP: ds-docs
  NODE_OPTIONS: --max-old-space-size=4096
  GITOPS: "true"
  MODULE: "documentation"
  LIBRARY_PIPELINE: "NO"
  APP_NAME_OVERRIDE: ds-docs

cache:
  key: ds
  paths:
    - node_modules/

stages:
  - test
  - build
  - k8s-deploy-stg
  - k8s-deploy-prod
  - deploy

include:
  - template: Code-Quality.gitlab-ci.yml
  - project: 'Core/gitlab_templates'
    ref: master
    file: '/ai_deploy_kapitan.yml'

build:
  stage: test
  variables:
    KUBERNETES_CPU_REQUEST: 4
    KUBERNETES_MEMORY_REQUEST: 16Gi
    KUBERNETES_MEMORY_LIMIT: 22Gi
  except:
    refs:
      - tags
      - container
  tags:
    - vms
  script:
    - yarn --frozen-lockfile
    - yarn lint
    - yarn build
    - yarn test:ci
    - echo "Tag version $CI_COMMIT_TAG"
    - echo "Commit ref $CI_COMMIT_REF_NAME"
    - echo "Publisher $GITLAB_USER_EMAIL"
    - echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}'>.npmrc
    - echo "email = $GITLAB_USER_EMAIL" >> .npmrc
    - (if [ "$CI_COMMIT_REF_NAME" == "master" ]; then npx lerna publish from-package --no-git-tag-version --yes;fi);
  interruptible: true

docs_build:
  stage: test
  only:
    refs:
      - tags
      - master
      - dev
  script:
    - yarn --frozen-lockfile
    - sed -i 's/metadata.hasCustomBabel = !!/mainConfig = mainConfig || {}; metadata.hasCustomBabel = !!/' packages/portal/node_modules/@storybook/telemetry/dist/cjs/storybook-metadata.js
    - yarn build
    - yarn npx:lerna run build-docs
    - mv packages/portal/storybook-static/ packages/docs-site/website/build
    - mv packages/storybook/storybook-static/ packages/docs-site/website/build/storybook-new
    - yarn docs-build
    - mv docs/dist/ packages/docs-site/website/build/styleguide
    
  artifacts:
    paths:
      - packages/docs-site/website/build/*

docs_deploy:
  image: artifactory.snrinternal.com/docker.io/docker:stable
  stage: build
  needs: ['docs_build']
  only:
    refs:
      - master
      - dev
  allow_failure: true
  script:
    - SANITY_BRANCH=$CI_COMMIT_REF_SLUG
    - echo "Sanitized branch name ${SANITY_BRANCH}"
    - docker login $QUAY_REPO_HOST -u "$QUAY_REPO_USER" -p "$QUAY_REPO_PASS"
    - cd packages/docs-site
    - pwd
    - docker build -t ds-docs .
    - echo "Push commit image"

    - docker tag ds-docs quay.io/synerise/ds-docs:"$SANITY_BRANCH"-"${CI_COMMIT_SHA}"
    - docker push quay.io/synerise/ds-docs:"$SANITY_BRANCH"-"${CI_COMMIT_SHA}"
    - echo "Image pushed to remote repository from branch ${CI_COMMIT_REF_NAME}"

    - docker tag ds-docs quay.io/synerise/ds-docs:"$SANITY_BRANCH"-latest
    - docker push quay.io/synerise/ds-docs:"$SANITY_BRANCH"-latest
    - echo "Image pushed to remote repository from branch ${CI_COMMIT_REF_NAME} for commit ${CI_COMMIT_SHA}"

docs_deploy_from_tag:
  image: artifactory.snrinternal.com/docker.io/docker:stable
  stage: build
  needs: ['docs_build']
  only:
    refs:
      - tags
  allow_failure: true
  script:
    - SANITY_BRANCH=$CI_COMMIT_REF_SLUG
    - echo "Sanitized branch name ${SANITY_BRANCH}"
    - docker login $QUAY_REPO_HOST -u "$QUAY_REPO_USER" -p "$QUAY_REPO_PASS"
    - cd packages/docs-site
    - pwd
    - docker build -t ds-docs .
    - echo "Push commit image"

    - docker tag ds-docs quay.io/synerise/ds-docs:"$SANITY_BRANCH"-"${CI_COMMIT_SHA}"
    - docker push quay.io/synerise/ds-docs:"$SANITY_BRANCH"-"${CI_COMMIT_SHA}"
    - echo "Image pushed to remote repository from branch ${CI_COMMIT_REF_NAME}"

    - docker tag ds-docs quay.io/synerise/ds-docs:"$SANITY_BRANCH"
    - docker push quay.io/synerise/ds-docs:"$SANITY_BRANCH"
    - echo "Image pushed to remote repository from branch ${CI_COMMIT_REF_NAME} for commit ${CI_COMMIT_SHA}"

k8s-prod-gitops:
  extends: .autodeploy-template
  stage: k8s-deploy-prod
  when: manual
  only:
    refs:
      - master
      - tags
    variables:
      - $LIBRARY_PIPELINE == "NO" && $GITOPS == "true"
  parallel:
    matrix:
      - ENV: p001
        AUTODEPLOY_TAG: $CI_COMMIT_REF_SLUG-$CI_COMMIT_SHA

chromatic_publish:
  stage: deploy
  only:
    refs:
      - merge_requests
    variables:
      - $CHROMATIC_PROJECT_TOKEN
  script:
    - test ! -e packages/portal/storybook-static && yarn install
    - sed -i 's/metadata.hasCustomBabel = !!/mainConfig = mainConfig || {}; metadata.hasCustomBabel = !!/' packages/portal/node_modules/@storybook/telemetry/dist/cjs/storybook-metadata.js
    - test ! -e packages/portal/storybook-static && (yarn build ${SB_OPTS:---since}; cd packages/portal; yarn build-docs --quiet)
    - yarn npx:lerna run pack:ci --since origin/master
    - (cd packages/portal/storybook-static/static; ls > index.txt)
    - (cd packages/portal; npx chromatic@6.11 ${SB_DEPLOY_OPTS:---allow-console-errors --exit-zero-on-changes} --project-token=$CHROMATIC_PROJECT_TOKEN --storybook-build-dir ./storybook-static/)
  interruptible: true

chromatic_publish_sb7:
  stage: deploy
  only:
    refs:
      - merge_requests
  variables:
    CHROMATIC_PROJECT_TOKEN: $CHROMATIC_PROJECT_TOKEN_SB7
  before_script:
    - yarn install --frozen-lockfile
    - yarn build
  script:
    - yarn storybook:chromatic --project-token=$CHROMATIC_PROJECT_TOKEN_SB7
  interruptible: true

chromatic_publish_baseline:
  stage: deploy
  when: manual
  needs: ['build']
  only:
    refs:
      - master
    variables:
      - $CHROMATIC_PROJECT_TOKEN_SB7
  script:
    - yarn install --frozen-lockfile
    - yarn build
    - (cd packages/storybook; yarn chromatic --project-token=$CHROMATIC_PROJECT_TOKEN_SB7 --auto-accept-changes)
  interruptible: true

chromatic_publish_merge_to_dest_branch:
  stage: deploy
  when: manual
  only:
    refs:
      - merge_requests
    variables:
      - $CHROMATIC_PROJECT_TOKEN
      - $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
      - $EMAIL
      - $GIT_AUTHOR_NAME
      - $GIT_COMMITTER_NAME
  allow_failure: true
  script:
    - git checkout HEAD~0; git merge --no-commit origin/"$CI_MERGE_REQUEST_TARGET_BRANCH_NAME";
    - test ! -e packages/portal/storybook-static && yarn install
    - sed -i 's/metadata.hasCustomBabel = !!/mainConfig = mainConfig || {}; metadata.hasCustomBabel = !!/' packages/portal/node_modules/@storybook/telemetry/dist/cjs/storybook-metadata.js
    - test ! -e packages/portal/storybook-static && (yarn build ${SB_OPTS:---since}; cd packages/portal; yarn build-docs --quiet)
    - (cd packages/portal; npx chromatic@6.11 ${SB_DEPLOY_OPTS:---allow-console-errors --exit-zero-on-changes} --project-token=$CHROMATIC_PROJECT_TOKEN --storybook-build-dir ./storybook-static/) 
  