{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^[a-z*]", "^[@synerise/*]", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "bracketSameLine": false
}
