node_modules/*
**/node_modules/*
**/dist/*
.cache
scripts/create-component/*
scripts/style
scripts/utils
*.config.js
*.spec.*
config/
**/core/build/*.js
**/core/**/variables.js
**/icon/build/*.js
**/flag/build/*.js
**/icon/src/icons/*
**/flag/src/icons/*
packages/storybook/storybook-static
