.ds-autocomplete-dropdown.ds-autocomplete-dropdown {
  box-shadow: 0 16px 32px 0 rgba(35, 41, 54, 0.1);
  padding: 8px;
  .ant-select-item-option {
    &.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      color: @grey-700;
      background: @grey-050;
    }
  }
}

.ds-autocomplete {
  .ant-select
    .ant-select-selector
    .ant-select-selection-search
    .ant-select-selection-search-input {
    right: 15px;
  }
  .ant-select-single .ant-select-selector .ant-select-selection-search {
    left: 12px;
  }
}
