.ds-autocomplete-dropdown {
  .ant-select-item-option {
    &.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      color: @grey-700;
      background: @grey-050;
    }
  }
}

.ds-autocomplete {
  .ant-select .ant-select-selector .ant-select-selection-search .ant-select-selection-search-input {
    padding-right: 10px;
  }
}
