.ant-input-number-input {
  height: 32px;
  padding: 0 12px;
  border: 0;
  outline: 0;
  transition: unset;

  * {
    transition: unset;
  }
}

.ant-input-number-input {
  &:focus {
    box-shadow: unset;
  }
}

.ant-input-number {
  && {
    line-height: 1.38;
    height: 32px;

    &:hover {
      border-right-width: 1px !important;

      &.ant-input-number-focused {
        border-right-width: 2px !important;
      }
    }
  }
  border-width: 1px;

  &:hover {
    .ant-input-number-handler-wrap {
      top: 1px;
      bottom: 1px;
      height: auto;
    }
  }

  &&.ant-input-number-focused {
    .ant-input-number-handler-wrap {
      top: 0px;
      right: 0px;
    }
  }

  .ant-input-number-handler-wrap {
    z-index: 3;
  }

  .ant-input-number-input {
    position: relative;
    top: 0px;
  }

  &.ant-input-number-focused {
    border: 2px solid @blue-600 !important;

    .ant-input-number-input {
      top: 0;
      box-shadow: unset;
      height: 28px;
      border: none;
    }
  }

  &.error {
    border: 2px solid @red-600 !important;

    .ant-input-number-input {
      top: 0;
      height: 28px;
    }
  }
}
