.c-main-footer {
  .c-main-footer__columns {
    & > div {
      width: 208px;
      flex: none !important;
      @media screen and (max-width: $grid-mobile-breakpoint) {
        width: 100%;
      }
    }
    .c-main-footer__first-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @media screen and (max-width: $grid-tablet-breakpoint) {
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      @media screen and (max-width: $grid-mobile-breakpoint) {
        flex-direction: column;
      }
      .c-social-list {
        padding: 0;
        @media screen and (max-width: $grid-mobile-breakpoint) {
          width: 100%;
        }
      }
    }
    .c-links-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      @media screen and (max-width: $grid-mobile-breakpoint) {
        width: 100%;
        align-items: center;
        ul {
          max-height: 0;
          transition: max-height .3s ease;
        }
        &.expanded {
          ul {
            max-height: 100%;
            height: 100%;
          }
        }
      }
      ul {
        padding: 0;
         a{
           &:hover {
             color: inherit;
           }
         }
      }
    }
  }
}
