.color-bar {
  width: 100%;
  padding: 20px;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  min-height: 100px;
}

.color-bar > span {
  display: block;
}

.color-bar:nth-child(n + 8) {
  color: #000;
}

.color-group {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.primary-colors {
  width: 40%;
}
.primary-colors__boxes {
  display: flex;
}
.primary-colors__box {
  min-width: 120px;
}
