// Blog Category
.blog-category-bar {
    background-color: $cod-dark-color;
    height: 60px;
    position: sticky;
    top: 115px;
    width: 100%;
    z-index: 100;

    // TMP STYLE
    @include for-tablet-down {
        //top: 115px!important;
    }

    nav {
        @include flexValue(false, center, space-between);
        height: 100%;
    }

    .category-bar__nav {
        position: relative;

        ul {
            display: flex;
        }

        li {
            height: 60px;
            @include flexValue(false, center, false);

            &:not(:last-of-type) {
                margin-right: 30px;
            }

        }

        &__lnk {
            display: block;
            @include font-graphik(0.937rem, $white-color, 300, 2em);
            transition: all .3s ease;
            opacity: .8;

            &:hover {
                opacity: 1;
            }

            &--active {
                font-weight: 600;
            }

        }

        .c-form__select-wrapper {
            max-width: 400px;
            
            @include for-phone-only {
                width: 70vw;
            }

            @include for-tablet {
                width: 60vw;
            }

            .c-form__input--select {
                height: 40px;
            }

            .select-arrow {
                top: 9px;
            }

        }

        &__search {
            position: absolute;
            right: 0;
            height: 100%;
            background-color: $cod-dark-color;
            display: flex;
            z-index: 1;
            padding-left: 20px;

            @include for-phone-only {
               
            }

            &::before {
                content: '';
                position: absolute;
                left: -100px;
                width: 100px;
                top: 0;
                height: 100%;
                background: $cod-dark-color;
                background: linear-gradient(270deg, rgba($cod-dark-color,1) 0%, rgba($cod-dark-color,0) 100%);

                @include for-phone-only{
                    display: none;
                }
            }

            .inline-search {

                &.expanded {

                    input {
                        width: 230px;

                        @include for-phone-only {
                            width: calc(100vw - 100px);
                        }

                        @include for-tablet {
                            width: calc(100vw - 90px);
                        }

                    }
    
                }

            }

            input {
                position: relative;
                right: 0;
                width: 0;
                transition: all .4s ease;
                -webkit-appearance: none;
            }
            
        }

    }

}

.inline-search {
    display: flex;
    align-items: center;

    input {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $white-color;
        width: 182px;
        outline: none;
        font-size: .875rem;
        color: $white-color;
        font-family: 'Graphik', sans-serif;
    }

    button {
        margin-left: 15px;

        i {
            font-size: 1.06rem;
            color: $white-color;
            transition: all .3s ease;

            &:before {
                margin: 0 .2em;
            }
        }

        &:hover {
            i {
                color: $accent-color;
            }
        }

    }

}

// Blog Category Header
.c-blog-category-header {
    padding-top: 60px;

    &__content {
        max-width: 560px;
        padding: $section-separator-desktop 0;

        @include for-tablet {
            padding: $section-separator-tablet 0;
        }

        @include for-phone-only {
            padding: $section-separator-mobile 0;
        }
    }

    &__title {
        margin-bottom: 80px;

        @include for-phone-only {
            margin-bottom: 40px;
        }

    }

    &__subtitle {
        margin-bottom: 0;
    }

}

.blog-category-page {

    .c-extra-dark-section {
        background-color: $cod-dark-color;
    }

}

// Blog section with article list
.blog-section {
    padding: $section-separator-desktop 0;

    @include for-phone-only {
        padding-top: 90px;
    }

    .c-tile-card {
        position: relative;

        &__image {
            position: relative;
        }

        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     opacity: 0;
        //     background-color: $white-color;
        //     box-shadow: 0 0 0 0 rgba(0,0,0,0.1);
        //     transition: all .3s ease;
        // }
    }

    &.section-first {

        .c-tile-card__content__title {
            font-size: 2.5rem;
            line-height: 1.25em;

            @include for-phone-only {
                font-size: 2rem;
            }

        }

        .l-grid > div {
            position: relative;
        }

        .l-grid > :first-child {
            z-index: 2;

            &:hover {
    
                .c-tile-card {
    
                    // &::before {
                    //     opacity: 1;
                    //     width: calc(100% + 90px);
                    //     height: calc(100% + 90px);
                    //     top: -45px;
                    //     left: -45px;
                    //     box-shadow: 0 0 25px 0 rgba(0,0,0,0.1);
                    // }
                }
            }
        }



    }

    &.section-fourth {

        .c-tile-card__content__title {
            font-size: 1.125rem;
        }

        li:hover .c-tile-card::before {
            width: calc(100% + 60px);
            height: calc(100% + 60px);
            top: -30px;
            left: -30px;
            box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
        }
        
    }

    &:not(.section-fourth) .blog-section__list > li:not(:nth-last-of-type(-n+2)) {
        
        @include for-tablet-portrait-up {
            margin-bottom: 85px;
        }

    }

    &:not(.section-fourth) .blog-section__list > li:not(:last-of-type) {
        
        @include for-phone-only {
            margin-bottom: 40px;
        }

    }

    // Card animation  

    li {
        position: relative;
        z-index: 1;

        &:hover {
            z-index: 2;

            .c-tile-card {

                // &::before {
                //     opacity: 1;
                //     width: calc(100% + 90px);
                //     height: calc(100% + 90px);
                //     top: -45px;
                //     left: -45px;
                //     box-shadow: 0 0 25px 0 rgba(0,0,0,0.1);
                // }
            }
        }
    }

}

.blog-featured {
    padding-top: $section-separator-desktop-large;

    @include for-phone-only {
        padding-top: $section-separator-desktop;
        padding-bottom: $section-separator-mobile;
    }

    @include for-tablet {
        padding-top: $section-separator-desktop;
    }

    &__title {
        font-size: 1.25rem;
        line-height: 1.5em;
        border-bottom: 1px solid rgba($mine-shaft, .1);
        padding: 5px 30px 30px;
        
        @include for-phone-only {
            margin-top: 15px;
            padding: 0;
            border-bottom: none;
            @include flexValue(false, center, space-between);
        }

    }

    &__show-more {
        display: flex;
        align-items: center;
        @include font-graphik(.875rem, false, 400, false);

        svg {
            margin-left: 5px;
            transition: all .4s ease;
            transform: rotate(0deg);
            position: relative;
            top: 0;
        }

    }
    
    &__links {
        margin-top: 30px;

        @include for-phone-only {
            margin-top: 0;
        }

        li {
            border-bottom: 1px solid rgba($mine-shaft, .1);
            padding: 0 30px 30px;

            @include for-phone-only {
                padding: 0 0 20px;
            }

            &:first-of-type {
                @include for-phone-only {
                    margin-top: 30px;
                }
            }

            &:not(:last-of-type) {
                margin-bottom: 25px;

                @include for-phone-only {
                    margin-bottom: 20px;
                }

            }

        }

        a {
            display: block;
            @include font-graphik(1.125rem, $black-color, false, 1.777em);
            transition: all .3s ease;

            @include for-desktop-up {
                opacity: .8;
            }

            @include for-phone-only {
                font-size: 1rem;
            }

            &:hover {
                opacity: 1;
            }

        }

    }

    &__main{

        @include for-phone-only {
            margin-top: 30px;
        }

        &.expanded {

            .blog-featured__show-more svg {
                transform: rotate(180deg);
                top: -2px;
            }

        }

    }
        
}

// Blog single tile
.c-tile-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {

        .c-tile-card {

            &__image img {
                @include photo-hover;
            }

            &__content__paragraph {
                @include text-hover;
            }
        }     
       }
    
    &__image {
        @include photo-default;

        img {
            width: 100%;
            height: inherit;
        }

    }

    &__content {
        flex: 1;
        position: relative;
        padding-bottom: 40px;
        
        &__category {
            display: block;
            color: $accent-color;
            margin: 25px 0;

            @include for-phone-only {
                margin: 15px 0;
            }

        }

        &__title {
            font-size: 1.5rem;
            line-height: 1.24em;
            margin: 25px 0;

            @include for-phone-only {
                font-size: 1.3rem;
                margin: 15px 0;
            }
        }

        &__paragraph {
            font-size: 1.125rem;
            line-height: 1.555em;
            margin: 25px 0 20px;
            overflow: hidden; 
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            opacity: .8;
            transition: all .4s ease;

            @include for-phone-only {
                font-size: 1rem;
                margin: 15px 0;
            }

        }

        .u-author {
            margin: 30px 0;

            @include for-phone-only {
                margin: 25px 0 15px;
            }

        }

    }

    .c-read-more {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(0);
    }

}

// Blog pagination
.blog-category-wrapper {

    .c-pagination-wrapper {
        background-color: $white-color;
        padding-bottom: 6vw;
    }

}

// Image size tmp - category listing
.blog-featured .c-tile-card__image img {
    width: 100%;
    height: 365px;
}

.section-second, .section-third, .section-fifth {
    .c-tile-card__image img {
        width: 100%;
        height: 208px;
    }
}

.section-fourth {

    .blog-section__list li:not(:last-of-type) {
        @include for-phone-only {
            margin-bottom: 40px;
        }
    }

    .c-tile-card__image img {
        width: 100%;
        height: 180px;
    }

} 



.blog-search-wrapper {

    .blog-section__list {
        margin-bottom: 60px;
    }

    &__results {

        ul li {
            margin-bottom: 60px;

            @include for-phone-only {
                margin-bottom: 30px;
                
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &__title {
            margin: 50px 0;
            @include font-graphik(1rem, false, 400, 1.5em);

            em {
                font-weight: 700;
            }
        }
    }
  
    &__no-results {

        .no-results {

            &__header {
                padding: 85px 0;

                @include for-phone-only {
                    padding: 80px 0 $section-separator-mobile;
                }

                .c-text-header {
                    font-size: 3.125rem;
                    line-height: 1em;
                    margin-bottom: 80px;

                    @include for-phone-only {
                        font-size: 2rem;
                        line-height: 1.3em;
                        margin-bottom: 40px;
                    }
                }

                .c-text-paragraph-component {
                    font-size: 1.375rem;
                    line-height: 1.636em;
                    margin-bottom: 30px;

                    @include for-phone-only {
                        font-size: 1.1rem;

                        br {
                            display: none;
                        }
                    }

                    em {
                        font-weight: 600;
                    }
                }

                .c-button-transparent {
                    border: 2px solid rgba($accent-color, .5);
                    @include font-graphik(.937rem, $accent-color, 600, 1.2em);
                    transition: all .3s ease;
                    padding: 19.5px 10px;
                    width: 192px;
                    text-align: center;

                    &:hover {
                        background-color: $accent-color;
                        border-color: $accent-color;
                        color: $white-color;
                    }
                }
            }
        }

        .c-resources-listing {
            background-color: $white-color;
            padding: 69px 0 91px;

            @include for-phone-only {
                padding: 58px 0 80px;
            }

            .c-text-header {
                font-size: 1.875rem;
                line-height: 1.4em;
                font-weight: 400;

                strong {
                    font-weight: 600;
                }
            }

            .slick-list .slick-slide > div {
                padding-bottom: 0;
            }

            a:hover {
                box-shadow: none;
            }

            .c-article-card {

                &__content {
                    padding: 33px 0 0;
                    
                    header {
                        margin-bottom: 0;
                        height: 100%;
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }

                    &__title {
                        line-height: 1.4em;
                        font-weight: 500;
                        margin-bottom: 30px;
                    }
                }

                &__content__paragraph, .c-read-more {
                    display: none;
                }
            }
        }
    }

    // LOADING
    @keyframes cube-scale-delay {
        0%, 70%, 100% {
            transform: scale3D(1, 1, 1);
        }
        35% {
            transform: scale3D(0, 0, 1);
        }
    }

    &__loading {
        @include flexValue(wrap, center, center);
        margin: 100px 0;

        &__title {
            font-weight: 500;
            margin-left: 20px;
        }

        .u-loading__cube {
            height: 60px;
            width: 60px;
            position: relative;
            right: 0;
            left: 0;
            display: inline-block;
            transition: all 0.3s ease-in-out 0;
        }

        .u-single-cube {
            width: calc(100% / 3);
            height: calc(100% / 3);
            background-color: $accent-color;
            float: left;
            animation: cube-scale-delay 1.3s infinite ease-in-out;
        }

        .sc {
            &-1 {
                animation-delay: .2s;
            }
            &-2 {
                animation-delay: .3s;
            }
            &-3 {
                animation-delay: .4s;
            }
            &-4 {
                animation-delay: .1s;
            }
            &-5 {
                animation-delay: .2s;
            }
            &-6 {
                animation-delay: .3s;
            }
            &-7 {
                animation-delay: 0s;
            }
            &-8 {
                animation-delay: .1s;
            }
            &-9 {
                animation-delay: .2s;
            }
        } 
    }
}


.c-blog-inline-section{
   // position: relative;
   opacity: 0;
   pointer-events: none;
   width: 100vw;
    left: 0;

    &__content{
        position: absolute;
        width: 100vw;
        left: 0;
    
       // position: absolute;
    }
}

