.c-company-listing {

    .c-case-study__item {
        padding: calc(#{$section-separator-desktop} * 2.3) 0;

        @include for-tablet {
            padding: $section-separator-tablet 0;
        }

        @include for-phone-only {
            padding: $section-separator-mobile 0;
        }
    }

    &__main-list {
        padding: $section-separator-desktop-large 0 50px;

        @include for-phone-only {
            padding-top: $section-separator-mobile;
            padding-bottom: $section-separator-mobile;
        }

        @include for-tablet {
            padding-top: $section-separator-tablet;
            padding-bottom: 40px;
        }

        > li {
            margin-bottom: 60px;

            @include for-phone-only {
                margin-bottom: 20px;
            }

            @include for-tablet {
                margin-bottom: 40px;
            }
            
            &:nth-last-of-type() {
                @include for-phone-only {
                    margin-bottom: 0; 
                }
            }

        }

        a {
            display: block;
            @include tile-default;

            &:hover {
                @include tile-hover;

                .c-company-card {

                    &__image img {
                        @include photo-hover;
                    }

                    &__content__paragraph {
                        @include text-hover;
                    }
                }
            }
        }

    }



}