// Specific style for contact page

.c-page-hero--contact-us {
  padding: 50px 0 25px;
  position: relative;
  @include section-before-color(430px, $alabaster-color);

  @include for-phone-only {
    padding-bottom: 0;
  }
  
  .c-page-hero__columns {
    align-items: flex-start;
  }

  .c-hero-tpl {
    width: 100%;
  }

  .c-hero-header__subtitle {
    max-width: 80%;

    @include for-phone-only {
      max-width: initial;
    }

  }

  .c-hero__right-box {

    @include for-phone-only {
      order: 2;
      max-width: initial;
      margin-top: 40px;
    }

  }

  .c-form-card {
    padding: 59px 50px 50px;

    .c-form {

      &__title {
        margin-top: 0;
        padding-bottom: 42px;
        @include font-graphik(1.875rem, false, 600, 1.2em);
      }

      &__subtitle {
        margin-bottom: 0;
      }

      &__inputs--bottom > :last-child {
        margin-bottom: 0;
      }
    }
  }

}

.c-localization {

  &:last-child {
    padding-bottom: $section-separator-desktop;

    @include for-phone-only {
      padding-bottom: $section-separator-mobile;
    }

  }
}

.c-localization__main-list {

  > li {
    margin-top: 25px;
  }

}

.c-localization__continent {
  @include font-graphik(1.875rem, false, false, 1.4em);
  margin-bottom: 0;
  font-weight: 500;
}

// Featured section
.c-features-contact {
  background-color: $alabaster-color;

  .c-features-section {
    background-color: $alabaster-color;

    @include for-phone-only {
      padding-top: 50px;
    }

  }

  .c-feature-item {

    &__image img {
      height: 24px;
    }

    &__buttons {
      margin-top: 15px;

      li {
        margin: 15px 0;
      }
    }

  }

  .c-read-more {
    font-weight: 600;
  }

}