.c-login-view {

    &__heading {

        margin-bottom: 15px;

    }

    &__paragraph {

        margin-bottom: 50px;

    }

    &__back-link {
    
        display: inline-block;
        margin-top: 50px;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
            
    }

}