@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?74869930');
  src: url('../font/fontello.eot?74869930#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?74869930') format('woff2'),
       url('../font/fontello.woff?74869930') format('woff'),
       url('../font/fontello.ttf?74869930') format('truetype'),
       url('../font/fontello.svg?74869930#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?74869930#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-academy-m:before { content: '\e800'; } /* '' */
.icon-add-2-m:before { content: '\e801'; } /* '' */
.icon-add-3-m:before { content: '\e802'; } /* '' */
.icon-add-m:before { content: '\e803'; } /* '' */
.icon-aggregate-m:before { content: '\e804'; } /* '' */
.icon-agreements-off-m:before { content: '\e805'; } /* '' */
.icon-agreements-on-m:before { content: '\e806'; } /* '' */
.icon-ai-icon-m:before { content: '\e807'; } /* '' */
.icon-align-center-m:before { content: '\e808'; } /* '' */
.icon-align-hor-center-m:before { content: '\e809'; } /* '' */
.icon-align-hor-left-m:before { content: '\e80a'; } /* '' */
.icon-align-hor-right-m:before { content: '\e80b'; } /* '' */
.icon-align-justify-m:before { content: '\e80c'; } /* '' */
.icon-align-left-m:before { content: '\e80d'; } /* '' */
.icon-align-right-m:before { content: '\e80e'; } /* '' */
.icon-align-vert-center-m:before { content: '\e80f'; } /* '' */
.icon-align-vert-down-m:before { content: '\e810'; } /* '' */
.icon-align-vert-up-m:before { content: '\e811'; } /* '' */
.icon-android-fill-m:before { content: '\e812'; } /* '' */
.icon-android-m:before { content: '\e813'; } /* '' */
.icon-angle-down-m:before { content: '\e814'; } /* '' */
.icon-angle-left-m:before { content: '\e815'; } /* '' */
.icon-angle-right-m:before { content: '\e816'; } /* '' */
.icon-angle-up-m:before { content: '\e817'; } /* '' */
.icon-anonymous-m:before { content: '\e818'; } /* '' */
.icon-api-add-m:before { content: '\e819'; } /* '' */
.icon-api-block-m:before { content: '\e81a'; } /* '' */
.icon-api-check-m:before { content: '\e81b'; } /* '' */
.icon-api-edit-m:before { content: '\e81c'; } /* '' */
.icon-api-m:before { content: '\e81d'; } /* '' */
.icon-api-play-m:before { content: '\e81e'; } /* '' */
.icon-api-remove-m:before { content: '\e81f'; } /* '' */
.icon-api-stop-m:before { content: '\e820'; } /* '' */
.icon-api-timer-m:before { content: '\e821'; } /* '' */
.icon-apple-fill-m:before { content: '\e822'; } /* '' */
.icon-apple-m:before { content: '\e823'; } /* '' */
.icon-area-m:before { content: '\e824'; } /* '' */
.icon-area-percentage-m:before { content: '\e825'; } /* '' */
.icon-arrange-hor-m-2:before { content: '\e826'; } /* '' */
.icon-arrange-hor-m:before { content: '\e827'; } /* '' */
.icon-arrange-ver-m-2:before { content: '\e828'; } /* '' */
.icon-arrange-ver-m:before { content: '\e829'; } /* '' */
.icon-arrow-down-circle-m:before { content: '\e82a'; } /* '' */
.icon-arrow-down-m:before { content: '\e82b'; } /* '' */
.icon-arrow-drag-m:before { content: '\e82c'; } /* '' */
.icon-arrow-ld-circle-m:before { content: '\e82d'; } /* '' */
.icon-arrow-ld-m:before { content: '\e82e'; } /* '' */
.icon-arrow-left-circle-m:before { content: '\e82f'; } /* '' */
.icon-arrow-left-m:before { content: '\e830'; } /* '' */
.icon-arrow-lu-circle-m:before { content: '\e831'; } /* '' */
.icon-arrow-lu-m:before { content: '\e832'; } /* '' */
.icon-arrow-rd-circle-m:before { content: '\e833'; } /* '' */
.icon-arrow-rd-m:before { content: '\e834'; } /* '' */
.icon-arrow-right-circle-m:before { content: '\e835'; } /* '' */
.icon-arrow-right-m:before { content: '\e836'; } /* '' */
.icon-arrow-ru-circle-m:before { content: '\e837'; } /* '' */
.icon-arrow-ru-m:before { content: '\e838'; } /* '' */
.icon-arrow-up-circle-m:before { content: '\e839'; } /* '' */
.icon-arrow-up-m:before { content: '\e83a'; } /* '' */
.icon-at-m:before { content: '\e83b'; } /* '' */
.icon-attachments-m:before { content: '\e83c'; } /* '' */
.icon-axis-y1-m:before { content: '\e83d'; } /* '' */
.icon-axis-y2-m:before { content: '\e83e'; } /* '' */
.icon-bar-m:before { content: '\e83f'; } /* '' */
.icon-barcode-m:before { content: '\e840'; } /* '' */
.icon-battery-charge-m:before { content: '\e841'; } /* '' */
.icon-battery-empty-m:before { content: '\e842'; } /* '' */
.icon-battery-high-m:before { content: '\e843'; } /* '' */
.icon-battery-low-m:before { content: '\e844'; } /* '' */
.icon-battery-medium-m:before { content: '\e845'; } /* '' */
.icon-block-m:before { content: '\e846'; } /* '' */
.icon-bluetooth-m:before { content: '\e847'; } /* '' */
.icon-bold-m:before { content: '\e848'; } /* '' */
.icon-book-2-m:before { content: '\e849'; } /* '' */
.icon-book-m:before { content: '\e84a'; } /* '' */
.icon-bookmark-m:before { content: '\e84b'; } /* '' */
.icon-boolean-m:before { content: '\e84c'; } /* '' */
.icon-brightness-m:before { content: '\e84d'; } /* '' */
.icon-browser-add-m:before { content: '\e84e'; } /* '' */
.icon-browser-block-m:before { content: '\e84f'; } /* '' */
.icon-browser-check-m:before { content: '\e850'; } /* '' */
.icon-browser-code-m:before { content: '\e851'; } /* '' */
.icon-browser-edit-m:before { content: '\e852'; } /* '' */
.icon-browser-lock-m:before { content: '\e853'; } /* '' */
.icon-browser-m:before { content: '\e854'; } /* '' */
.icon-browser-mail-m:before { content: '\e855'; } /* '' */
.icon-browser-play-m:before { content: '\e856'; } /* '' */
.icon-browser-remove-m:before { content: '\e857'; } /* '' */
.icon-browser-search-m:before { content: '\e858'; } /* '' */
.icon-browser-ssl-m:before { content: '\e859'; } /* '' */
.icon-browser-stop-m:before { content: '\e85a'; } /* '' */
.icon-browser-timer-m:before { content: '\e85b'; } /* '' */
.icon-bubble-m:before { content: '\e85c'; } /* '' */
.icon-bucket-fill-m:before { content: '\e85d'; } /* '' */
.icon-bulb-tip-m:before { content: '\e85e'; } /* '' */
.icon-button-m:before { content: '\e85f'; } /* '' */
.icon-calculator-m:before { content: '\e860'; } /* '' */
.icon-calendar-2-m:before { content: '\e861'; } /* '' */
.icon-calendar-add-m:before { content: '\e862'; } /* '' */
.icon-calendar-block-m:before { content: '\e863'; } /* '' */
.icon-calendar-check-m:before { content: '\e864'; } /* '' */
.icon-calendar-down-m:before { content: '\e865'; } /* '' */
.icon-calendar-edit-m:before { content: '\e866'; } /* '' */
.icon-calendar-m:before { content: '\e867'; } /* '' */
.icon-calendar-money-m:before { content: '\e868'; } /* '' */
.icon-calendar-remove-m:before { content: '\e869'; } /* '' */
.icon-calendar-switch-m:before { content: '\e86a'; } /* '' */
.icon-calendar-up-m:before { content: '\e86b'; } /* '' */
.icon-call-add-m:before { content: '\e86c'; } /* '' */
.icon-call-block-m:before { content: '\e86d'; } /* '' */
.icon-call-continue-m:before { content: '\e86e'; } /* '' */
.icon-call-conversation-m:before { content: '\e86f'; } /* '' */
.icon-call-decline-m:before { content: '\e870'; } /* '' */
.icon-call-disconnected-m:before { content: '\e871'; } /* '' */
.icon-call-end-m:before { content: '\e872'; } /* '' */
.icon-call-favourites-m:before { content: '\e873'; } /* '' */
.icon-call-forward-m:before { content: '\e874'; } /* '' */
.icon-call-hold-m:before { content: '\e875'; } /* '' */
.icon-call-incoming-m:before { content: '\e876'; } /* '' */
.icon-call-internal-m:before { content: '\e877'; } /* '' */
.icon-call-line-number-m:before { content: '\e878'; } /* '' */
.icon-call-m:before { content: '\e879'; } /* '' */
.icon-call-message-m:before { content: '\e87a'; } /* '' */
.icon-call-missed-m:before { content: '\e87b'; } /* '' */
.icon-call-nophone-m:before { content: '\e87c'; } /* '' */
.icon-call-outgoing-m:before { content: '\e87d'; } /* '' */
.icon-call-recall-m:before { content: '\e87e'; } /* '' */
.icon-call-ring-volume-m:before { content: '\e87f'; } /* '' */
.icon-call-special-m:before { content: '\e880'; } /* '' */
.icon-call-time-m:before { content: '\e881'; } /* '' */
.icon-call-voicemail-m:before { content: '\e882'; } /* '' */
.icon-camera-m-2:before { content: '\e883'; } /* '' */
.icon-camera-m:before { content: '\e884'; } /* '' */
.icon-camera-update-m:before { content: '\e885'; } /* '' */
.icon-capping-m:before { content: '\e886'; } /* '' */
.icon-card-m:before { content: '\e887'; } /* '' */
.icon-cart-add-m:before { content: '\e888'; } /* '' */
.icon-cart-block-m:before { content: '\e889'; } /* '' */
.icon-cart-check-m:before { content: '\e88a'; } /* '' */
.icon-cart-edit-m:before { content: '\e88b'; } /* '' */
.icon-cart-m:before { content: '\e88c'; } /* '' */
.icon-cart-remove-m:before { content: '\e88d'; } /* '' */
.icon-cart-status-m:before { content: '\e88e'; } /* '' */
.icon-cashbox-m:before { content: '\e88f'; } /* '' */
.icon-category-add-m:before { content: '\e890'; } /* '' */
.icon-category-check-m:before { content: '\e891'; } /* '' */
.icon-category-edit-m:before { content: '\e892'; } /* '' */
.icon-category-m:before { content: '\e893'; } /* '' */
.icon-category-remove-m:before { content: '\e894'; } /* '' */
.icon-category-show-m:before { content: '\e895'; } /* '' */
.icon-change-stage-m:before { content: '\e896'; } /* '' */
.icon-chat-add-m:before { content: '\e897'; } /* '' */
.icon-chat-block-m:before { content: '\e898'; } /* '' */
.icon-chat-m:before { content: '\e899'; } /* '' */
.icon-chat-remove-m:before { content: '\e89a'; } /* '' */
.icon-chat-show-m:before { content: '\e89b'; } /* '' */
.icon-chat-vendor-m:before { content: '\e89c'; } /* '' */
.icon-check-2-m:before { content: '\e89d'; } /* '' */
.icon-check-3-m:before { content: '\e89e'; } /* '' */
.icon-check-m:before { content: '\e89f'; } /* '' */
.icon-checkbox-m:before { content: '\e8a0'; } /* '' */
.icon-child-row-left-down-m:before { content: '\e8a1'; } /* '' */
.icon-child-row-left-up-m:before { content: '\e8a2'; } /* '' */
.icon-child-row-middle-left-m:before { content: '\e8a3'; } /* '' */
.icon-child-row-middle-right-m:before { content: '\e8a4'; } /* '' */
.icon-child-row-right-down-m:before { content: '\e8a5'; } /* '' */
.icon-child-row-right-up-m:before { content: '\e8a6'; } /* '' */
.icon-chrome-fill-m:before { content: '\e8a7'; } /* '' */
.icon-chrome-m:before { content: '\e8a8'; } /* '' */
.icon-circle-chart-m:before { content: '\e8a9'; } /* '' */
.icon-circle-shape-m:before { content: '\e8aa'; } /* '' */
.icon-clear-style-m:before { content: '\e8ab'; } /* '' */
.icon-click-m:before { content: '\e8ac'; } /* '' */
.icon-clock-m:before { content: '\e8ad'; } /* '' */
.icon-close-2-m:before { content: '\e8ae'; } /* '' */
.icon-close-3-m:before { content: '\e8af'; } /* '' */
.icon-close-m:before { content: '\e8b0'; } /* '' */
.icon-cloud-m:before { content: '\e8b1'; } /* '' */
.icon-code-m:before { content: '\e8b2'; } /* '' */
.icon-code-terminal-m:before { content: '\e8b3'; } /* '' */
.icon-coin-2-m:before { content: '\e8b4'; } /* '' */
.icon-coin-m:before { content: '\e8b5'; } /* '' */
.icon-column-m:before { content: '\e8b6'; } /* '' */
.icon-column-manage-m:before { content: '\e8b7'; } /* '' */
.icon-columns-m:before { content: '\e8b8'; } /* '' */
.icon-comma-dec-m:before { content: '\e8b9'; } /* '' */
.icon-comma-inc-m:before { content: '\e8ba'; } /* '' */
.icon-command-m:before { content: '\e8bb'; } /* '' */
.icon-company-m:before { content: '\e8bc'; } /* '' */
.icon-compass-m:before { content: '\e8bd'; } /* '' */
.icon-computer-m:before { content: '\e8be'; } /* '' */
.icon-copy-clipboard-m:before { content: '\e8bf'; } /* '' */
.icon-counter-m:before { content: '\e8c0'; } /* '' */
.icon-coupon-add-m:before { content: '\e8c1'; } /* '' */
.icon-coupon-check-m:before { content: '\e8c2'; } /* '' */
.icon-coupon-remove-m:before { content: '\e8c3'; } /* '' */
.icon-coupon-show-m:before { content: '\e8c4'; } /* '' */
.icon-coupons-m:before { content: '\e8c5'; } /* '' */
.icon-credit-card-add-m:before { content: '\e8c6'; } /* '' */
.icon-credit-card-block-m:before { content: '\e8c7'; } /* '' */
.icon-credit-card-check-m:before { content: '\e8c8'; } /* '' */
.icon-credit-card-edit-m:before { content: '\e8c9'; } /* '' */
.icon-credit-card-expired-m:before { content: '\e8ca'; } /* '' */
.icon-credit-card-lock-m:before { content: '\e8cb'; } /* '' */
.icon-credit-card-m:before { content: '\e8cc'; } /* '' */
.icon-credit-card-percent-m:before { content: '\e8cd'; } /* '' */
.icon-credit-card-remove-m:before { content: '\e8ce'; } /* '' */
.icon-crop-m:before { content: '\e8cf'; } /* '' */
.icon-cup-m:before { content: '\e8d0'; } /* '' */
.icon-currency-conversion-m:before { content: '\e8d1'; } /* '' */
.icon-cut-m:before { content: '\e8d2'; } /* '' */
.icon-dashboard-m:before { content: '\e8d3'; } /* '' */
.icon-database-add-m:before { content: '\e8d4'; } /* '' */
.icon-database-check-m:before { content: '\e8d5'; } /* '' */
.icon-database-download-m:before { content: '\e8d6'; } /* '' */
.icon-database-lock-m:before { content: '\e8d7'; } /* '' */
.icon-database-m:before { content: '\e8d8'; } /* '' */
.icon-database-remove-m:before { content: '\e8d9'; } /* '' */
.icon-database-thunder-m:before { content: '\e8da'; } /* '' */
.icon-database-time-m:before { content: '\e8db'; } /* '' */
.icon-delete-m:before { content: '\e8dc'; } /* '' */
.icon-desktop-m:before { content: '\e8dd'; } /* '' */
.icon-dialpad-m:before { content: '\e8de'; } /* '' */
.icon-direction-arrow-m:before { content: '\e8df'; } /* '' */
.icon-direction-down-m:before { content: '\e8e0'; } /* '' */
.icon-direction-left-m:before { content: '\e8e1'; } /* '' */
.icon-direction-m:before { content: '\e8e2'; } /* '' */
.icon-direction-right-m:before { content: '\e8e3'; } /* '' */
.icon-direction-up-m:before { content: '\e8e4'; } /* '' */
.icon-discount-2-m:before { content: '\e8e5'; } /* '' */
.icon-discount-m:before { content: '\e8e6'; } /* '' */
.icon-divider-m:before { content: '\e8e7'; } /* '' */
.icon-dollar-circle-m:before { content: '\e8e8'; } /* '' */
.icon-dollar-m:before { content: '\e8e9'; } /* '' */
.icon-download-m:before { content: '\e8ea'; } /* '' */
.icon-search-m-cropped:before { content: '\e8eb'; } /* '' */
.icon-drop-duplicate-m:before { content: '\e8ec'; } /* '' */
.icon-drop-m:before { content: '\e8ed'; } /* '' */
.icon-dropbox-m:before { content: '\e8ee'; } /* '' */
.icon-duplicate-m:before { content: '\e8ef'; } /* '' */
.icon-dynamic-content-add-m:before { content: '\e8f0'; } /* '' */
.icon-dynamic-content-block-m:before { content: '\e8f1'; } /* '' */
.icon-dynamic-content-check-m:before { content: '\e8f2'; } /* '' */
.icon-dynamic-content-edit-m:before { content: '\e8f3'; } /* '' */
.icon-dynamic-content-m:before { content: '\e8f4'; } /* '' */
.icon-dynamic-content-play-m:before { content: '\e8f5'; } /* '' */
.icon-dynamic-content-remove-m:before { content: '\e8f6'; } /* '' */
.icon-dynamic-content-show-m:before { content: '\e8f7'; } /* '' */
.icon-dynamic-content-stop-m:before { content: '\e8f8'; } /* '' */
.icon-dynamic-key-m:before { content: '\e8f9'; } /* '' */
.icon-edit-m:before { content: '\e8fa'; } /* '' */
.icon-emails-list-m:before { content: '\e8fb'; } /* '' */
.icon-emoticons-2-m:before { content: '\e8fc'; } /* '' */
.icon-emoticons-3-m:before { content: '\e8fd'; } /* '' */
.icon-emoticons-m:before { content: '\e8fe'; } /* '' */
.icon-erase-m:before { content: '\e8ff'; } /* '' */
.icon-euro-circle-m:before { content: '\e900'; } /* '' */
.icon-euro-m:before { content: '\e901'; } /* '' */
.icon-expression-m:before { content: '\e902'; } /* '' */
.icon-facebook-comment-m:before { content: '\e903'; } /* '' */
.icon-facebook-fill-m:before { content: '\e904'; } /* '' */
.icon-facebook-like-m:before { content: '\e905'; } /* '' */
.icon-facebook-m:before { content: '\e906'; } /* '' */
.icon-facebook-post-m:before { content: '\e907'; } /* '' */
.icon-facebook-rating-m:before { content: '\e908'; } /* '' */
.icon-facebook-reaction-m:before { content: '\e909'; } /* '' */
.icon-favourite-add-m:before { content: '\e90a'; } /* '' */
.icon-favourite-block-m:before { content: '\e90b'; } /* '' */
.icon-favourite-check-m:before { content: '\e90c'; } /* '' */
.icon-favourite-edit-m:before { content: '\e90d'; } /* '' */
.icon-favourite-m:before { content: '\e90e'; } /* '' */
.icon-favourite-remove-m:before { content: '\e90f'; } /* '' */
.icon-fieldset-m:before { content: '\e910'; } /* '' */
.icon-file-action-m:before { content: '\e911'; } /* '' */
.icon-file-add-m:before { content: '\e912'; } /* '' */
.icon-file-archive-m:before { content: '\e913'; } /* '' */
.icon-file-block-m:before { content: '\e914'; } /* '' */
.icon-file-check-m:before { content: '\e915'; } /* '' */
.icon-file-code-m:before { content: '\e916'; } /* '' */
.icon-file-download-m:before { content: '\e917'; } /* '' */
.icon-file-edit-m:before { content: '\e918'; } /* '' */
.icon-file-m:before { content: '\e919'; } /* '' */
.icon-file-remove-m:before { content: '\e91a'; } /* '' */
.icon-file-stop-m:before { content: '\e91b'; } /* '' */
.icon-file-type-customers-m:before { content: '\e91c'; } /* '' */
.icon-file-type-image-m:before { content: '\e91d'; } /* '' */
.icon-file-type-logs-m:before { content: '\e91e'; } /* '' */
.icon-file-type-numbers-m:before { content: '\e91f'; } /* '' */
.icon-file-type-plain-m:before { content: '\e920'; } /* '' */
.icon-file-type-table-m:before { content: '\e921'; } /* '' */
.icon-file-type-text-m:before { content: '\e922'; } /* '' */
.icon-file-upload-m:before { content: '\e923'; } /* '' */
.icon-file-view-m:before { content: '\e924'; } /* '' */
.icon-filter-m:before { content: '\e925'; } /* '' */
.icon-fingerprint-m:before { content: '\e926'; } /* '' */
.icon-firefox-fill-m:before { content: '\e927'; } /* '' */
.icon-firefox-m:before { content: '\e928'; } /* '' */
.icon-flag-m:before { content: '\e929'; } /* '' */
.icon-folder-action-m:before { content: '\e92a'; } /* '' */
.icon-folder-add-m:before { content: '\e92b'; } /* '' */
.icon-folder-archive-m:before { content: '\e92c'; } /* '' */
.icon-folder-block-m:before { content: '\e92d'; } /* '' */
.icon-folder-check-m:before { content: '\e92e'; } /* '' */
.icon-folder-code-m:before { content: '\e92f'; } /* '' */
.icon-folder-download-m:before { content: '\e930'; } /* '' */
.icon-folder-edit-m:before { content: '\e931'; } /* '' */
.icon-folder-m:before { content: '\e932'; } /* '' */
.icon-folder-open-m:before { content: '\e933'; } /* '' */
.icon-folder-remove-m:before { content: '\e934'; } /* '' */
.icon-folder-stop-m:before { content: '\e935'; } /* '' */
.icon-folder-tree-m:before { content: '\e936'; } /* '' */
.icon-folder-update-m:before { content: '\e937'; } /* '' */
.icon-folder-upload-m:before { content: '\e938'; } /* '' */
.icon-font-m:before { content: '\e939'; } /* '' */
.icon-form-m:before { content: '\e93a'; } /* '' */
.icon-formula-fraction-m:before { content: '\e93b'; } /* '' */
.icon-formula-m:before { content: '\e93c'; } /* '' */
.icon-formula-minus-m:before { content: '\e93d'; } /* '' */
.icon-formula-multiplier-m:before { content: '\e93e'; } /* '' */
.icon-formula-plus-m:before { content: '\e93f'; } /* '' */
.icon-from-to-path-m:before { content: '\e940'; } /* '' */
.icon-full-screen-m:before { content: '\e941'; } /* '' */
.icon-full-screen-min-m:before { content: '\e942'; } /* '' */
.icon-funnel-m:before { content: '\e943'; } /* '' */
.icon-geoanalytics-m:before { content: '\e944'; } /* '' */
.icon-globe-m:before { content: '\e945'; } /* '' */
.icon-go-to-step-m:before { content: '\e946'; } /* '' */
.icon-google-m:before { content: '\e947'; } /* '' */
.icon-grid-1-m:before { content: '\e948'; } /* '' */
.icon-grid-2-m:before { content: '\e949'; } /* '' */
.icon-grid-3-m:before { content: '\e94a'; } /* '' */
.icon-grid-4-m:before { content: '\e94b'; } /* '' */
.icon-grid-5-m:before { content: '\e94c'; } /* '' */
.icon-grid-6-m:before { content: '\e94d'; } /* '' */
.icon-grid-7-m:before { content: '\e94e'; } /* '' */
.icon-grid-8-m:before { content: '\e94f'; } /* '' */
.icon-grid-9-m:before { content: '\e950'; } /* '' */
.icon-grid-10-m:before { content: '\e951'; } /* '' */
.icon-grid-m:before { content: '\e952'; } /* '' */
.icon-group-2-m:before { content: '\e953'; } /* '' */
.icon-group-m:before { content: '\e954'; } /* '' */
.icon-h1-m:before { content: '\e955'; } /* '' */
.icon-h2-m:before { content: '\e956'; } /* '' */
.icon-h3-m:before { content: '\e957'; } /* '' */
.icon-hamburger-menu-m:before { content: '\e958'; } /* '' */
.icon-hard-bounce-m:before { content: '\e959'; } /* '' */
.icon-hash-m:before { content: '\e95a'; } /* '' */
.icon-help-fill-m:before { content: '\e95b'; } /* '' */
.icon-help-m:before { content: '\e95c'; } /* '' */
.icon-hide-m:before { content: '\e95d'; } /* '' */
.icon-histogram-m:before { content: '\e95e'; } /* '' */
.icon-home-m:before { content: '\e95f'; } /* '' */
.icon-hourglass-m:before { content: '\e960'; } /* '' */
.icon-identified-m:before { content: '\e961'; } /* '' */
.icon-image-m:before { content: '\e962'; } /* '' */
.icon-inbox-archive-m:before { content: '\e963'; } /* '' */
.icon-inbox-zero-m:before { content: '\e964'; } /* '' */
.icon-incoming-mail-m:before { content: '\e965'; } /* '' */
.icon-indent-m:before { content: '\e966'; } /* '' */
.icon-info-fill-m:before { content: '\e967'; } /* '' */
.icon-info-m:before { content: '\e968'; } /* '' */
.icon-input-m:before { content: '\e969'; } /* '' */
.icon-instagram-fill-m:before { content: '\e96a'; } /* '' */
.icon-instagram-m:before { content: '\e96b'; } /* '' */
.icon-internet-explorer-fill-m:before { content: '\e96c'; } /* '' */
.icon-internet-explorer-m:before { content: '\e96d'; } /* '' */
.icon-italic-m:before { content: '\e96e'; } /* '' */
.icon-journey-end-m:before { content: '\e96f'; } /* '' */
.icon-js-m:before { content: '\e970'; } /* '' */
.icon-key-m:before { content: '\e971'; } /* '' */
.icon-keyboard-enter-m:before { content: '\e972'; } /* '' */
.icon-keyboard-keys-m:before { content: '\e973'; } /* '' */
.icon-keyboard-m:before { content: '\e974'; } /* '' */
.icon-keyboard-option-m:before { content: '\e975'; } /* '' */
.icon-landing-page-add-m:before { content: '\e976'; } /* '' */
.icon-landing-page-block-m:before { content: '\e977'; } /* '' */
.icon-landing-page-check-m:before { content: '\e978'; } /* '' */
.icon-landing-page-edit-m:before { content: '\e979'; } /* '' */
.icon-landing-page-m:before { content: '\e97a'; } /* '' */
.icon-landing-page-play-m:before { content: '\e97b'; } /* '' */
.icon-landing-page-remove-m:before { content: '\e97c'; } /* '' */
.icon-landing-page-stop-m:before { content: '\e97d'; } /* '' */
.icon-laptop-m:before { content: '\e97e'; } /* '' */
.icon-launch-m:before { content: '\e97f'; } /* '' */
.icon-layers-m:before { content: '\e980'; } /* '' */
.icon-legend-bottom-m:before { content: '\e981'; } /* '' */
.icon-legend-left-m:before { content: '\e982'; } /* '' */
.icon-lifebuoy-m:before { content: '\e983'; } /* '' */
.icon-like-m:before { content: '\e984'; } /* '' */
.icon-line-m:before { content: '\e985'; } /* '' */
.icon-lines-m:before { content: '\e986'; } /* '' */
.icon-link-m:before { content: '\e987'; } /* '' */
.icon-linkedin-fill-m:before { content: '\e988'; } /* '' */
.icon-linkedin-m:before { content: '\e989'; } /* '' */
.icon-linux-m:before { content: '\e98a'; } /* '' */
.icon-list-m:before { content: '\e98b'; } /* '' */
.icon-list-numbers-m:before { content: '\e98c'; } /* '' */
.icon-location-m:before { content: '\e98d'; } /* '' */
.icon-lock-m:before { content: '\e98e'; } /* '' */
.icon-logout-m:before { content: '\e98f'; } /* '' */
.icon-mail-add-m:before { content: '\e990'; } /* '' */
.icon-mail-block-m:before { content: '\e991'; } /* '' */
.icon-mail-check-m:before { content: '\e992'; } /* '' */
.icon-mail-edit-m:before { content: '\e993'; } /* '' */
.icon-mail-m:before { content: '\e994'; } /* '' */
.icon-mail-open-m:before { content: '\e995'; } /* '' */
.icon-mail-remove-m:before { content: '\e996'; } /* '' */
.icon-mailbox-m:before { content: '\e997'; } /* '' */
.icon-manage-panels-m:before { content: '\e998'; } /* '' */
.icon-marketplace-m:before { content: '\e999'; } /* '' */
.icon-mastercard-m:before { content: '\e99a'; } /* '' */
.icon-maximize-m:before { content: '\e99b'; } /* '' */
.icon-megaphone-m:before { content: '\e99c'; } /* '' */
.icon-menu-m:before { content: '\e99d'; } /* '' */
.icon-merge-m:before { content: '\e99e'; } /* '' */
.icon-metric-bracket-m:before { content: '\e99f'; } /* '' */
.icon-metrics-m:before { content: '\e9a0'; } /* '' */
.icon-mic-m:before { content: '\e9a1'; } /* '' */
.icon-minimize-m:before { content: '\e9a2'; } /* '' */
.icon-mobile-app-start1:before { content: '\e9a3'; } /* '' */
.icon-mobile-m:before { content: '\e9a4'; } /* '' */
.icon-mobile-slider-m:before { content: '\e9a5'; } /* '' */
.icon-money-2-m:before { content: '\e9a6'; } /* '' */
.icon-money-3-m:before { content: '\e9a7'; } /* '' */
.icon-money-m:before { content: '\e9a8'; } /* '' */
.icon-money-sort-m:before { content: '\e9a9'; } /* '' */
.icon-mouse-m:before { content: '\e9aa'; } /* '' */
.icon-move-m:before { content: '\e9ab'; } /* '' */
.icon-movie-clip-m:before { content: '\e9ac'; } /* '' */
.icon-network-broadcasting-m:before { content: '\e9ad'; } /* '' */
.icon-network-computer-m:before { content: '\e9ae'; } /* '' */
.icon-network-database-m:before { content: '\e9af'; } /* '' */
.icon-network-file-m:before { content: '\e9b0'; } /* '' */
.icon-network-folder-m:before { content: '\e9b1'; } /* '' */
.icon-network-globe-m:before { content: '\e9b2'; } /* '' */
.icon-network-server-m:before { content: '\e9b3'; } /* '' */
.icon-network-user-m:before { content: '\e9b4'; } /* '' */
.icon-new-user-m:before { content: '\e9b5'; } /* '' */
.icon-notepad-m:before { content: '\e9b6'; } /* '' */
.icon-notifications-active-m:before { content: '\e9b7'; } /* '' */
.icon-notifications-check-m:before { content: '\e9b8'; } /* '' */
.icon-notifications-edit-m:before { content: '\e9b9'; } /* '' */
.icon-notifications-m:before { content: '\e9ba'; } /* '' */
.icon-notifications-play-m:before { content: '\e9bb'; } /* '' */
.icon-notifications-receive-m:before { content: '\e9bc'; } /* '' */
.icon-outdent-m:before { content: '\e9bf'; } /* '' */
.icon-package-box-m:before { content: '\e9c0'; } /* '' */
.icon-paragraph-m:before { content: '\e9c1'; } /* '' */
.icon-params-badge-m:before { content: '\e9c2'; } /* '' */
.icon-pause-circle-m:before { content: '\e9c3'; } /* '' */
.icon-pause-m:before { content: '\e9c4'; } /* '' */
.icon-percent-m:before { content: '\e9c5'; } /* '' */
.icon-pie-m:before { content: '\e9c6'; } /* '' */
.icon-pin-m:before { content: '\e9c7'; } /* '' */
.icon-pinterest-fill-m:before { content: '\e9c8'; } /* '' */
.icon-pinterest-m:before { content: '\e9c9'; } /* '' */
.icon-play-circle-m:before { content: '\e9ca'; } /* '' */
.icon-play-m:before { content: '\e9cb'; } /* '' */
.icon-pound-circle-m:before { content: '\e9cc'; } /* '' */
.icon-pound-m:before { content: '\e9cd'; } /* '' */
.icon-presentation-mode-m:before { content: '\e9ce'; } /* '' */
.icon-printer-m:before { content: '\e9cf'; } /* '' */
.icon-product-add-m:before { content: '\e9d0'; } /* '' */
.icon-product-check-m:before { content: '\e9d1'; } /* '' */
.icon-product-m:before { content: '\e9d2'; } /* '' */
.icon-product-remove-m:before { content: '\e9d3'; } /* '' */
.icon-product-search-m:before { content: '\e9d4'; } /* '' */
.icon-product-show-m:before { content: '\e9d5'; } /* '' */
.icon-promo-activate-m:before { content: '\e9d6'; } /* '' */
.icon-promo-check-in-m:before { content: '\e9d7'; } /* '' */
.icon-promo-check-out-m:before { content: '\e9d8'; } /* '' */
.icon-promo-mobile-m:before { content: '\e9d9'; } /* '' */
.icon-public-editable-m:before { content: '\e9da'; } /* '' */
.icon-public-readable-m:before { content: '\e9db'; } /* '' */
.icon-push-add-m:before { content: '\e9dc'; } /* '' */
.icon-push-block-m:before { content: '\e9dd'; } /* '' */
.icon-push-check-m:before { content: '\e9de'; } /* '' */
.icon-push-edit-m:before { content: '\e9df'; } /* '' */
.icon-push-m:before { content: '\e9e0'; } /* '' */
.icon-push-remove-m:before { content: '\e9e1'; } /* '' */
.icon-qr-code-m:before { content: '\e9e2'; } /* '' */
.icon-qr-code-scanner-m:before { content: '\e9e3'; } /* '' */
.icon-quotation-m:before { content: '\e9e4'; } /* '' */
.icon-radio-button-m:before { content: '\e9e5'; } /* '' */
.icon-receive-m:before { content: '\e9e6'; } /* '' */
.icon-redo-m:before { content: '\e9e7'; } /* '' */
.icon-refresh-m:before { content: '\e9e8'; } /* '' */
.icon-register-m:before { content: '\e9e9'; } /* '' */
.icon-remove-2-m:before { content: '\e9ea'; } /* '' */
.icon-remove-3-m:before { content: '\e9eb'; } /* '' */
.icon-remove-m:before { content: '\e9ec'; } /* '' */
.icon-rename-m:before { content: '\e9ed'; } /* '' */
.icon-repeat-loop-m:before { content: '\e9ee'; } /* '' */
.icon-repeat-m:before { content: '\e9ef'; } /* '' */
.icon-replace-query-m:before { content: '\e9f0'; } /* '' */
.icon-report-m:before { content: '\e9f1'; } /* '' */
.icon-restaurant-m:before { content: '\e9f2'; } /* '' */
.icon-rtb-m:before { content: '\e9f3'; } /* '' */
.icon-ruble-circle-m:before { content: '\e9f4'; } /* '' */
.icon-ruble-m:before { content: '\e9f5'; } /* '' */
.icon-info-fill-m:before { content: '\e967'; } /* '' */
.icon-safari-m:before { content: '\e9f7'; } /* '' */
.icon-sankey-m:before { content: '\e9f8'; } /* '' */
.icon-save-m:before { content: '\e9f9'; } /* '' */
.icon-score-m:before { content: '\e9fa'; } /* '' */
.icon-screen-expand-m:before { content: '\e9fb'; } /* '' */
.icon-screen-minimize-m:before { content: '\e9fc'; } /* '' */
.icon-screen-view-m:before { content: '\e9fd'; } /* '' */
.icon-search-listlupe-m:before { content: '\e9fe'; } /* '' */
.icon-search-m:before { content: '\e9ff'; } /* '' */
.icon-search-no-results-m:before { content: '\ea00'; } /* '' */
.icon-section-m:before { content: '\ea01'; } /* '' */
.icon-section-remove-m:before { content: '\ea02'; } /* '' */
.icon-segment-ai-m:before { content: '\ea03'; } /* '' */
.icon-segment-m:before { content: '\ea04'; } /* '' */
.icon-select-m:before { content: '\ea05'; } /* '' */
.icon-select-menu-m:before { content: '\ea06'; } /* '' */
.icon-send-error-m:before { content: '\ea07'; } /* '' */
.icon-send-m:before { content: '\ea08'; } /* '' */
.icon-server-2-download-m:before { content: '\ea09'; } /* '' */
.icon-server-2-m:before { content: '\ea0a'; } /* '' */
.icon-server-2-multiple-m:before { content: '\ea0b'; } /* '' */
.icon-server-add-m:before { content: '\ea0c'; } /* '' */
.icon-server-check-m:before { content: '\ea0d'; } /* '' */
.icon-server-lock-m:before { content: '\ea0e'; } /* '' */
.icon-server-m:before { content: '\ea0f'; } /* '' */
.icon-server-remove-m:before { content: '\ea10'; } /* '' */
.icon-server-thunder-m:before { content: '\ea11'; } /* '' */
.icon-server-time-m:before { content: '\ea12'; } /* '' */
.icon-settings-2-m:before { content: '\ea13'; } /* '' */
.icon-settings-m:before { content: '\ea14'; } /* '' */
.icon-share-display-m:before { content: '\ea15'; } /* '' */
.icon-share-m:before { content: '\ea16'; } /* '' */
.icon-shield-check-m:before { content: '\ea17'; } /* '' */
.icon-shield-document-m:before { content: '\ea18'; } /* '' */
.icon-shield-lock-m:before { content: '\ea19'; } /* '' */
.icon-shield-thunder-m:before { content: '\ea1a'; } /* '' */
.icon-shipment-add-m:before { content: '\ea1b'; } /* '' */
.icon-shipment-back-m:before { content: '\ea1c'; } /* '' */
.icon-shipment-check-m:before { content: '\ea1d'; } /* '' */
.icon-shipment-forward-m:before { content: '\ea1e'; } /* '' */
.icon-shipment-interrupted-m:before { content: '\ea1f'; } /* '' */
.icon-shipment-m:before { content: '\ea20'; } /* '' */
.icon-shipment-remove-m:before { content: '\ea21'; } /* '' */
.icon-shipment-search-m:before { content: '\ea22'; } /* '' */
.icon-shipment-time-m:before { content: '\ea23'; } /* '' */
.icon-shop-m:before { content: '\ea24'; } /* '' */
.icon-shop-sign-m:before { content: '\ea25'; } /* '' */
.icon-show-add-m:before { content: '\ea26'; } /* '' */
.icon-show-block-m:before { content: '\ea27'; } /* '' */
.icon-show-check-m:before { content: '\ea28'; } /* '' */
.icon-show-edit-m:before { content: '\ea29'; } /* '' */
.icon-show-m:before { content: '\ea2a'; } /* '' */
.icon-show-remove-m:before { content: '\ea2b'; } /* '' */
.icon-shuffle-m:before { content: '\ea2c'; } /* '' */
.icon-signature-m:before { content: '\ea2d'; } /* '' */
.icon-sleep-m:before { content: '\ea2e'; } /* '' */
.icon-slide-show-m:before { content: '\ea2f'; } /* '' */
.icon-sms-add-m:before { content: '\ea30'; } /* '' */
.icon-sms-block-m:before { content: '\ea31'; } /* '' */
.icon-sms-check-m:before { content: '\ea32'; } /* '' */
.icon-sms-edit-m:before { content: '\ea33'; } /* '' */
.icon-sms-m:before { content: '\ea34'; } /* '' */
.icon-sms-remove-m:before { content: '\ea35'; } /* '' */
.icon-social-proof-m:before { content: '\ea36'; } /* '' */
.icon-soft-bounce-m:before { content: '\ea37'; } /* '' */
.icon-sort-ascending-m:before { content: '\ea38'; } /* '' */
.icon-sort-az-m:before { content: '\ea39'; } /* '' */
.icon-sort-descending-m:before { content: '\ea3a'; } /* '' */
.icon-sort-za-m:before { content: '\ea3b'; } /* '' */
.icon-spinner-m:before { content: '\ea3c'; } /* '' */
.icon-split-ab-m:before { content: '\ea3d'; } /* '' */
.icon-split-m:before { content: '\ea3e'; } /* '' */
.icon-stacked-m:before { content: '\ea3f'; } /* '' */
.icon-star-fill-m:before { content: '\ea40'; } /* '' */
.icon-star-m:before { content: '\ea41'; } /* '' */
.icon-step-back-m:before { content: '\ea42'; } /* '' */
.icon-step-forward-m:before { content: '\ea43'; } /* '' */
.icon-stickers-m:before { content: '\ea44'; } /* '' */
.icon-stop-circle-m:before { content: '\ea45'; } /* '' */
.icon-stop-m:before { content: '\ea46'; } /* '' */
.icon-strike-m:before { content: '\ea47'; } /* '' */
.icon-subscribe-m:before { content: '\ea48'; } /* '' */
.icon-sum-m:before { content: '\ea49'; } /* '' */
.icon-survey-m:before { content: '\ea4a'; } /* '' */
.icon-switch-m:before { content: '\ea4b'; } /* '' */
.icon-tablet-m:before { content: '\ea4c'; } /* '' */
.icon-tabs-m:before { content: '\ea4d'; } /* '' */
.icon-tag-add-m:before { content: '\ea4e'; } /* '' */
.icon-tag-block-m:before { content: '\ea4f'; } /* '' */
.icon-tag-check-m:before { content: '\ea50'; } /* '' */
.icon-tag-edit-m:before { content: '\ea51'; } /* '' */
.icon-tag-m:before { content: '\ea52'; } /* '' */
.icon-tag-remove-m:before { content: '\ea53'; } /* '' */
.icon-target-m:before { content: '\ea54'; } /* '' */
.icon-task-check-m:before { content: '\ea55'; } /* '' */
.icon-television-m:before { content: '\ea56'; } /* '' */
.icon-terminal-card-m:before { content: '\ea57'; } /* '' */
.icon-terminal-confirm-m:before { content: '\ea58'; } /* '' */
.icon-terminal-info-m:before { content: '\ea59'; } /* '' */
.icon-test-m:before { content: '\ea5a'; } /* '' */
.icon-text-area-m:before { content: '\ea5b'; } /* '' */
.icon-text-format-m:before { content: '\ea5c'; } /* '' */
.icon-text-m:before { content: '\ea5d'; } /* '' */
.icon-text-size-m:before { content: '\ea5e'; } /* '' */
.icon-thunder-2-m:before { content: '\ea5f'; } /* '' */
.icon-thunder-fill-m:before { content: '\ea60'; } /* '' */
.icon-thunder-m:before { content: '\ea61'; } /* '' */
.icon-tiles-m:before { content: '\ea62'; } /* '' */
.icon-time-interval-m:before { content: '\ea63'; } /* '' */
.icon-timer-m:before { content: '\ea64'; } /* '' */
.icon-tools-m:before { content: '\ea65'; } /* '' */
.icon-transform-m:before { content: '\ea66'; } /* '' */
.icon-translate-m:before { content: '\ea67'; } /* '' */
.icon-trash-m:before { content: '\ea68'; } /* '' */
.icon-twitter-fill-m:before { content: '\ea69'; } /* '' */
.icon-twitter-m:before { content: '\ea6a'; } /* '' */
.icon-underline-m:before { content: '\ea6b'; } /* '' */
.icon-undo-m:before { content: '\ea6c'; } /* '' */
.icon-unlimited-circle-m:before { content: '\ea6d'; } /* '' */
.icon-unlimited-m:before { content: '\ea6e'; } /* '' */
.icon-unlink-m:before { content: '\ea6f'; } /* '' */
.icon-unlock-m:before { content: '\ea70'; } /* '' */
.icon-unsubscribe-m:before { content: '\ea71'; } /* '' */
.icon-update-data-m:before { content: '\ea72'; } /* '' */
.icon-upload-m:before { content: '\ea73'; } /* '' */
.icon-user-add-m:before { content: '\ea74'; } /* '' */
.icon-user-block-m:before { content: '\ea75'; } /* '' */
.icon-user-check-m:before { content: '\ea76'; } /* '' */
.icon-user-circle-m:before { content: '\ea77'; } /* '' */
.icon-user-down-m:before { content: '\ea78'; } /* '' */
.icon-user-edit-m:before { content: '\ea79'; } /* '' */
.icon-user-group-m:before { content: '\ea7a'; } /* '' */
.icon-user-id-m:before { content: '\ea7b'; } /* '' */
.icon-user-m:before { content: '\ea7c'; } /* '' */
.icon-user-password-m:before { content: '\ea7d'; } /* '' */
.icon-user-remove-m:before { content: '\ea7e'; } /* '' */
.icon-user-starred-m:before { content: '\ea7f'; } /* '' */
.icon-user-up-m:before { content: '\ea80'; } /* '' */
.icon-var-type-boolean-m:before { content: '\ea81'; } /* '' */
.icon-var-type-date-m:before { content: '\ea82'; } /* '' */
.icon-var-type-list-m:before { content: '\ea83'; } /* '' */
.icon-var-type-number-m:before { content: '\ea84'; } /* '' */
.icon-var-type-string-m:before { content: '\ea85'; } /* '' */
.icon-volume-disable-m:before { content: '\ea86'; } /* '' */
.icon-volume-down-m:before { content: '\ea87'; } /* '' */
.icon-volume-half-m:before { content: '\ea88'; } /* '' */
.icon-volume-max-m:before { content: '\ea89'; } /* '' */
.icon-volume-min-m:before { content: '\ea8a'; } /* '' */
.icon-volume-up-m:before { content: '\ea8b'; } /* '' */
.icon-wallet-m:before { content: '\ea8c'; } /* '' */
.icon-warning-fill-m:before { content: '\ea8d'; } /* '' */
.icon-warning-m:before { content: '\ea8e'; } /* '' */
.icon-watch-m:before { content: '\ea8f'; } /* '' */
.icon-webhook-m:before { content: '\ea90'; } /* '' */
.icon-webpush-add-m:before { content: '\ea91'; } /* '' */
.icon-webpush-block-m:before { content: '\ea92'; } /* '' */
.icon-webpush-check-m:before { content: '\ea93'; } /* '' */
.icon-webpush-edit-m:before { content: '\ea94'; } /* '' */
.icon-webpush-m:before { content: '\ea95'; } /* '' */
.icon-webpush-remove-m:before { content: '\ea96'; } /* '' */
.icon-wifi-m:before { content: '\ea97'; } /* '' */
.icon-windows-fill-m:before { content: '\ea98'; } /* '' */
.icon-windows-m:before { content: '\ea99'; } /* '' */
.icon-wrong-alert-m:before { content: '\ea9a'; } /* '' */
.icon-wth-cloud-m:before { content: '\ea9b'; } /* '' */
.icon-wth-cloud-night-m:before { content: '\ea9c'; } /* '' */
.icon-wth-cloud-rain-m:before { content: '\ea9d'; } /* '' */
.icon-wth-cloud-rain-snow-m:before { content: '\ea9e'; } /* '' */
.icon-wth-cloud-rain-thunder-m:before { content: '\ea9f'; } /* '' */
.icon-wth-cloud-snow-m:before { content: '\eaa0'; } /* '' */
.icon-wth-cloud-sun-m:before { content: '\eaa1'; } /* '' */
.icon-wth-moon-full-m:before { content: '\eaa2'; } /* '' */
.icon-wth-moon-m:before { content: '\eaa3'; } /* '' */
.icon-wth-moon-stars-m:before { content: '\eaa4'; } /* '' */
.icon-wth-snow-m:before { content: '\eaa5'; } /* '' */
.icon-wth-stars-m:before { content: '\eaa6'; } /* '' */
.icon-wth-sun-m:before { content: '\eaa7'; } /* '' */
.icon-wth-sunrise-m:before { content: '\eaa8'; } /* '' */
.icon-wth-sunset-m:before { content: '\eaa9'; } /* '' */
.icon-wth-temperature-m:before { content: '\eaaa'; } /* '' */
.icon-wth-umbrella-m:before { content: '\eaab'; } /* '' */
.icon-wth-wind-m:before { content: '\eaac'; } /* '' */
.icon-yen-circle-m:before { content: '\eaad'; } /* '' */
.icon-yen-m:before { content: '\eaae'; } /* '' */
.icon-youtube-fill-m:before { content: '\eaaf'; } /* '' */
.icon-youtube-m:before { content: '\eab0'; } /* '' */
.icon-option-horizontal-m:before { content: '\eab1'; } /* '' */
.icon-option-vertical-m:before { content: '\eab2'; } /* '' */
.icon-drag-handle-m:before { content: '\eab3'; } /* '' */