@import '../absctract';

/* ------------------------------------------------------- SUGGESTER --- */

.c-live-search {
  position: relative;

  &:hover:after {
    color: $accent-color;
  }

  input {
    display: block;
  }

  &:after {
    content: '\e8eb';
    font-family: "fontello";
    @include absolute-centered-item(false, true);
    right: 15px;
    font-size: 1.2rem;
    transition: all .4s ease;
    color: $mine-shaft;
  }

  &__results {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    border: 1px solid $silver-color;
    border-top: none;
    background-color: $white-color;
    line-height: 2em;
    z-index: 100;
  }

  &__single-result {
    padding: 10px 15px;
    line-height: 1.5em;
    font-weight: 300;
    color: $cod-dark-color;
    display: flex;
    justify-content: space-between;

    &:hover {
      background-color: $bg-color;
    }

    span {
      color: $cod-dark-color;
    }

    strong {
      font-weight: 500;
    }

    &__date {
      font-size: 0.875rem;
    }
  }

  &__no-results {
    position: absolute;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid $red-color;
    border-top: none;
    background-color: $white-color;
    line-height: 2em;
    z-index: 100;
    color: $red-color;
  }
  

}