


// CLASSES

.l-section {

	.l-grid {
		width: 100%;

		&.u-justify-center {
			justify-content: center;
		}
	}

	@include push--auto;
	max-width: $grid-desktop-width;
	width: $desk-grid-width;

	&__small {
		@include push--auto;
		max-width: $grid-desktop-small-section;

		@include for-phone-only {
			max-width: initial;
			width: $mob-grid-width;
		}

	}

	&__article {
		@include push--auto;
		max-width: $grid-desktop-article-section;

		@include for-phone-only {
			max-width: initial;
			width: $mob-grid-width;
		}

		@include for-tablet {
			max-width: initial;
			width: $tab-grid-width
		}		

	}

	@media screen and (max-width: $grid-tablet-breakpoint) {
		width: $tab-grid-width;
	}

	@media screen and (max-width: $grid-mobile-breakpoint) {
		width: $mob-grid-width;
	}
}

.l-grid {
	
	.l-grid, .l-section {
		width: 100%;
	}

	@include push--auto;
	@include grid-base($desk-grid-width);

	@media screen and (max-width: $grid-tablet-breakpoint) {
		width: $tab-grid-width;
	}

	@media screen and (max-width: $grid-mobile-breakpoint) {
		width: $mob-grid-width;
	}
}

@for $i from 2 through 6  {
	.l-grid-#{$i} {
		@extend .l-grid;

		justify-content: flex-start;

		& > * {
			margin-right: $desk-gutter;
		}

		& > :nth-child(#{$i}n+0) {
			margin-right: 0;
		}
		
	}	
}

.l-grid-3 {
	@media screen and (max-width: $grid-tablet-breakpoint) {
		& > .l-col-tablet-6 {
			margin-right: $desk-gutter;
		}

		.l-col-tablet-6:nth-child(2n+0) {
			margin-right: 0;
		}

	}

	@media screen and (max-width: $grid-mobile-breakpoint) {
		& > * {
			margin-right: 0;
		}

		& > .l-col-tablet-6 {
			margin-right: 0;
		}
	}
}

.l-col {

	@include columns-loop(desktop, $grid-desktop-columns, $desk-gutter, $desk-column-width);

	@media screen and (max-width: $grid-tablet-breakpoint) {
		@include columns-loop(tablet, $grid-tablet-columns, $tab-gutter, $tab-column-width);
	}

	@media screen and (max-width: $grid-mobile-breakpoint) {
		@include columns-loop(mobile, $grid-mobile-columns, $mob-gutter, $mob-column-width);
	}
}

@include for-phone-only {
	*[class*='l-col-desktop'] {
		width: 100%;
		margin-right: 0;
	}
}