// Colors

// SCSS Color Variables | Named with this: http://chir.ag/projects/name-that-color

$bg-color: #f9f9f9;
$bg-gray-color: #f4f5f6;
$accent-color: #0B68FF;
$accent-hover-color: #0050d2;
$cod-dark-color: #141414;
$tundora-color: #484848;
$black-color: #000000;
$white-color: #ffffff;
$silver-chalice-color: #9d9d9d;
$cod-gray-color: #131313;
$cod-gray-light-color: #1b1b1b;
$test-color: #9d9d9d;
$alto-color: #d8d8d8;
$alabaster-color: #f9f9f9;
$mine-shaft: #242424;
$silver-color: #cccccc;
$porcelain-color: #f3f5f6;
$gallery-color: rgb(3, 3, 3);
$forest-green-color: #1caa1c;
$tundora-approx-color: #434343;
$blue-ribbon-color: #1060ea;
$mercury-color: #e5e5e5;
$red-color: #FF3052;
$persian-blue: #1033DE;
$gallery-border-color: #ECECEC;

// Footer
$footer-bg-color: $cod-gray-color;
$footer-lnk-color: $silver-chalice-color;

// Sections bg
$related-items-bg-color: $alabaster-color;
$dark-section-border-color: #2b2b2b;


//icons 
$icons-light-color : #ffffff;
$icons-dark-color: #242424;
$icons-dark-lighter-color: #484848;

//form
$form-label-color: rgba(255, 255, 255, 0.6);