// Desktoppx
$grid-desktop-columns: 12;
$grid-desktop-gutter: 30px;
$grid-desktop-sideMargin: 80px;
$grid-desktop-col-width: 70px;
$grid-desktop-breakpoint: $grid-desktop-gutter * ($grid-desktop-columns - 1) + $grid-desktop-col-width * $grid-desktop-columns + $grid-desktop-sideMargin * 2;
$grid-desktop-width: $grid-desktop-breakpoint - (2 * $grid-desktop-sideMargin);

$grid-desktop-small-section: 760px;
$grid-desktop-article-section: 770px;

// tablet grid px
$grid-tablet-columns: 12;
$grid-tablet-sideMargin: 40px;
$grid-tablet-col-width: 55px;
$grid-tablet-gutter: 30px;
$grid-tablet-breakpoint: $grid-tablet-gutter * ($grid-tablet-columns - 1) + $grid-tablet-col-width * $grid-tablet-columns + $grid-tablet-sideMargin * 2;
$grid-tablet-width: $grid-tablet-breakpoint - (2 * $grid-tablet-sideMargin);

// mobile grid px
$grid-mobile-columns: 4;
$grid-mobile-sideMargin: 40px;
$grid-mobile-gutter: 20px;
$grid-mobile-col-width: 135px;
$grid-mobile-breakpoint: $grid-mobile-gutter * ($grid-mobile-columns - 1) + $grid-mobile-col-width * $grid-mobile-columns + $grid-mobile-sideMargin * 2;
$grid-mobile-width: $grid-mobile-breakpoint - (2 * $grid-mobile-sideMargin);

$content-to-container: calc((100vw - #{$grid-desktop-width}) / 2);

$desk-grid-width: 100% -
  (($grid-desktop-sideMargin * 2 / $grid-desktop-breakpoint) * 100%);

$tab-grid-width: 100% -
  (($grid-tablet-sideMargin * 2 / $grid-tablet-breakpoint) * 100%);

$mob-grid-width: 100% -
  (($grid-mobile-sideMargin * 2 / $grid-mobile-breakpoint) * 100%);


  $desk-gutter: (
	(
		$grid-desktop-gutter / $grid-desktop-width
	  ) * 100%
  );
  
  $desk-column-width: (
	  (
		  $grid-desktop-col-width /
		  ($grid-desktop-col-width * $grid-desktop-columns + $grid-desktop-gutter * ($grid-desktop-columns - 1) )
	  ) * 100%
  );

$tab-gutter: (
  (
      $grid-tablet-gutter / $grid-tablet-width
    ) * 100%
);

$tab-column-width: (
	(
		$grid-tablet-col-width /
		($grid-tablet-col-width * $grid-tablet-columns + $grid-tablet-gutter * ($grid-tablet-columns - 1) )
	) * 100%
);

$mob-gutter: (
  (
      $grid-mobile-gutter / $grid-mobile-width
    ) * 100%
);

$mob-column-width: (
	(
		$grid-mobile-col-width /
		($grid-mobile-col-width * $grid-mobile-columns + $grid-mobile-gutter * ($grid-mobile-columns - 1) )
	) * 100%
);

// FUNCTIONS AND MiXINS
@function col-width($i, $columns, $column-width, $gutter) {
	@return $i *  $column-width + (($i - 1) * $gutter);
}

@mixin col-props($i, $columns, $gutter, $column-width) {
	box-sizing: border-box;
	width: col-width($i, $columns, $column-width, $gutter);
}

@mixin columns-loop($name, $columns, $gutter, $column-width) {
	@for $i from 0 through $columns {
		&-#{$name}-#{$i} {
			@include col-props($i, $columns, $gutter, $column-width);
		}
	}
}

@mixin grid-base($width) {
	box-sizing: border-box;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
	max-width: $grid-desktop-width;
	justify-content: space-between;

	@media screen and (max-width: $grid-tablet-breakpoint) {
		max-width: $grid-tablet-width;
	}

	@media screen and (max-width: $grid-mobile-breakpoint) {
		max-width: $grid-mobile-width;
	}

	width: $width;
}

@mixin left-container() {
	left: $content-to-container;
	
	@media screen and (max-width: $grid-desktop-sideMargin*2 + $grid-desktop-width) {
		left: $grid-desktop-sideMargin;
	}

	@media screen and (max-width: $grid-tablet-breakpoint) {
		left: $grid-tablet-sideMargin;
	}

	@media screen and (max-width: $grid-mobile-breakpoint) {
		left: calc(#{$grid-mobile-sideMargin} / 2);
	}
}

@mixin margin-right-container() {
	margin-right: $content-to-container;
	
	@media screen and (max-width: $grid-desktop-sideMargin*2 + $grid-desktop-width) {
		margin-right: $grid-desktop-sideMargin;
	}

	@media screen and (max-width: $grid-tablet-breakpoint) {
		margin-right: $grid-tablet-sideMargin;
	}

	@media screen and (max-width: $grid-mobile-breakpoint) {
		margin-right: calc(#{$grid-mobile-sideMargin} / 2);
	}
}

@mixin right-container() {
	right: $content-to-container;
	
	@media screen and (max-width: $grid-desktop-sideMargin*2 + $grid-desktop-width) {
		right: $grid-desktop-sideMargin;
	}

	@media screen and (max-width: $grid-tablet-breakpoint) {
		right: $grid-tablet-sideMargin;
	}

	@media screen and (max-width: $grid-mobile-breakpoint) {
		right: $grid-mobile-sideMargin;
	}
}