// Styles for commonly used HTML elements

// Root elements
html {
	box-sizing: border-box;
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

select {
	appearance: none;
	outline: 0;
	box-shadow: none;
	background-image: none;
  }

select:focus {
	outline: 0;
}

::-webkit-scrollbar {
}

button {
	outline: none;
	border: 0;
	cursor: pointer;
	background-color: transparent;
}

body {
	background-color: $bg-color;
	font-family: 'Graphik', sans-serif;
	overflow-x: hidden;

	@include for-tablet-down {
		padding-top: 67px;
	}

}

button {
	font-family: 'Graphik', sans-serif;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	width: auto;
	margin-right: 0;
	margin-left: 0;
	display: block;
}