// Reusable Classes

.u-text-center {

  text-align: center;

}

.u-align-center {

  align-items: center;
  min-height: 100%;

}

.u-justify-center {

  justify-content: center;

}

.u-direction-column {

  flex-direction: column;

}

.u-fill-accent {
  fill: $accent-color;
}

.u-d-block {
  display: block;
}

.u-d-flex {
  display: flex;
  flex-wrap: wrap;
}

.u-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-align-center {
  display: flex;
  align-items: center;
}

.u-item-center {
  display: flex;
  align-items: center;
}

.u-w50 {
  width: 50%;
}

// Common Classes - describe small elements
.u-photo-describe {
  color: rgba($cod-dark-color, .5);
  margin-top: 15px;
}

.u-title-bg-dark {
  @include font-graphik(1.25rem, $white-color, false, 1.5em);
  padding: 15px 30px;
  background-color: $black-color;
}

.u-details {
  @include font-graphik(.75rem, $silver-chalice-color, false, 1.166em);
  letter-spacing: 1px;

  > {
    display: inline-block;
  }

  &__time {
    position: relative;
    padding-left: 20px;

    &:before {
      content: " ";
      @include make-circle(4px, $alto-color);
      @include absolute-centered-item(false, true);
      left: 8px;
    }

  }    
}

.u-author {

  &__link {
    display: inline-block;
    margin-left: 15px;

    img {
      display: block;
    }

  }

}

.u-btn-circle-with-border {
  @include make-circle(32px, false);
  border: 1px solid $cod-dark-color;
  color: $cod-dark-color;
  transition: opacity .4s ease;
  opacity: .7;
}

.u-btn-circle-with-border--white {
  @extend .u-btn-circle-with-border;
  border: 1px solid $white-color;
}

.u-header-pre-title {

  .c-text-pre-title {
    margin-bottom: 30px;
  }

  .c-text-header {
    font-weight: 300;
    margin-bottom: 60px;

    @include for-phone-only {
      margin-bottom: 30px; 
    }

  }

}

.u-company-category-label {
  @include font-graphik(.75rem, $mine-shaft, 500, 1.16em);
  display: inline-block;
  padding: 13px 23px;
  border: 1px solid rgba($cod-dark-color, .1);
  border-radius: 20px;

  @include for-phone-only {
    padding: 10px 17px;
  }

  @include for-tablet {
    padding: 10px 20px 9px;
  }

}

.u-position-salary-tag {
  color: $white-color;
  opacity: .8;
  padding: 4px 10px;
  font-size: .75rem;
  letter-spacing: 1px;
  text-align: center;
  border: $career-border;
  border-radius: 13px;
}

.u-generic-section-tag {
  color: $mine-shaft;
  font-weight: 600;
  padding: 10px 16px;
  font-size: .75rem;
  text-align: center;
  border: $career-tag;
  border-radius: 20px;
}

// Slick slider styles
.slick-arrow {
  position: absolute;
  @extend .u-btn-circle-with-border;
  font-size: 0;
  background-color: transparent;
  z-index: 10;

  &:before {
    font-size: 16px;
    font-family: "fontello";
    position: relative;
  }

  &.slick-next {
    right: 0;

    &:before {
      content: "\E816";
      right: -1px;
    }

  }

  &.slick-prev {
    right: 42px;

    &:before {
      content: "\E815";
    }

  }

  &.slick-disabled {
    opacity: .3;
    cursor: default;
  }

}

.u-slide-number {
  @include font-graphik(.75rem, $mine-shaft, 500, 1.166em);
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: calc((100vw - #{$grid-desktop-width}) / 2 + (#{$grid-desktop-width} / 12 * 5) + 40px);
  display: flex !important;

  @include for-tablet {
    left: calc((100vw - #{$tab-grid-width}) / 2 + (#{$tab-grid-width} / 12 * 5) + 33px);
  }

  li {

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &.slick-active button {
      background-color: $cod-dark-color;
    }

  }
    
  button {
    background-color: $mercury-color;
    transition: background-color .8s ease;
    width: 30px;
    height: 3px;
    font-size: 0;
  }

}

// Box width border top
.u-box-border-top {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid $gallery-color;

  @include for-tablet-down {
    margin-top: 30px;
    padding-top: 30px;
  }

}

// Screen readres only
.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Social icon
.social__icon {
  font-size: 1.5rem;
  color: $cod-dark-color;
  transition: color .3s ease;
}

a:hover .social__icon {
  color: $accent-color;
}

// Image placeholder 
.c-image-placeholder {
  margin-bottom: 30px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

// Image effects
.u-hover-image-effect {
  overflow: hidden;

  > img {
    transition: all .4s ease-in-out;
  }
}

a:hover .u-hover-image-effect {

  > img {

  }
}
