.u-bg {
	background-color: $bg-color;
}

.u-bg-white {
	background-color: $white-color;
}

.u-bg-gray {
	background-color: $bg-gray-color;
}

.u-bg-light-gray {
	background-color: #fbfbfb;
}

.u-bg-cod-dark {
	background-color: $cod-dark-color;
}

.u-bg-transparent {
	background-color: transparent;
}

.u-bg-porcelain {
	background-color: $porcelain-color;
}
