// Reset and normalize styles

// Root elements
html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	min-height: 100vh;
	overflow-y: auto;
	-webkit-user-select: auto;
	-webkit-tap-highlight-color: transparent;
	overscroll-behavior-y: contain;

	overflow-x: hidden;
	overflow-y: auto;
}

address, em {
	font-style: normal;
}