// Typography rules

// Root elements

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-Regular.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-Extralight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-Super.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-ExtralightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-SuperItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Graphik';
	src: url('/fonts/graphik/Graphik-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

body {
	@include font-graphik(false, false, 400, false);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	@include font-graphik($text-h1-size, $cod-dark-color, 500, $text-h1-lh);
}

h2 {
	@include font-graphik($text-h2-size, $cod-dark-color, $text-default-weight, $text-h2-lh);
}

h3 {
	@include font-graphik($text-h3-size, $cod-dark-color, $text-default-weight, $text-h3-lh);
}

h4 {
	@include font-graphik($text-h4-size, $cod-dark-color, $text-default-weight, $text-h4-lh);
}

h5 {
	@include font-graphik($text-h5-size, $cod-dark-color, $text-default-weight, $text-h5-lh);
}

h6 {
	@include font-graphik($text-h6-size, $cod-dark-color, $text-default-weight, $text-h6-lh);
}

p {
	@include font-graphik($text-p-size, $cod-dark-color, $text-paragraph-weight, $text-p-lh);
}

@include for-desktop-up{
	html {
		font-size: 1rem;
	}
}

@include for-tablet-down {
	h1, h2, h3, h4, h5, h6 {
		// font-size: 90%;
	}
}