@charset 'UTF-8';

// Helpers - mixins and variables
@import './absctract';

// General elements and grid
@import
	'./base/reset',
  './base/base',
  './base/typography',
  './base/colors',
	'./base/animations',
	'./base/fontello',
  './base/classes';

// Theme
@import
  './layout/grid',
  './layout/menu',
	'./layout/tables',
	'./layout/forms';

// Shared components




// Everythink below should be removed

@import
	'./components/article',
	'./components/buttons',
	'./components/cards',
	'./components/company-card',
	'./components/counter-boxes',
	'./components/cta-form',
	'./components/dark-section',
	'./components/dropdown',
	'./components/features',
	'./components/forms',
	'./components/hero',
	'./components/tiles',
	'./components/loaders',
	'./components/modals',
	'./components/navbar',
	'./components/pagination',
	'./components/pagination-career',
	'./components/partner-box',
	'./components/text-block',
	'./components/text',
	'./components/search',
	'./components/testimonials-sections',
	'./components/testimonials-block',
	'./components/awards-section',
	'./components/generic-section-company',
	'./components/generic-section',
	'./components/person-contact',
	'./components/single-event',
	'./components/pressroom',
	'./components/prelegent',
	'./components/partner-why',
	'./components/capabilities_basic',
	'./components/partner-process',
	'./components/career-positions-listing',
	'./components/mission-values',
	'./components/mission-map',
	'./components/aside-links',
	'./components/job-detail',
	'./components/offices-listing',
	'./components/world-map',
	'./components/industries-listing',
	'./components/social-stream',
	'./components/side-menu',
	'./components/resources-listing',
	'./components/breadcrumbs',
	'./components/dynamic',
	'./components/error',
	'./components/sibling-menu',
	'./components/simple-layout',
	'./components/headers',
	'./components/footer',
	'./components/awards',
	'./components/dynamic-image',
	'./components/block-basic',
	'./components/block-rich-text',
	'./components/block-url-listening',
	'./components/capabilities',
	'./components/careers-values',
	'./components/case-study',
	'./components/header';

@import
	'./pages/blog',
	'./pages/contact',
	'./pages/case-study',
	'./pages/event',
	'./pages/home',
	'./pages/login',
	'./pages/pircing',
	'./pages/request',
   './pages/user-profile';

@import
	'./ds/home',
	'./ds/about',
	'./ds/footer';

/* EVERYTHING BELOW THIS LINE SHOULD BE MOVED TO PROPER COMPONENTS */

.c-simple-nav {
  &__logo {
    object-fit: contain;
    height: 44px;
    width: 146px;
    margin-top: 50px;
    margin-bottom: 25px;
  }

}
