@modal-title-line-height: 32px;
@modal-base-padding: 24px;
@modal-header-padding-x: @modal-base-padding;
@modal-header-padding-y: 16px;
@modal-footer-padding-x: @modal-base-padding;
@modal-footer-padding-y: 24px;

.@{dialog-prefix-cls} {
  &-title {
    margin: 0;
    font-size: 18px;
    line-height: @modal-title-line-height;
    font-weight: 500;
    color: @heading-color;
  }

  &-content {
    position: relative;
    background-color: @component-background;
    border: 0;
    border-radius: @border-radius-base;
    background-clip: padding-box;
    box-shadow: @box-shadow-active;
  }

  &-mask {
    && {
      background-color: fade(@grey-800, 20%);
      filter: ~'alpha(opacity=20)';
    }
  }

  &-close {
    color: @gray-color-lighter-2;
    height: @modal-title-line-height + @modal-header-padding-y * 2;

    &:focus,
    &:hover {
      color: @gray-color;
    }
  }

  &-header {
    && {
      padding: @modal-header-padding-y @modal-header-padding-x;
      background: @component-background;
      color: @text-color;
      border-bottom: @border-width-base @border-style-base @grey-100;
    }

    .close-modal {
      height: 32px;
      width: 32px;
      margin: 0 4px;
      text-align: center;
      padding: 0 !important;
      line-height: 34px;
      display: flex !important;
      justify-content: center;
      align-items: center;

      i {
        font-size: 15px;
      }
    }
  }

  &-body {
    && {
      padding: @modal-base-padding;
      font-size: @font-size-base;
      line-height: @line-height-base;
    }

    .anticon-question-circle {
      margin-top: -4px;

      &:before {
        content: '\e90c';
        font-family: 'synerise' !important;
        font-size: 32px;
      }
      svg {
        display: none;
      }
    }
  }

  &-footer {
    && {
      background-color: @grey-050;
      padding: @modal-footer-padding-y @modal-footer-padding-x;
      border-top: @border-width-base @border-style-base @grey-100;
    }

    button + button {
      margin-left: 16px;
      margin-bottom: 0;
    }
  }

  && {
    &.bodybg-grey {
      .@{dialog-prefix-cls}-body {
        background-color: @grey-050;
      }
    }
  }
}
