@table-prefix-cls: ~'@{ant-prefix}-table';
@empty-prefix-cls: ~'@{ant-prefix}-empty';
@ds-table-prefix-cls: ~'ds-table';
@table-header-icon-color: @text-color-secondary;
@angle-down-icon: 'data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbnMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48dGl0bGU+MDEtMDMtYW5nbGUtZG93bi1zPC90aXRsZT48cmVjdCBpZD0iY2FudmFzIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHN0eWxlPSJmaWxsOm5vbmUiLz48cGF0aCBmaWxsPSIjMzg0MzUwIiBkPSJNMTQuNzE5NzMsOS44NDQ3MywxMiwxMi41NjQ0NSw5LjI4MDI3LDkuODQ0NzNhLjc0OTkyLjc0OTkyLDAsMCwwLTEuMDYwNTQsMS4wNjA1NGwzLjI1LDMuMjVhLjc0OTcxLjc0OTcxLDAsMCwwLDEuMDYwNTQsMGwzLjI1LTMuMjVhLjc0OTkyLjc0OTkyLDAsMCwwLTEuMDYwNTQtMS4wNjA1NFoiLz48L3N2Zz4=';
@angle-up-icon: 'data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbnMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0Ij48dGl0bGU+MDEtMDEtYW5nbGUtdXAtczwvdGl0bGU+PHJlY3QgaWQ9ImNhbnZhcyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBzdHlsZT0iZmlsbDpub25lIi8+PHBhdGggZmlsbD0nIzM4NDM1MCcgZD0iTTkuMjgwMjcsMTQuMTU1MjcsMTIsMTEuNDM1NTVsMi43MTk3MywyLjcxOTcyYS43NDk5Mi43NDk5MiwwLDAsMCwxLjA2MDU0LTEuMDYwNTRsLTMuMjUtMy4yNWEuNzQ5NzIuNzQ5NzIsMCwwLDAtMS4wNjA1NCwwbC0zLjI1LDMuMjVhLjc0OTkyLjc0OTkyLDAsMCwwLDEuMDYwNTQsMS4wNjA1NFoiLz48L3N2Zz4=';

@select-prefix-cls: ~'@{ant-prefix}-select';
@sorter-btn-size: 24px;

.@{ds-table-prefix-cls} {
  position: relative;
  .ds-tree-table {
    &.ds-tree-table-with-selection {
      thead > tr {
        th {
          &:nth-of-type(2) {
            padding-left: 0 !important;
          }
        }
      }
      tbody > tr {
        &.ant-table-row {
          td {
            &.ant-table-cell-with-append {
              padding-left: 0 !important;
            }
          }
        }
      }
    }
    tbody > tr {
      &:not(.ant-table-placeholder):not(.ant-table-row-level-0) td {
        background-color: @white;
      }
      &.ant-table-row {
        td {
          background-color: @white !important;
          padding-left: 24px !important;
          &.ant-table-cell-with-append {
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
        }

        &:hover {
          td {
            background-color: @grey-050 !important;
          }
        }
      }
    }
    .ant-table-row {
      td {
        &:before {
          display: none !important;
        }
      }
    }
  }

  .virtual-table {
    colgroup {
      display: none;
    }
  }
  .virtual-table-cell {
    padding: 16px 24px;
    border-bottom: 1px solid @gray-color-lighter-6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &.ds-table-rounded {
    .@{table-prefix-cls} {
      border-radius: 3px 3px 0 0;
      overflow: hidden;
    }
  }

  .@{table-prefix-cls}-content {
    overflow: auto !important;
  }

  .@{table-prefix-cls}-row-expand-icon-cell {
    max-width: 0 !important;
    min-width: 0 !important;
    width: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    * {
      display: none;
    }
  }

  .@{table-prefix-cls}-cell {
    &:not(.ant-table-selection-column) {
      min-width: 72px;
    }
  }

  .@{table-prefix-cls} {
    .@{table-prefix-cls}-selection-column {
      padding: 0 24px;
      .ds-checkbox {
        padding: 0 4px;
        label {
          padding: 0;
        }
      }
    }
  }

  .@{table-prefix-cls}-title {
    border-bottom: 0;
  }

  .@{table-prefix-cls}-ping-left {
    .@{table-prefix-cls}-cell-fix-left-last {
      &:after {
        opacity: 1;
      }
    }
  }

  .@{table-prefix-cls}-cell-fix-left-last {
    &:after {
      opacity: 0;
    }
  }

  .@{table-prefix-cls}-ping-right {
    .@{table-prefix-cls}-cell-fix-right-first {
      &:after {
        opacity: 1;
      }
    }
  }

  .@{table-prefix-cls}-cell-fix-right-first {
    &:after {
      opacity: 0;
    }
  }

  .@{table-prefix-cls} {
    thead > tr {
      background-color: @gray-color-lighter-8;
    }
    .@{table-prefix-cls}-cell-fix-left-last {
      &:after {
        right: 30px;
      }
    }
    .@{table-prefix-cls}-cell-fix-right-first {
      &:after {
        left: 0px;
      }
    }
    thead > tr > td,
    tbody > tr > td,
    tfoot > tr > th {
      padding: 16px 24px;
      &.@{table-prefix-cls}-cell-fix-left,
      &.@{table-prefix-cls}-cell-fix-right {
        display: table-cell;
      }
      &.@{table-prefix-cls}-column-sort {
        background-color: rgba(213, 232, 246, 0.44);
      }
    }

    thead > tr > th {
      background-color: @gray-color-lighter-8;
      height: 64px;
      font-weight: 500;
      padding: 0 24px;
      color: @gray-color-lighter-1;
      border-bottom: 1px solid @gray-color-lighter-6;
      &.@{table-prefix-cls}-column-has-sorters {
        cursor: pointer;
        &:hover {
          background-color: rgba(233 237 238, 0.3);
        }
      }
      &.@{table-prefix-cls}-column-sort {
        background-color: rgba(213, 232, 246, 0.44);
        &:hover {
          background-color: rgba(202, 229, 250, 0.58);
        }
      }
      &.ds-table-active-column {
        background-color: rgb(251, 246, 217);
      }
      &.@{table-prefix-cls}-cell-fix-left,
      &.@{table-prefix-cls}-cell-fix-right {
        display: table-cell;
        background-color: @gray-color-lighter-8;
      }

      .@{table-prefix-cls}-selection {
        display: none;
      }

      &:not(.@{table-prefix-cls}-column-sort) {
        .@{table-prefix-cls}-column-sorter {
          opacity: 0;
        }
        &:hover {
          .@{table-prefix-cls}-column-sorter {
            opacity: 1;
          }
        }
      }
    }

    tbody > tr {
      &:not(.@{table-prefix-cls}-placeholder) {
        &:not(.@{table-prefix-cls}-row-level-0) {
          td {
            background-color: @grey-050;
          }
          &:hover {
            td {
              background-color: @grey-100;
            }
          }
        }
      }
      &.ds-group-row {
        &:hover {
          td {
            background-color: @white;
          }
        }
      }
      &.@{table-prefix-cls}-measure-row > td {
        padding: 0 24px;
      }
      &.@{table-prefix-cls}-expanded-row {
        td {
          padding: 24px;
          &:before {
            position: absolute;
            width: 2px;
            height: 100%;
            left: 0;
            top: 0;
            background-color: @grey-600;
            content: '';
          }
        }
      }
      &.@{table-prefix-cls}-row-level-1,
      &.@{table-prefix-cls}-row-level-2 {
        td {
          &:first-of-type {
            &:before {
              position: absolute;
              width: 2px;
              height: 100%;
              left: 0;
              top: 0;
              background-color: @grey-600;
              content: '';
            }
          }
        }
      }

      &.@{table-prefix-cls}-row-level-1 {
        td {
          &:not(.@{table-prefix-cls}-selection-column) {
            padding-left: 48px;
          }
        }
      }

      &.@{table-prefix-cls}-row-level-2 {
        td {
          &:not(.@{table-prefix-cls}-selection-column) {
            padding-left: 64px;
          }
        }
      }
    }

    tbody > tr > td {
      color: @gray-color-lighter-2;
      font-weight: normal;
      font-size: 13px;
      line-height: 1.38;
      background-color: #fff;
      & > .ant-select,
      & > input {
        width: 100%;
      }
    }
    &-cell-fix-left-last {
      &:after {
        box-shadow: 8px 0 12px 0 rgba(35, 41, 54, 0.04);
      }
    }
    &-cell-fix-right-first {
      &:after {
        transform: rotateZ(180deg);
        box-shadow: 8px 0 12px 0 rgba(35, 41, 54, 0.04);
      }
    }
  }
  &.ds-table-cell-size-medium {
    .@{table-prefix-cls} {
      &-tbody > tr > td,
      &-tfoot > tr > th {
        padding: 14px 24px;
      }
    }
  }
  &.ds-table-cell-size-small {
    .@{table-prefix-cls} {
      &-tbody > tr > td,
      &-tfoot > tr > th {
        padding: 12px 24px;
      }
    }
  }

  .@{table-prefix-cls} {
    &-column-sorters {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
    }
    &-column-sorter {
      max-width: 24px;
      min-width: 24px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    &-column-sorter-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 24px;
      margin: 0;
    }
    &-column-sorter-up,
    &-column-sorter-down {
      width: 24px;
      height: 16px;
      display: block !important;
      background-size: 24px;
      background-position: center;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      position: relative;
      margin: 0;
      svg {
        display: none;
      }
    }
    &-column-sorter-up {
      background-image: url(@angle-up-icon);
      opacity: 0.4;
      &.active {
        opacity: 1;
      }
    }
    &-column-sorter-down {
      background-image: url(@angle-down-icon);
      opacity: 0.4;
      &.active {
        opacity: 1;
      }
    }
  }

  .@{ant-prefix}-pagination {
    width: 100%;
    margin: 0;
    padding: 16px 24px;
    float: none;
    text-align: right;
    background-color: @gray-color-lighter-8;

    .@{ant-prefix}-pagination-total-text {
      float: left;
      font-size: 13px;
      line-height: 1.39;
      color: @grey-600;
      font-weight: 400;
      display: flex;
      align-items: center;

      strong {
        font-weight: 500;
      }
    }

    .@{ant-prefix}-pagination-options {
      text-align: left;
    }

    .@{select-prefix-cls} {
      width: auto;
      min-width: 140px;
    }
  }
}

.@{table-prefix-cls} {
  border-radius: 0;

  table {
    border-radius: 0;
    background-color: #fff;
  }

  &-title {
    padding: 0;
    border-bottom: 1px solid @grey-200;
  }

  &-scroll {
    overflow-x: auto;
    overflow-y: auto;

    .@{table-prefix-cls}-placeholder {
      border: 0;
      padding: 32px;
    }
  }
  &-footer {
    padding: 0;
    background: none;
    border-radius: 0;
    border: none;

    &:before {
      content: none;
    }
  }

  &-tbody > tr {
    &.expandable {
      cursor: pointer;
    }
  }

  thead > tr > th,
  tbody > tr > td,
  tfoot > tr > th {
    text-overflow: ellipsis;
    overflow: hidden;

    &:last-child {
      padding-right: 24px;
    }

    &:first-child {
      padding-left: 24px;

      &.@{table-prefix-cls}-selection-column {
        text-align: center;
        display: table-cell;
        justify-content: center;
        align-items: center;
        max-width: 72px;
        min-width: 72px;
        width: 72px;
      }
    }

    tfoot > tr > th {
      color: #fff;
      background-color: @gray-color-lighter-8;
      font-weight: 500;
    }

    thead > tr > th {
      color: @gray-color-lighter-2;
      font-size: @font-size-base;
      font-weight: 500;
      line-height: @line-height-base;
      > span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        width: 100%;
      }

      &.@{table-prefix-cls}-actions {
        overflow: visible;
      }
    }

    &:not(.@{table-prefix-cls}-bordered) {
      .@{table-prefix-cls}-thead > tr > th {
        border-top: @border-width-base @border-style-base @border-color-split;
      }
    }

    .@{table-prefix-cls}-selection {
      display: flex;
      align-items: center;
      justify-content: center;

      .@{table-prefix-cls}-selection-down {
        display: flex;
        align-items: center;
      }
    }

    tr.clickable {
      cursor: pointer;
    }

    .virtual-table-cell {
      padding: 0 16px;
      border-bottom: @border-width-base @border-style-base @border-color-split;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
      max-width: 100%;
    }

    &-pagination.@{ant-prefix}-pagination {
      width: 100%;
      margin: 0;
      padding: 20px 16px;
      float: none;
      text-align: right;
      background-color: @gray-color-lighter-8;

      .@{ant-prefix}-pagination-total-text {
        float: left;
      }

      .@{ant-prefix}-pagination-options {
        text-align: left;
      }

      .@{select-prefix-cls} {
        width: auto;
      }
    }

    &-column-sorter {
      width: auto;
      min-width: @sorter-btn-size * 2;
      height: 0;
      flex: 1 1 100%;
      position: relative;

      &-up,
      &-down {
        position: absolute;
        left: 0;
        right: 0;
        width: auto;
        height: @sorter-btn-size;
        margin-right: @sorter-btn-size;
        background-size: contain;
        background-repeat: no-repeat;
      }

      &-up {
        top: -@sorter-btn-size;
        background-position: left 8px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iYW5nbGUtdXBfLXMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0iIzk0OWVhNiIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNCI+ICA8cmVjdCBpZD0iYmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgc3R5bGU9ImZpbGw6I2YyZjJmMjtmaWxsLW9wYWNpdHk6MCIvPiAgPHBhdGggaWQ9InBhdGgiIGQ9Ik05LjcgMTQuMmwyLjMtMi4zIDIuMyAyLjNjLjQuNCAxIC40IDEuNCAwIC40LS40LjQtMSAwLTEuNGwtMy0zYy0uNC0uNC0xLS40LTEuNCAwbC0zIDNjLS40LjQtLjQgMSAwIDEuNC40LjQgMSAuNCAxLjQgMHoiLz48L3N2Zz4=);

        &.active {
          background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iYW5nbGUtdXBfLXMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNCI+ICA8cmVjdCBpZD0iYmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgc3R5bGU9ImZpbGw6I2YyZjJmMjtmaWxsLW9wYWNpdHk6MCIvPiAgPHBhdGggaWQ9InBhdGgiIGQ9Ik05LjcgMTQuMmwyLjMtMi4zIDIuMyAyLjNjLjQuNCAxIC40IDEuNCAwIC40LS40LjQtMSAwLTEuNGwtMy0zYy0uNC0uNC0xLS40LTEuNCAwbC0zIDNjLS40LjQtLjQgMSAwIDEuNC40LjQgMSAuNCAxLjQgMHoiLz48L3N2Zz4=);
        }
      }

      &-down {
        bottom: -@sorter-btn-size;
        background-position: left -8px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iYW5nbGUtZG93bi1zIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQiIGZpbGw9IiM5NDllYTYiPiAgPHJlY3QgaWQ9ImJnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHN0eWxlPSJvcGFjaXR5OjA7ZmlsbDojZjJmMmYyIi8+ICA8cGF0aCBpZD0icGF0aCIgZD0iTTExLjMgMTQuMmMuNC40IDEgLjQgMS40IDBsMy0zYy40LS40LjQtMSAwLTEuNC0uNC0uNC0xLS40LTEuNCAwTDEyIDEyLjEgOS43IDkuOGMtLjQtLjQtMS0uNC0xLjQgMC0uNC40LS40IDEgMCAxLjRsMyAzeiIvPjwvc3ZnPg==);

        &.active {
          background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iYW5nbGUtZG93bi1zIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQiPiAgPHJlY3QgaWQ9ImJnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHN0eWxlPSJvcGFjaXR5OjA7ZmlsbDojZjJmMmYyIi8+ICA8cGF0aCBpZD0icGF0aCIgZD0iTTExLjMgMTQuMmMuNC40IDEgLjQgMS40IDBsMy0zYy40LS40LjQtMSAwLTEuNC0uNC0uNC0xLS40LTEuNCAwTDEyIDEyLjEgOS43IDkuOGMtLjQtLjQtMS0uNC0xLjQgMC0uNC40LS40IDEgMCAxLjRsMyAzeiIvPjwvc3ZnPg==);
        }
      }

      .@{iconfont-css-prefix}-caret-up,
      .@{iconfont-css-prefix}-caret-down {
        display: none;
      }
    }

    .@{empty-prefix-cls}-description {
      color: #6a7580;
    }
  }
}
