.c-main-header.sticky .c-button-filled:hover {
  color: #fff;
}

.c-main-nav__item--expandable {
  position: relative;

  .c-main-nav__submenu {
    top: 100%;
    left: 0;
    transition: none;
    visibility: hidden;

    &:before {
      position: absolute;
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      max-height: 0;
      background-color: #fff;
      content: '';
      box-shadow: 0 12px 25px 0 rgba(0,0,0,0.1);
      z-index: 0;
      transition: all .25s ease-in-out;
    }

    .c-main-nav__submenu__list {
      opacity: 0;
      visibility: hidden;
      transition: all .25s ease;
      padding: 0;
    }

    .c-main-nav__submenu__item__link {
      padding: 0;
    }

    &.expanded {
      visibility: visible;

      &:before {
        max-height: 200px;
        opacity: 1;
      }

      .c-main-nav__submenu__list {
        visibility: visible;
        opacity: 1;
        transition-delay: .25s;
      }
    }

  }
}
