@import '../absctract';

// Single article
.c-article {

  // padding: $section-separator-desktop 0;
  padding-top: $section-separator-desktop;

  @include for-tablet {
    padding-top: $section-separator-tablet;
  }
  
  @include for-phone-only {
    padding-top: $section-separator-mobile;
  }

  // Common
  &__image {
      margin: 50px 0;

      @include for-tablet-down {
        margin: 30px 0;
      }

      img {
          display: block;
          width: 100%;
          height: auto;
      }

  }

  // Header
  &__header {

      &__title {
          @include font-graphik(2.5rem, false, false, 1.25em);
          margin-bottom: 30px;

          @include for-tablet-down {
            font-size: 2rem;
            line-height: 1.2em;
          }

      }

      &__author {
          @include font-graphik(1.125rem, false, false, 1.222em);
      }

      &__details {
          margin: 30px 0;

          @include for-tablet-down {
            margin: 13px 0;
          }

      }

  }

  // Main content
  &__lead {
      @include font-graphik(1.5rem, false, false, 1.5em);
      margin-bottom: 50px;

      @include for-tablet-down {
        font-size: 1.3rem;
      }

  }

  &__description {

    padding-bottom: $section-separator-desktop;

    @include for-tablet {
      padding-bottom: $section-separator-tablet;
    }
    
    @include for-phone-only {
      padding-bottom: $section-separator-mobile;
    }

      @include font-graphik(1rem, false, false, 1.75em);

      p, h2, h3, h4, h5, h5, span, ul, ol, li {
          color: $tundora-color;
      }

      p, h2, h3, h4, h5, h6, span, ul, ol, figure {
        margin: 35px 0;
      }

      p {
          @include font-graphik(1rem, false, false, 1.75em);
          @include for-tablet-down {
            margin: 30px 0;
          }

      }

      // h3 - 20 px, height 25 px, kolor poniżej

      h2, h3, h4, h5, h6 {
          font-weight: 500;
          line-height: 1.25em;
      }

      // 24 px, height 30 px, kolor poniżej (w tej chwili tak jest w h2, ale coś jest namotane w źródle)
      h2 {
        font-size: 1.5rem;
      }

      // - 20 px, height 25 px, kolor poniżej
      h3 {
        font-size: 1.25rem;
      }

      h4 {
        font-size: 1.125rem;
      }

      h5, h6 {
        font-size: 1rem;
      }

      a {
        color: $accent-color;
        position: relative;

        &:hover:after {
          width: 100%;
        }
        
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0;
          height: 1px;
          background-color: $accent-color;
          transition: width .3s ease;
        }
      }

      img, figure img {
          display: block;
          max-width: 100%;
          margin: 50px auto;
          width: 100%;
          @include for-tablet-down {
            margin: 40px 0;
          }

      }

      blockquote {
        margin: 35px 0;
        padding-left: 32px;
        border-left: 2px solid $accent-color;

        > * {
          font-size: 1.5rem;
          line-height: 1.4em;
        }
      }

      ul {
        margin: 35px 0 35px 25px;

        li {
          position: relative;
          margin-bottom: 10px;
          padding-left: 20px;

          &:before {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            @include make-circle (6px, $accent-color);
          }
        }

      }

      ol {
        margin: 35px 0 35px 25px;
        counter-reset: item;

        li {
          position: relative;
          margin-bottom: 10px;
          display: block;

          &:before {
            content: counter(item) ". ";
            counter-increment: item;
            color: $accent-color;
          }
        }
      }

      figure {
        margin: 50px 0;

        img {
          margin: 0;
        }

        figcaption {
          margin-top: 12px;
          opacity: .5;

          strong {
            font-weight: 400;
          }
        }

      }

  }

  &__attachments {
    display: flex;
    flex-wrap: wrap;

    &--links {
      margin-top: 56px;

      @include for-tablet-down {
        margin-top: 50px;
      }

      li {
        @include for-phone-only {
          width: 100%;
        }
      }

      li:not(:last-of-type) {
        margin-right: 50px;

        @include for-tablet {
          margin-right: 30px;
        }

        @include for-phone-only {
          margin-bottom: 20px;
          margin-right: 0;
        }

      }

    }

    &--media {
      width: calc(100% + 30px);
      margin: 0 0 -20px -15px;

      li {
        width: calc(25% - 30px);
        margin: 0 15px 30px;

        @media screen and (max-width: 1023px) {
          width: calc(50% - 30px);
        }

      }

      .c-read-more {
        @include for-phone-only {
          font-size: .8rem;
        }
        @media screen and (min-width: 1024px) and (max-width: 1366px) {
          font-size: .8rem;
        }
      }

    }

   

  }

}

.c-media-attachments {

  &__photo {
    margin-bottom: 15px;

    img {
      display: block;
      width: 100%;
      height: 140px;
      object-fit: contain;
    }

  }

  &__details {
    margin-bottom: 25px;

    span {
      display: block;
      color: $tundora-color;
    }

    &__size {
      margin-top: 6px;
      opacity: .5;
    }

  }

}