@import '../absctract';

// Pressroom aside list
.c-aside-links {

  &__item {
    position: relative;
    width: 100%;

    &--active {

      .c-aside-links__single i {
        right: 0;
        opacity: 1;
      }

      .c-mission-values__mobile__content {
        height: auto;
        margin: 17px 34px;
      }

    }

    &--mision-values{
      display: flex;
      align-items: center;
      width: 100%;
    }

  }

  &__item:not(:last-of-type) {
    margin-bottom: 50px;

    @include for-phone-only {
      margin-bottom: 30px;
    }

  }

  &__single {
    display: inline-block;
    @include font-graphik(1.875rem, $cod-dark-color, 500, 1.2em);

    @include for-phone-only {
      font-size: 1.5rem;
    }

    @include for-tablet {
      font-size: 1.6rem;
    }

    &:hover {

      i {
        right: 0;
        opacity: 1;
      }

    }

    i {
      position: absolute;
      top: 6px;
      right: 15px;
      transition: all .4s ease;
      opacity: 0;
      padding-right: 0;
      font-size: 1.6rem;
      color: $cod-dark-color;

      @include for-phone-only {
        top: 7px;
      }

      @include for-tablet {
        top: 9px;
      }

      svg {
        display: block;
      }

    }

    .u-fill-accent {
      fill: $cod-dark-color;
    }

  }

  &__index {
    @include font-graphik(.75rem, $mine-shaft, 500, 1.16em);
    display: inline-block;
    vertical-align: top;
    margin: 6px 17px 0 0;
  }

}