.c-awards-vertical {
  padding: 113px 0 120px;

  .c-award-item {
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(20, 20, 20, 0.1);

    &:not(:last-of-type) {
      margin-bottom: 60px;
    }

    &:last-of-type {
      margin-bottom: 36px;
    }

    &__image {
      height: 140px;
      @include flexValue(false, flex-start, center);


      @include for-phone-only {
        // width: 100%;
        // margin-bottom: 25px;
        margin-top: -50px;

      }

    }

    &__content {
      flex: 1;
    }

    &__title {
      font-size: 1.125rem;
      line-height: 1.222em;
      margin-bottom: 15px;
    }

    &__button {
      display: inline !important;
      padding-left: 40px;

      @include for-tablet-down{
        padding-left: 0;
      }
    }

    @include for-phone-only {
      display: flex;
      flex-direction: column;

      &__content {
        padding: 0;
      }

    }

  }

}
