@import '../absctract';

.c-page-hero--awards {

	.c-hero-header__subtitle {
		margin-bottom: 0;
	}

}

.c-section-awards {
	background-color: $white-color;
	padding: $section-separator-desktop 0;

	border: {
		top: $awards-section-border;
		bottom: $awards-section-border;
	}

	&__title {
		margin-bottom: 87px;

		@include for-phone-only {
			margin-bottom: 60px;
		}
		
	}

	&__items {
		justify-content: center !important;

		& > :not(:last-child) {
			border-right: 1px dashed $silver-chalice-color;
		}

		& > :nth-child(4n+0) {
			border-right: none;
		}

	}

	.c-award-item {
		align-items: center;

		&__title {
			font-size: 0.75rem;
			line-height: 1.5em;
			font-weight: 400;
		}

	}

	@include for-phone-only {
		padding: $section-separator-mobile 0;
		
		.c-award-item{
			border-right: none;
		}
	}

	@include for-tablet {
		padding: $section-separator-tablet 0;

		&__items {
			& > :not(:last-child) {
				border-right: 1px dashed $silver-chalice-color;
			}

			& > :nth-child(3n+0) {
				border-right: none;
			}		
		}

	}

}

.c-award-item {
	display: flex;
	margin-bottom: 40px;
	align-items: center;

	&:last-of-type {
		@include for-phone-only {
			margin-bottom: 0;
		}
	}

	&__image {
		position: relative;
		width: 150px;
		
		@include for-phone-only {
			
		}
		// img {
		// 	object-fit: contain;
		// 	display: block;
		// }
	}

	&__content {
		padding: 0 30px;
		flex-direction: column;
		display: flex;
		justify-content: center;
	}

	&__subtitle {
		display: block;
		@include font-graphik(false, rgba($tundora-color, .6), false, 1.75em);
		margin: 15px 0;
	}

	&__description {
	
	}

	&__button{
		display: none;
	
	}

}

.c-award-news-box {

	&-bg {
		padding: 100px 0;
		display: flex;
		justify-content: center;
	}

	&__columns {
		position: relative;
		width: $grid-desktop-width + $features-section-margin * 2;

		
	}

	&__extended-content{
		padding: 110px 30px 110px 114px;
		width: 100%;
		max-width: 1085px;
	}

	&__content {

		&--small {
			max-width: 574px;
		}

		.c-text-pre-title, .c-text-pre-title:after, .c-text-header, .c-text-paragraph {
			color: $white-color;
		}
	}

	&__image {
		@include absolute-centered-item(false, true);
		right: 0;

		img {
			display: block;
			max-width: 90%;
			height: auto;
		}

		&--small {
			overflow: hidden;
			display: flex;
    		justify-content: center;
		}

		&--mobile {
			img {
				max-width: 100%;
				object-fit: contain;
			}
			margin-bottom: 20px;
			max-height: 300px;
			overflow: hidden;
			max-width: 100%;
		}

	}

	&__details {
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid rgba($white-color, .1);
		
		&__paragraph, &__author {
			@include font-graphik(.875rem, $white-color, false, 1.64em);
		}

		&__paragraph {
			margin-bottom: 30px;
		}

		&__author {
			display: block;
			margin: 15px 0;
		}

		img {
			display: block;
		}

	}

	@media screen and (max-width: $grid-desktop-width + $features-section-margin * 2){
		&__content {
			padding: 50px;
		}
	}

	@include for-tablet {

	}

}