
.c-links-with-border {

  li {
    border-bottom: 1px solid rgba($mine-shaft, .1);
    padding-bottom: 31px;

    &:not(:last-of-type) {
      margin-bottom: 31px;
    }

  }

  &__single {
    @include flexValue(false, center, space-between);
    color: $accent-color;

    &:hover i {
      right: -10px;
    }

    &__title {
      @include font-graphik(1rem, $accent-color, false, 1.75em);
    }

    i {
      font-size: 1.25rem;
      position: relative;
      right: 0;
      transition: all .3s ease;
    }

  }

}
