.c-basic-black-block {
  display: flex;
  align-items: center;
  padding: $section-separator-desktop 0;

  &__title {
    color: $white-color;
    font-size: 1.875rem;
  }



  @include for-phone-only {
    padding: $section-separator-mobile 0;
    &__title{
      width: 100%;
    }

  }

  &__media{
    iframe{
      width: 100%;
      max-height: 300px;
      padding-left: 20px;
    }
  }


  @include for-tablet-down {
    padding: $section-separator-tablet 0;
    justify-content: center;

    &__title{
      margin: auto;
      text-align: center;
      width: 80%;
      height: fit-content;
    }

    &__media{
      width: fit-content;
      iframe{
        width: 80vw;
        max-height: unset;
        padding: 30px 0;
      }
    }
  }


  @include for-phone-only {
    padding: $section-separator-mobile 0;

    &__title {
      width: 100%;
    }

    &__media{
      width: fit-content;
      iframe {
        width: 80vw;
        max-height: 300px;
        padding: 30px 0;
      }
    }
  }

}
