body {
  overflow: initial !important;
}

.c-legal {
  justify-content: center;

  .c-legal-content{
    padding-top: $section-separator-desktop/4;
    padding-bottom: $section-separator-desktop/2;

    @include for-tablet {
      padding-top: $section-separator-tablet/4;
      padding-bottom: $section-separator-tablet/2;
    }

    @include for-phone-only {
      padding-top: $section-separator-mobile/4;
      padding-bottom: $section-separator-mobile/2;
    }
  }

}
