.c-breadcrumb {

  &__list {
    @include flexValue(wrap, center, false);
    padding-bottom: 17px;

    @include for-tablet-down {
      padding-bottom: 12px;
    }

  }

  li {
    color: rgba($mine-shaft, .6);

    &:not(:last-of-type) {
      position: relative;
      padding-right: 8px;
      margin-right: 8px;

      &:after {
        content: "/";
        position: absolute;
        top: -1px;
        right: -2px;
        font-size: .68rem;
      }

    }

  }

  &__lnk {
    display: block;
    @include font-graphik(0.75rem, inherit, false, 1.166em);
    transition: all .3s ease;

    &:hover {
      color: rgba($mine-shaft, 1);
    }

  }

  &__label {
    display: block;
    @include font-graphik(0.75rem, inherit, false, 1.166em);
  }

}
