@import '../absctract';

// Buttons
.c-read-more {
	@include font-graphik(.937rem, $accent-color, 600, 1.2em);
	
	&__icon {
		font-size: 1.2rem;
		color: $accent-color;
		padding-left: 10px;
		position: relative;
		right: 0;
		transition: all .3s ease;
	}

	> * {
		display: inline-block;
    	vertical-align: middle;
	}

	&:hover {

		.c-read-more__icon {
			right: -5px;
		}

	}


	&--back {
		> * {
			display: unset;
			vertical-align: unset;
		}

		.c-read-more__icon{
			padding-left: 0;
			padding-right: 10px;
		}
		svg {
			transform: rotate(180deg);;
		}

		&:hover {

			.c-read-more__icon {
				right: 5px;
			}
	
		}
	}

}

.c-button-filled {
	padding: 20.5px 41.5px;
	display: inline-block;
	background-color: $accent-color;
	color: $white-color;
	font-weight: 500;
	transition: all .3s ease;

	@include for-phone-only {
		padding: 15px 35px;
	}

	&:hover {
		background-color: $accent-hover-color;
	}

	&__icon {
		padding-left: 10px;
	}

	&--transparent {
		padding: 22.5px 41.5px;
		display: inline-block;
		background-color: transparent;
		border: 2px solid $accent-color;
		color: $accent-color;

		&:hover {
			background-color: $accent-color;
			color: $white-color;
		}

	}

	&--icon {
		padding: 19px 30px 19px;
		display: inline-flex;
		align-items: center;
		
		i {
			width: 24px;
			height: 24px;
			margin-right: 20px;
			position: relative;
			top: -1px;
		}
	}

}