.c-capabilities-highlited {
  background-color: $bg-color;
  padding: 100px 0;
  position: relative;

  &__image-container {
    opacity: 1;
    height: 0;
  }

  &__dynamic-image {
    width: 75%;
    max-width: 75%;
    max-height: 650px;

    @include for-phone-only {
      max-height: 400px;
      width: 100%;
      max-width: 100%;
    }

    &--active {
      opacity: 1;
      height: unset;
    }
  }

  &__button{
    bottom: 0;
    position: absolute;

    @include for-tablet-down {
      position: relative;
      margin: 30px 0;
      bottom: unset;
    }

    @include for-phone-only {
      display: flex;
      justify-content: center;
    }
  }

  &__bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 273px;
  }

  &__content {
    position: relative;
    align-items: flex-start;
  }

  .c-text-pre-title {
    margin-bottom: 0;
  }

  &__title {
    margin: 50px 0;
  }

  &__item {
    transition: all 200ms ease-in;
    p{
      transition: all 200ms ease-in;
    }

    &:hover {
      background-color: $cod-dark-color;
      .c-capabilities-highlited__item__title {
        color: $white-color;
      }

      p {
        color: $white-color;
      }

      .c-capabilities-highlited__item__icon {
        color: $white-color;
      }
    }

    cursor: pointer;
    background-color: $white-color;
    margin: 15px 0;
    user-select: none;
    padding: 40px 30px;


    &:first-of-type {
      margin-top: 0;
    }

    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      pointer-events: none;
    }

    &__title {
      color: $cod-dark-color;
      font-size: 1.125rem;
      line-height: 1.5em;
      flex-grow: 1;
      pointer-events: none;
      padding-right: 50px;

    }

    &__icon {
      font-size: 1.7rem;
      user-select: none;
      pointer-events: none;
      transition: transform 0.15s ease-in;
      position: relative;
      top: -1px;
    }

    &__desc {
      opacity: 0;
      max-height: 0;
      transition: max-height 0.25s ease-out;
      pointer-events: none;
      padding-right: 50px;

    }

    &--expanded {
      margin: 30px 0;
      background-color: $cod-dark-color;

      .c-capabilities-highlited__item__desc {
        opacity: 1;
        max-height: 200px;
        transition: max-height 0.35s ease-in;

        p {
          color: $white-color;
        }
      }

      .c-capabilities-highlited__item__title {
        color: $white-color;
      }

      .c-capabilities-highlited__item__icon {
        transform: rotate(180deg);
        color: $white-color;
      }
    }
  }

  .image-container {
    justify-content: center;
    display: flex;

    .c-dynamic-image__container {
      display: inline-block;
      width: auto !important;
    }

    .c-dynamic-image__dots {
      @include for-tablet {
        display: none;
      }
    }

  }
}
