@import "../absctract";

$border: 2px solid rgba(255, 255, 255, 0.2);

.c-career-positions-listing {
  padding: calc(#{$section-separator-desktop} * 2) 0;

  @include for-phone-only {
    padding: $section-separator-mobile 0;
  }

  @include for-tablet {
    padding: $section-separator-tablet 0;
  }

  &__title {
    color: $white-color;
    margin-bottom: 70px;
  }

  &__empty {
    color: $white-color;
    margin-top: 30px;
  }

  &__content {
    display: block;
    flex-direction: column;

    @include for-tablet-down {
      width: 100%;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    @include for-phone-only {
      .c-button-filled {
        padding: 13px 30px;
        text-align: center;
      }
    }
  }

  &__content--empty{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }

  &__paragraph {
    color: $white-color;
    font-size: 0.875rem;
    line-height: 1.71em;
    margin-bottom: 52px;
    opacity: 0.8;

    @include for-tablet-down {
      margin-bottom: 0;
      padding-right: 20px;
    }
  }

  .c-pagination-list {
    margin-top: 60px;
    padding-top: 40px;
    justify-content: flex-start;
    position: relative;

    .active-page {
      color: $white-color;
    }

    &__link {
      position: absolute;
      margin-left: 0;
      margin-right: 0;
      color: $white-color;

      @include make-circle(32px, false);
      color: $cod-dark-color;
      transition: opacity 0.4s ease;
      opacity: 0.7;

      border: 1px solid $white-color;

      &.link-next {
        right: 0;
      }

      &.link-prev {
        right: 42px;
      }
    }
  }
}

.c-career-positions-list {
  display: flex;
  margin-bottom: 60px;

  &__dropdown {
    width: 30%;
    margin-right: 3%;
  }

  &__listing {
    border-top: $border;
  }

  .select-arrow{
    stroke: white;
  }

  @include for-tablet-down {
    justify-content: space-between;
    margin-bottom: 40px;

    &__dropdown {
      margin-right: 0;
    }
  }

  @include for-phone-only {
    flex-direction: column;
    margin-bottom: 20px;
    &__dropdown {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}

.c-career-positions-item {
  display: flex;
  padding: 30px 0;
  border-bottom: $border;
  align-items: center;

  &__content {
    display: flex;
    flex-grow: 1;
  }

  &__title {
    color: $white-color;
    flex-grow: 1;
    @include font-graphik(1.125rem, $white-color, 500, false);
  }

  &__location {
    padding: 0 50px;
    @include font-graphik(0.93rem, $white-color, false, false);
  }

  &__apply-btn {
    margin-left: 30px;
    min-width: 75px;
  }

  @include for-phone-only {
    &__content {
      flex-direction: column;
    }
    &__location {
      padding: 0;
    }

    &__apply-btn {
      margin-left: 20px;
    }
  }
}
