
.c-career-values {

  .c-generic-section__image {
    height: 100%;
  }

  .c-generic-section__description {
    font-size: 1.125rem;
    line-height: 1.77em;
    color: rgba($cod-dark-color, .8);

    @include for-phone-only {
      font-size: 1rem;
      line-height: 1.75em;
    }

    &--large {
      font-size: 1.5rem;
      line-height: 1.4em;
    }
  }

  &.u-bg-cod-dark {
    background-color: $cod-gray-color;

    .c-text-header {
      color: $white-color;
    }

    .c-generic-section {

      &__content, &__description {
        color: $white-color;
      }

    }

    .c-icon-title-box__icon-wrapper i {
      color: $white-color;
    }

  }

  .c-generic-section__icon-list {
    margin-bottom: 0;

    .c-dynamic-image {
      @include for-phone-only {
        margin-top: 0;
      }
    }

    .c-icon-title-box > :last-child {
      margin-bottom: 0;
    }

    .c-icon-title-box__title {
      font-size: .937rem;
      line-height: 2em;
    }
  }

  .c-read-more {
    margin-top: 60px;
  }

  &.u-reverse-column {

    .c-generic-section__image {
      width: calc(100% - 66px);
      margin-left: auto;

      @include for-phone-only {
        width: 100%;
      }
    }
  }
}
