@import '../absctract';

.c-form-card {
	background-color: $white-color;
	box-shadow: 0 0 50px 0 rgba(157, 157, 157, 0.15);
	padding: 46px 30px 30px 30px;

	@include for-phone-only {
		padding: 36px 20px 30px 20px;
	}

	@include for-tablet {
		padding: 30px 20px;
	}

	&--large-spaced-bottom {
		margin-bottom: 100px;
		padding: 100px 150px;
	}

	.c-form__submit-button {
		width: 100%;
	}
}

.c-feature-item {

	&__image {
		.c-dynamic-image {
			object-fit: contain;
			margin-bottom: 20px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 0 30px 80px 0;

		@include for-phone-only {
			padding: 0 20px 30px;
		}
		
	}

	&__header {
		@include font-graphik($business-card-header-size, $black-color, 600, 1.22em);
	}

	&__paragraph {
		padding-top: 15px;
		word-wrap: normal;
		opacity: .8;
		font-size: 0.875rem !important;
	}
}
