@import '../absctract';

.c-company-card {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__image {
        @include photo-default;

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }

    }

    &__content {
        padding: 27px 30px 60px;
        background-color: $white-color;
        flex: 1;
        position: relative;

        @include for-phone-only {
            padding: 20px 20px 25px;
        }

        @include for-tablet {
            padding-bottom: 40px;
        }

        header {
            @include flexValue(false, center, space-between);
            margin-bottom: 46px;

            @include for-phone-only {
                margin-bottom: 25px;
            }

            @include for-tablet {
                margin-bottom: 33px;
            }

        }

        &__logo {
            height: 30px;

            @include for-tablet {
                height: 25px;
            }

            img {
                display: block;
                height: 100%;
                width: auto;
                max-width: 72px;

                @include for-tablet {
                    max-width: 65px;
                }
    
            }

        }

        &__category-list {
            display: flex;

            li:not(:first-of-type) {
                margin-left: 15px;

                @include for-phone-only {
                    margin-left: 10px;
                }

            }

        }

        &__paragraph {
            @include font-graphik(.875rem, false, false, 1.71em);
            opacity: .8;
            margin-bottom: 24px;
            overflow: hidden; 
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }

        .c-read-more {
            
            @include for-tablet-portrait-up {
                position: absolute;
                bottom: 30px;
            }

            @include for-tablet {
                bottom: 20px;
            }

        }

    }

}