@import '../absctract';

.c-box-with-counters {
    padding: 28px 25px;
    border: 1px solid $porcelain-color;

    @include for-phone-only {
        padding: 20px 15px 15px;
    }

    &__content {
        @include flexValue(wrap, center, space-between);

        &__data {
            flex: 1;
            @include flexValue(wrap, false, space-around);
        }

    }

    .c-button-filled {
        white-space: nowrap;
        margin-left: 25px;

        @include for-phone-only {
            margin: 25px 0 0 0;
            width: 100%;
            text-align: center;
        }

    }

}

.c-counter-box {
    text-align: center;
    flex: 1;

    span {
        display: block;
    }

    &__label {
        @include font-graphik(2rem, $accent-color, 500, 1.31em);
    }

    &__title {
        font-size: 1.125rem;
        line-height: 1.55em;
    }

    &__description {
        font-size: .81rem;
        line-height: 1.71em;
        padding: 0 5px;
    }
 
}