@import '../absctract';

.c-cta-form-section {
  padding: $section-separator-desktop 0;

  &__steps {
    color: $silver-chalice-color;
    position: relative;
    @include font-graphik(0.75rem, false, false, false);
    margin-bottom: 30px;

    &:after {
      content: " ";
      @include absolute-centered-item(false, true);
      position: absolute;
      bottom: 0;
      margin-left: 24px;
      width: 36px;
      height: 1px;
      border: 1px dashed $silver-chalice-color;
    }
  }

  @include for-tablet {
    padding: $section-separator-tablet 0;
  }

  @include for-phone-only {
    padding: $section-separator-mobile 0;
  }

  .c-cta-form__title {
    @include font-graphik(1.875rem, false, 600, 1.25em);
    margin-bottom: 30px;

    @include for-phone-only {
      font-size: $text-header-mobile-size;
      line-height: $text-header-mobile-lh;
    }
  }

  .c-form {
    padding: 0;
    background-color: transparent;

    @include for-phone-only {
      margin: 0;
    }

    .c-form__submit-button {
      // margin-top: 30px;
      margin-left: 50%;
      transform: translateX(-50%);

      @include for-phone-only {
        margin-top: 30px;
      }
    }

    &__input {
      color: $cod-gray-color;
      background-color: transparent;

      &--textarea{
        &--half-width {
          width: 50%;
          
          @include for-tablet-down{
            width: 100%;
          }

        }
      }
    }

    &__checkbox-wrapper{
      display: flex;
      justify-content: center;
    }

    &__checkboxes{
      .c-form__label{
        text-align: center;
      }

    }

    &__label--bottom {
      text-align: center;
    }

    @include for-phone-only{
      &__submit-button {
       width: 100%;
      }
    }
    
  }

  &--dark {
    background-color: $cod-dark-color;

    .c-cta-form__title{
      color: $white-color;
    }

    .c-cta-form__description{
      color: $white-color;

      &--config{
        color: $white-color;
        font-size: 1.5rem;
        @include font-graphik(1.5rem, false, 300, 1.25em);
      }
    }

    label {
      color: $white-color;
    }

    .c-form {

      &__title {
        color: $white-color;

        &:after {
          border-color: $silver-chalice-color;
        }

      }

      &__forgot-text {
        color: $white-color;
      }

      &__label {
        color: $white-color;

        &--checkbox{
          color: $form-label-color;
        }

        &--bottom{
          color: $form-label-color;
        }
      }

      &__input {
        color: $white-color;
        &:not([type="submit"]) {
          background-color: transparent;
          border-color: rgba($white-color, .3);
          @include placeholder-color($white-color);
        }

      }

      &__checkbox {
  
        &__indicator {
          border-color: rgba($white-color, .3);
    
          &:before {
            content: "\2714";
          }
    
        }
        
      }

    }

  }

  

  &--not-centered {
    .c-form__submit-button{
      align-self: flex-start;
      margin-left: 0 !important;
      transform: inherit !important
    }

    .c-form__checkboxes{
      .c-form__label{
        text-align: left;
      }
    }

    .c-form{
      justify-content: flex-start !important;
    }

    .c-form__title{
      text-align: left;

      &::after{
        left: 0;
        transform: unset;
      }
    }

    .c-form__subtitle{
      text-align: left;
    }

    .c-form__label--bottom{
      text-align: left;
      max-width: 370px;
    }

    .c-form__checkbox-wrapper{
      justify-content: flex-start;
      max-width: 370px;
    }
  }

  &--single-row {
    .c-form {
     
      &__inputs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;
        
      }

      label {
        margin: 0px;
      }

      &__label:not(.c-form__label--checkbox):not(.c-form__label--bottom) {
        display: none
      }

      &__label {
        &--bottom{
          max-width: 310px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &__input {
        height: 100%;
        min-width: 300px;
      }

      &__submit-button {
        margin: 0 !important;
        transform: none !important;
      }

      .c-form__inputs--bottom{
        
      }
      // Error style
      label.error {

        .c-form {

          &__input__error {
            position: absolute;
            left: -130px;
            margin: 0;
            
            @include for-phone-only {
              padding: 7px 0px 5px;
              margin-left: 16px;
              width: 70px;
              text-align: center;
            }

            &:before {
              right: -6px;
              left: auto;
              border-right: none;
              border-left: 6px solid $red-color;
            }
          }
        }

      }


      @include for-phone-only{
        &__inputs {
          flex-direction: column;
        }

        &__input {
          min-width: unset;
          height: unset;
          margin-bottom: 10px;
        }

        &__submit-button {
         width: 100%;
        }
      }

      
    }
  }

  &--steps {
    .c-form__title {
      &::after {
        display: none;
      }
    }
  }

  .c-read-more--back{
    margin-bottom: 15px;
    display: none;
  }
}

.c-cta-form {

  
  &__header {

    margin-bottom: 60px;
    
    @include for-phone-only {
      margin-bottom: 30px;
    }
  }

}


.c-cta-form-section--blog-style{
    .c-form{
    padding: 0px 100px;

    @include for-tablet-down{
      padding:inherit
    }
  }
}

// // Forms - own style
// .blog-category-wrapper {
//   .c-form{
//     padding: 0px 100px;

//     @include for-tablet-down{
//       padding:inherit
//     }
//   }

  
// }