@import '../absctract';

.c-extra-dark-common {
    text-align: center;
    padding: $section-separator-desktop 0;

    @include for-phone-only {
        padding-top: $section-separator-mobile;
        padding-bottom: $section-separator-mobile;
    }

    @include for-tablet{
        padding-top: $section-separator-tablet;
        padding-bottom: $section-separator-tablet;
    }

    &:not([class*="u-bg"]) {
        background-color: $cod-gray-light-color;
    }

}

.c-extra-dark-section {
    @extend .c-extra-dark-common;

    .l-grid {
        justify-content: center;
    }
    .c-text-header {
        font-size: 2.5rem;
        line-height: 1.25em;

        @include for-phone-only {
            font-size: 2rem;
            line-height: 1.3em;
        }

        @include for-tablet{
            font-size: 2.2rem;
            line-height: 1.32em;
        }

    }

    .c-text-header, .c-text-header__highlighted {
        color: $white-color;
    }

    &__title {
        margin-bottom: 50px;
    }

    p {
        @include font-graphik(1.5rem, $white-color, 300, 1.25em);

        @include for-phone-only {
            font-size: 1.3rem;
            line-height: 1.3em;
        }

        @include for-tablet {
            font-size: 1.3rem;
            line-height: 1.35em;
        }

    }

    .c-form {
        margin: 50px auto 0;

        &__full-flex-button {
            display: flex;

            input:not([type="submit"]) {
                flex: 1;
                border-right: none;
            }

            input {
                margin-top: 0;
            }

        }

        label {
            text-align: left;
        }

        input {

            &[type="submit"] {
                padding-left: 43px;
                padding-right: 43px;
            }

        }

        &__input {
            background-color: transparent;
            border-color: rgba($white-color, .3);
        }

        // Single article page - join style
        &__join {
            max-width: 448px;

            input[type="submit"] {
                padding-left: 10px;
                padding-right: 10px;
                max-width: 150px;

                @include for-phone-only {
                    max-width: 100px;
                }

            }

        }

        // Blog category page - request a demo style
        &__request-a-demo {
            max-width: 370px;

            .c-form__row {
                margin-top: 20px;
            }

        }

    }

    .c-button-filled {
        margin-top: 60px;
        font-weight: 600;
    }

    &--small {

        .l-section__small {
            max-width: 515px;
        }

        .c-text-header {
            font-size: 1.875rem;
            line-height: 1.4em;
        }
        
    }
    
}

// Box with icon and title
.c-box-with-icon {
    text-align: center;
    margin-bottom: 58px;

    @include for-phone-only {
        margin-bottom: 45px;
    }

    &__wrapper {
        height: 75px;
        i{
            color: $icons-light-color;
        }
        @include flex-center;
    }

    &__title {
        @include font-graphik(1rem, $white-color, 400, 1.5em);
        margin-top: 12px;
    }

}

// Section with counter list
.c-extra-dark-section--counter {
    @extend .c-extra-dark-common;

    li:not(:last-of-type) {

        @include for-phone-only {
            margin-bottom: 30px;
        }

    }   

    header {
        margin-bottom: 60px;
        
        .c-text-header {
            color: #fff;
            margin-bottom: 0;
        }

        .c-text-paragraph {
            color: $white-color;
            max-width: 700px;
            margin: 30px auto 0;
        }
    }
    
    .c-counter-box {
        max-width: 320px;
        @include push--auto;

        &__description {
            margin-top: 30px;
            @include font-graphik(1rem, rgba($white-color, .8), false, 1.75em);

            @include for-phone-only {
                margin-top: 15px;
            }

            @include for-tablet {
                margin-top: 20px;
            }

        }

    }

}