.c-dynamic-html {
  p {
    font-size: 1rem;
    color: #484848;
    line-height: 1.75em;
  }

  a{
    color: $accent-color;

    &:hover{
      color: $accent-hover-color;
    }
  }

  q,
  blockquote p {
    opacity: 0.6;
    font-size: 0.812rem;
    line-height: 2.3em;
  }

  ul {
    margin: 35px 0 35px 25px;

    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;

      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        @include make-circle(6px, $accent-color);
      }
    }
  }

  ol {
    margin: 35px 0 35px 25px;
    counter-reset: item;

    li {
      position: relative;
      margin-bottom: 10px;
      display: block;

      &:before {
        content: counter(item) ". ";
        counter-increment: item;
        color: $accent-color;
      }
    }
  }

  figure {
    img {
      margin: 0 0 10px;
    }
  }

  &--cta-block {
    p {
      font-size: .937rem;
      color: #ffffffcc;
      line-height: 2em;
    }
  }
}


// .c-cta-basic-black--light{

//   &c-dynamic-html--cta-block {
//     p {
//       font-size: .937rem;
//       color: #ffffffcc;
//       line-height: 2em;
//     }
//   }
// }

.c-cta-basic-black{

  .c-dynamic-html--cta-block {
    p {
      font-size: .937rem;
      color: #ffffffcc;
      line-height: 2em;
    }
  }

  &--light{

    .c-dynamic-html--cta-block {
      p {
        font-size: .937rem;
        color: $cod-dark-color;
        line-height: 2em;
      }
    }
  }
}
