$smallDotsShift: 32%;
$mediumDotsShift: 56%;


.c-dynamic-image {
  object-fit: contain;
  display: block;


  // Container
  &__container {
    position: relative;
  }

  // Dots
  &__container--with-dots{
    .c-dynamic-image:not(.c-dynamic-image__dots){
      position: relative;
    }
  }

  &__dots {
    position: absolute;
    &--small {
      width: 128px!important;
      height: 128px!important;
    }

    &--top-left {
      top: 0;
      left: 0;
      transform: translate(-$smallDotsShift, -$smallDotsShift);
    }

    &--top-right {
      top: 0;
      right: 0;
      transform: translate($smallDotsShift, -$smallDotsShift);
    }

    &--bottom-left {
      bottom: 0;
      left: 0;
      transform: translate(-$smallDotsShift, $smallDotsShift);
    }

    &--bottom-right {
      bottom: 0;
      right: 0;
      transform: translate($smallDotsShift, $smallDotsShift);
    }

    &--middle-top-left{
      top: 20%;
      left: 0;
      transform: translate(-$mediumDotsShift, -$mediumDotsShift);
    }

    &--middle-top-right{
      top: 20%;
      right: 0;
      transform: translate($mediumDotsShift, -$mediumDotsShift);
    }

    &--middle-bottom-left{
      bottom: 20%;
      left: 0;
      transform: translate(-$mediumDotsShift, $mediumDotsShift);
    }

    &--middle-bottom-right{
      bottom: 20%;
      right: 0;
      transform: translate($mediumDotsShift, $mediumDotsShift);
    }

  }





  &--lazy {
    transition: all .2s ease;
    opacity: 0;
    // filter: blur(10px);

    &--loaded {
      opacity: 1;
      // filter: blur(0);
    }
  }



  &__blurred-preview {
    // filter: blur(10px);
    transition: opacity .2s ease;
    pointer-events: none;
    z-index: 1;
    opacity: .5;

    &--fadeOut {
      opacity: 0;
    }
  }
}



.c-dynamic-icon{

  display: flex;

  &__icon {
    font-size: $default-icon-size;
    color: $icons-dark-color;
  }
}
