@import '../absctract';

.c-features {

    &-section {
        background-color: $white-color;
        @include push--auto;
        padding-top: 75px;

        @include for-phone-only {
            padding-top: $section-separator-mobile;
        }

        @include for-tablet {
            padding-top: $section-separator-tablet;
        }

        header {
            margin-bottom: 116px;

            .c-features-section__title {
                margin-top: 24px;
			}
			

        }

        &__title {
            margin: 0 0 75px;
        }

    }

    &--inverse-colors {
        background-color: $cod-dark-color;
        padding: $section-separator-desktop 0 calc(#{$section-separator-desktop} - 80px);

        @include for-phone-only {
            padding-top: $section-separator-mobile;
            padding-bottom: $section-separator-mobile;
        }

        .c-features-section {
            background-color: $cod-dark-color;
            padding-top: 0;
        }

        .c-text-header {
            color: $white-color;
        }

        .c-feature-item {

            &__content {
                padding-left: 0;
                padding-right: 0;
            }
            
            &__header {
                color: $white-color;
            }

            &__paragraph {
                color: $white-color;
            }
            
            &__image img {
                height: 33px;
            }

        }

    }

}