// Footer
.c-main-footer {
  background-color: $footer-bg-color;
  padding: 70px 0 $section-separator-desktop;

  @include for-phone-only {
    padding: 40px 0;
  }

  @include for-tablet {
    padding: 50px 0;
  }

  &__columns {
    display: flex;
    flex-wrap: wrap;
  }

  &__first-column {
    flex: 1;

    @include for-tablet {
      flex: auto;
      width: 100%;
      @include flexValue(false, center, space-between);
      margin-bottom: 30px;
      padding-bottom: 25px;
      border-bottom: 1px solid rgba($white-color, .15);
    }

  }

  .c-main-nav__logo-image {
    width: 121px;
    height: 34px;
    position: relative;
    top: -6px;

    @include for-phone-only {
      margin: 0 auto 30px;
      top: 0;
    }

    @include for-tablet {
      position: static;
    }

  }

  .c-links-box {
    flex: 1;

    @include for-phone-only {
      flex: auto;
      width: 100%;
    }
  }

  .c-footer-links {

    @include for-phone-only {
      text-align: center;
    }

  }

  .c-social-list {
    @include flexValue(false, center, false);
    margin: 22px 0px 0 -1px;

    @include for-phone-only {
      margin: 0 0 65px 0;
      justify-content: center;
    }

    @include for-tablet {
      margin: 0;
    }

    li:not(:last-of-type) {
      margin-right: 10px;

      @include for-tablet {
        margin-right: 20px;
      }

    }

    a {
      height: 18px;
      width: auto;
      // transition: all 2s ease;


      i {
        color: $silver-chalice-color;
        transition: all .3s;
        font-size: 1.43rem;

      }

      // :hover {
      //   color: $white-color;
      //    transform: rotate(-360deg);
      // }

    }



  }

}

.c-links-box {

  @include for-phone-only {
    margin-bottom: 30px;
  }

  &.expanded {

    .arrow-icon {
      transform: rotate(180deg);
    }

  }

  &__title {
    display: block;
    margin-bottom: 25px;
    @include font-graphik(0.9375rem, $white-color, false, 2em);

    @include for-phone-only {
      display: inline-block;
      margin-bottom: 15px;
      position: relative;
    }

  }

  &__submenu {

    @include for-phone-only {
      height: 0;
      overflow: hidden;
    }

  }

  .arrow-icon {
    position: absolute;
    right: -28px;
    top: 6px;
    transition: all .4s ease;
    transform: rotate(0deg);
  }

  li:not(:last-of-type) {
    margin-bottom: 13px;
  }

  &__lnk {
    display: block;
    @include font-graphik(0.9375rem, $white-color, false, 2em);
    transition: all .4s ease;
    color: $footer-lnk-color;
    opacity: .7;
    padding-left: 0;

    // &:hover {
    //   opacity: 1;
    //   padding-left: 5px;
    // }

  }

}
