@import "../absctract";

.c-generic-section {
  padding: $section-separator-desktop 0;

  &--white-bg {
    background-color: $white-color;
  }

  &--gray-bg {
    background-color: $bg-color;
  }

  @include for-phone-only {
    padding-top: $section-separator-mobile;
    padding-bottom: $section-separator-mobile;
  }

  @include for-tablet {
    padding-top: $section-separator-tablet;
    padding-bottom: $section-separator-tablet;
  }

  &--pressroom {
    padding-bottom: 0;

    @include for-desktop-to {
      padding-bottom: 0;
    }

    .c-generic-section__columns {

      @include for-tablet {
        align-items: flex-end;
      }
    
      .c-generic-section__content {
        @include for-tablet {
          padding-bottom: $section-separator-tablet;
        }
      }
      
    }

    .c-dynamic-image {

      @include for-desktop-to {
        margin: 0 !important;
      }
    }
  }

  &__image {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    max-width: 600px;

    .c-person-contact {
      @include for-phone-only {
        margin-bottom: 40px;
      }
    }

    > :last-child {
      margin-bottom: 0;
    }

    > .c-read-more {
      margin-top: 60px;
      display: inline-block;

      @include for-phone-only {
        margin-top: 30px;
      }
    }
  }

  &__image-logo {
    max-width: 130px;
    height: 30px;

    img {
      height: 100%;
      width: auto;
      filter: invert(100%);
    }

    & + .c-generic-section__description {
      @include for-tablet-portrait-up {
        margin-top: 50px;
      }
    }
  }

  &__description {
    margin: 60px 0;

    @include for-phone-only {
      margin: 30px 0;
    }
  }

  &__links {
    margin-top: 60px;

    li:not(:last-of-type) {
      margin-bottom: 50px;
    }

    @include for-phone-only {
      margin: 30px 0;

      li:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }

  &__tag-list {
    margin: 28px 0;

    .c-icon-title-box {
      display: flex;
      align-items: flex-start;
      padding-right: 0;

      &__icon-wrapper {
        position: relative;
        top: 2px;
      }

      &__title {
        font-weight: 400;
        margin-top: 0;
      }
    }

    &__title {
      display: block;
      margin-bottom: 60px;
      @include font-graphik(1.5rem, false, false, 1.25em);
    }

    li {
      margin-right: 20px;
      margin-bottom: 20px;
      @extend .u-generic-section-tag;

      @include for-phone-only {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }

  &__buttons {
    margin-top: 30px;

    a {
      margin-right: 25px;
    }
  }

  &__icon-list {
    margin: 28px 0 28px;

    @include for-tablet-down {
      margin-top: 30px;
    }

    .c-icon-title-box {
      display: flex;
      align-items: flex-start;
      padding-right: 20px;

      &__icon-wrapper {
        position: relative;
        top: 2px;
      }

      &__title {
        font-weight: 400;
        margin-top: 0;
      }
    }

    &__title {
      display: block;
      margin-bottom: 60px;
      @include font-graphik(1.5rem, false, false, 1.25em);
    }

    li {
      width: 50%;
      margin-top: 32px;

      @include for-phone-only {
        margin-top: 15px;
      }

      @include for-tablet {
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  &:not(.c-generic-section--only-text) {
    &:not(.u-reverse-column) {
      .c-generic-section__content {
        margin-left: auto;
      }
    }
  }

  // Reverse column
  &.u-reverse-column {
    .c-generic-section {
      &__columns {
        > div:last-of-type {
          order: -1;
        }
      }

      &__content {
        margin-right: auto;
      }

      &__image img {
        margin-left: auto;
      }
    }
  }

  &--quote {
    .c-generic-section__description {
      margin-bottom: 30px;
      @extend .c-text-paragraph;
    }
  }

  // Quote
  &__quote {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba($mine-shaft, 0.1);
    @include font-graphik(.812rem, rgba($cod-dark-color, .6), false, 2.3em);

    &__author {
      @include font-graphik(0.812rem, false, false, 2.3em);
    }

    &__paragraph {
      margin-bottom: 30px;
      opacity: 0.6;
    }

    &__author {
      display: block;
      margin: 15px 0 10px;
    }

    img {
      display: block;
      max-height: 20px;
      margin-top: 10px;
    }

    &__image {
      img {
        display: block;
        max-height: 20px;
        margin-top: 10px;
      }
    }
  }

  // With Slider
  &--slider {
    padding: 220px 0;
    position: relative;

    .c-text-pre-title {
      position: absolute;
      left: calc(
        (100vw - #{$grid-desktop-width}) / 2 +
          ((#{$grid-desktop-width} / 12) * 5) + 15px
      );
      margin-top: 3px;
    }

    .c-generic-section {
      &__columns {
        align-items: flex-start;
      }

      &__company-box {
        padding: 0;
      }

      &__content {
        height: initial;
        display: block;
        padding-top: 43px;
        padding-bottom: 80px;
      }

      &__single-box {
        transition: all 0.8s ease;
        transform: scale(1);
        opacity: 1;
      }

      &__additional-info {
        margin-top: -13px;
      }
    }

    .c-box-with-counters {
      border-color: $gallery-color;
    }

    // Slick slider style overwrite
    .slick-slide {
      // &.slick-active + .slick-slide {
      // 	opacity: 0;
      // }

      &:not(.slick-active) {
        .c-generic-section__single-box {
          opacity: 0;
          transform: scale(0.85);
        }
      }
    }

    .slick-arrow {
      z-index: 1;
      bottom: 9px;

      &.slick-next {
        right: calc((100vw - #{$grid-desktop-width}) / 2);
      }

      &.slick-prev {
        right: calc((100vw - #{$grid-desktop-width}) / 2 + 42px);
      }
    }
  }

  @include for-tablet-down {
    .c-text-paragraph-component {
      margin-bottom: 0;
      margin-top: 30px;
    }
  }

  @include for-phone-only {
    .c-dynamic-image {
      margin: 30px 0;
    }
  }
}

.c-simple-block-with-image {
  .c-dynamic-image {
    @include for-phone-only {
      max-height: 300px;
    }
  }
}
