@import "../absctract";

.c-generic-section__company-box {
  padding: $section-separator-desktop 0;

  @include for-phone-only {
    padding-top: $section-separator-mobile;
    padding-bottom: $section-separator-mobile;
  }

  @include for-tablet {
    padding-top: $section-separator-tablet;
    padding-bottom: $section-separator-tablet;
  }

  .c-generic-section {
    &__image {
      @include flexValue(false, center, center);

      img {
        width: 100%;
      }

      & + .c-generic-section__image-logo {
        @include for-phone-only {
          margin-top: 30px;
        }
      }
    }

    &__content {
      max-width: initial;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .c-text-header {
        margin-bottom: 50px;

        @include for-phone-only {
          margin-bottom: 30px;
        }
      }
    }

    // Show category next to logo
    &__content__display-category {
      display: flex;
      align-items: center;

      img {
        max-width: 130px;
        max-height: 40px;
        display: block;
      }
    }

    &__category-name {
      margin-left: 30px;
    }
  }

  .c-box-with-counters {
    border: 1px solid rgba($cod-dark-color, 0.1);
  }

  .c-counter-box {
    &__label {
      @include font-graphik(1.5rem, rgba($accent-color, 0.8), 600, 1.2em);
    }

    &__title {
      font-size: 0.812rem;
      line-height: 1.76em;
    }
  }

  // Dark version
  &.c-generic-section--dark {
    background-color: $cod-dark-color;

    .c-generic-section {
      &__image-logo {
        img {
          filter: invert(0);
        }
      }

      &__content {
        .c-text-header {
          color: $white-color;
        }
      }

      &__description {
        color: $white-color;
      }

      &__category-name {
        border-color: rgba(255, 255, 255, 0.1);
        color: $white-color;
      }
    }

    .c-counter-box {
      &__title,
      &__description {
        color: $white-color;
      }
    }

    .c-box-with-counters {
      border-color: rgba(243, 245, 246, 0.1);
    }
  }
}
