$menu-transition: all .4s ease;

// Header container - main components
.c-main-header {
  background: $white-color;
  overflow: visible;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0);

  top: 0;
  position: sticky;
  z-index: 9999;

  &__nav {
    height: 114px;
    position: relative;
    align-items: center;
    display: flex;
    transition: all .3s ease;
  }

  &__logo {
    height: 45px;
    width: 146px;
    margin-right: 45.5px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }

  &__btn {
    display: none;
  }

  &__bottom-bar {
    background-color: $white-color;
    border-bottom: 3px solid $alabaster-color;

    &__columns {
      justify-content: space-between;
      align-items: flex-start;
    }

    @include for-tablet-down {
      padding-top: 20px;
    }

    &--blog {
      border-bottom: none;
      position: relative;

      @include for-tablet-down {
        padding-top: 0;
      }

      .c-breadcrumb {
        position: absolute;
        top: 90px;
      }
    }

  }

  &.sticky {
    box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    height: 90%;
    .c-main-nav__item--end {
      opacity: 0;
      visibility: hidden;
    }

    .header-sticky-wrapper {
      opacity: 1;
      visibility: visible;
    }
  }
}

// Main navigation bar -
.c-main-nav {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 0;

  //tool tip visible on iphone
  z-index: 9999;

  &__ghost-bg {
    position: absolute;
    background: $white-color;
    box-shadow: 0 12px 25px 0 rgba($black-color, .1);
    z-index: 1000;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $white-color;
      position: absolute;
      left: 15px;
      top: -7px;
      opacity: 0;
    }
  }

  .mobile-btn-wrapper {
    display: none;
  }

  .header-sticky-wrapper {
    @include for-tablet-up {
      opacity: 0;
      visibility: hidden;
      @include absolute-centered-item(false, true);
      right: 0;
      transition: all .3s ease;
      display: block;
    }
  }

  .header-sticky-btn {
    @include for-tablet-up {
      font-size: .875rem;
      line-height: 1.57em;
      padding: 14px 28px;
      white-space: nowrap;
      display: block;
    }
  }

  // Hover action
  &.hover-action {

    > li:not(:hover)  {
      opacity: .6;
    }

  }

}

// First level menu items
.c-main-nav__item {
  padding: 0 15px 20px 15px;
  margin-top: 22px;
  position: initial;
  z-index: 1001;
  transition: all .3s ease;

  &.active {

    .c-main-nav__item__link {
      opacity: 1;
      color: $accent-color;
    }
  }

  &--expandable {
    @extend .c-main-nav__item;

    .c-main-nav__submenu__item {

      &__title, &__icon {
        transition: $menu-transition;
        opacity: .8;
      }

      &__description {
        opacity: .5;
      }

    }


    &:hover{
      @include for-desktop-up {
        .c-main-nav__item__link__icon {
          transform: rotate(180deg);
          top: -1px;
        }

      }
    }


  }

  &--end {
    @extend .c-main-nav__item;
    padding-right: 0;
    margin-left: auto;
    transition: all .3s ease;
    visibility: visible;
    opacity: 1;

    .c-read-more > * {
      color: $accent-color;
    }

    .c-main-nav__item__link {
      opacity: 1;
    }
  }

  &__link {
    @include font-graphik(0.9375rem, $cod-dark-color, 500, 1.2em);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .5s ease;

    &__icon {
      margin-left: 12px;
      top: 0;
      position: relative;
      transform: rotate(0deg);
      transition: all .5s ease;
      font-size: 1.2rem;
      color: $accent-color;
      opacity: .8;
    }

    &__title {
      opacity: .8;
    }

    &__description {
      opacity: .5;
    }
  }

  &.hover-action-item {

    .hover-action-subitem:not(.submenu-item-hover) {
      opacity: .6;
    }
  }
}

// Send level menu items
.c-main-nav__submenu {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  opacity: 0;
  visibility: hidden;

  z-index: 101;

  .hover-action-subitem {
    transition: all .5s ease;
    opacity: 1;
  }

  &__item {
    padding: 15px 55px;

    &__link {
      @include font-graphik(0.9375rem, $cod-dark-color, 500, 1.2em);
      display: flex;
      flex-direction: column;
      position: relative;
      padding-left: 52px;
      transition: all .3s ease;

      &.active {
        opacity: 1;

        .c-main-nav__submenu__item__title {
          opacity: 1;
        }

        i {
          opacity: 1;
        }
      }

      &:hover {
        opacity: 1;

        .c-main-nav__submenu__item {

          &__title {
            color: $accent-color;
            opacity: 1;
          }

          &__desctiption, &__icon {
            opacity: 1;
          }
        }
      }
    }

    &:first-child {
      padding-top: 47px;
    }

    &:last-child {
      padding-bottom: 47px;
    }

    i {
      color: $cod-dark-color;
      margin-right: 20px;
      @include absolute-centered-item(false, true);
      left: 0;
      transition: $menu-transition;
      margin-top: -0.5px;
    }

    &__description {
      @include font-graphik(0.875rem, $cod-dark-color, 400, 1.71em);
      opacity: .8;

      // @media screen and (min-width: 1071px) {
      //   white-space: nowrap;
      // }
    }
  }

  &.expanded {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    transition: all .3s ease .25s;
  }

  &.with-featured {

    .c-main-nav__submenu__list {
      @include for-tablet-portrait-up {
        min-width: 314px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &.featured-right {
      display: flex;
      flex-direction: row;
    }

    &.featured-bottom {
      .c-main-nav__featured-item {
        padding-top: 30px;
        padding-bottom: 30px;

        .featured__title {
          margin-bottom: 15px;
        }
      }
    }

    .c-main-nav__featured-item {
      background-color: $bg-color;
      padding: 47px 55px;
      transition: all .3s ease;
      max-width: 325px;

      &:hover {
        opacity: 1;

        .featured__title {
          opacity: 1;
        }
      }

      a {
        display: block;
        transition: all .5s ease;
      }

      .featured {

        &__preTitle {
          color: $test-color;
          text-transform: uppercase;
          margin-bottom: 15px;
          font-size: .75rem;
          line-height: 1.16em;
          letter-spacing: 1px;
        }

        &__title {
          color: $cod-dark-color;
          font-weight: 500;
          font-size: .9375rem;
          line-height: 1.5em;
          margin-top: 15px;
          margin-bottom: 30px;
          opacity: .8;
          transition: all .5s ease;
        }

      }

      .c-read-more {
        font-size: .875rem;
        line-height: 1.5em;
      }

      .c-dynamic-image {
        width: 214px;
      }

    }
  }

  // Two Columns
  &.list-columns {

    .c-main-nav__submenu {

      @include for-tablet-portrait-up {
        &__list {
          padding: 50px 50px 26px;
          @include flexValue(wrap, center, false);
          max-width: 682px;
          min-height: 320px;
        }

        &__item {
          padding: 0;
          margin-bottom: 24px;
          width: calc(50% - 15px);

          &:nth-of-type(odd) {
            margin-right: 30px;
          }

          &:first-of-type {
            padding-top: 0;
          }

          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }
    }

  }

}

// Menu breakpoint mobile and tablet
@include for-tablet-down  {

  .c-main-header {

    &__nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%!important;
      padding-left: calc(#{$grid-mobile-sideMargin} / 2);
      height: 70px;
      z-index: 1000;
      background-color: $white-color;

      &:after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 20px;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 1;
        transition: all .6s ease;
      }

    }

    &__logo {
      width: 130px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: auto;
        margin: 0;
      }

    }

    &__btn {
      display: block;
      @include absolute-centered-item(false, true);
      right: 20px;
      width: 32px;
      height: 22px;
      cursor: pointer;
    }

  }

  .c-main-nav {
    position: fixed;
    right: -100vw;
    top: 70px;
    background: #fff;
    height: calc(100vh - 70px);
    transition: all .6s ease;
    padding: 30px 15px 120px 48px;
    flex-direction: column;
    overflow-y: scroll;

    &__ghost-bg {
      display: none;
    }

    .mobile-btn-wrapper {
      display: block;
      position: fixed;
      bottom: 0;
      left: 100vw;
      width: 100%;
      height: 120px;
      padding: 25px 48px 0;
      z-index: 11;
      background-color: $white-color;
      transition: all .6s ease;

      a {
        display: block;
        text-align: center;
        padding-top: 17px;
        padding-bottom: 17px;
        font-size: .875rem;
      }

    }

    &__submenu {
      position: static;
      opacity: 1;
      visibility: visible;
      transition: all .6s ease;

      &.initialized {
        height: 0px;
      }

      &__list {
        height: auto;
      }


      &__item {
        padding-left: 20px;

        &__icon {
          // opacity: .8;
        }

        &:first-child {
          padding-top: 35px;
        }

        &:last-child {
          padding-bottom: 6px;
        }

      }

      &.with-featured .c-main-nav__featured-item{
        display: none!important;
      }

    }

    &__item {
      padding: 0;
      margin-bottom: 33px;
      z-index: 10;

      &__link {
        color: rgba(#141414, .8);
        font-size: 1rem;

        &__icon {
          position: relative;
          top: 0;
        }

      }

      &--end {
        display: none;
      }

    }

  }

  // Nav expanded
  .c-main-header__nav.expanded {

    &:after {
      opacity: 0;
    }

    .mobile-btn-wrapper {
      left: 0;
    }

    .c-main-nav {
      right: 0;;
    }

    .c-main-nav__item--expandable.opened {

      .c-main-nav__item__link svg {
        transform: rotate(180deg);
      }
      .c-main-nav__item__link__icon {
        transform: rotate(180deg);
        top: -1px;
      }

      .c-main-nav__submenu {
        display: block!important;
      }

    }

    // Hamburger style
    .hamburger-inner {
      transition-delay: .22s;
      background-color: transparent!important;

      &:before {
        top: 0;
        transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
        transform: translate3d(0,10px,0) rotate(45deg);
      }

      &:after {
        top: 0;
        transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
        transform: translate3d(0,10px,0) rotate(-45deg);
      }

    }

  }

  // Hamburger keyframes
  @keyframes top-2 {
    0% {
      top: 8px;
      transform: rotate(45deg);
    }
    50% {
      top: 8px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }

  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes bottom-2 {
    0% {
      bottom: 11px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 11px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }

  // Hamburger keyframes active
  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 8px;
      transform: rotate(0);
    }
    100% {
      top: 8px;
      transform: rotate(45deg);
    }
  }

  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 10px;
      transform: rotate(0);
    }
    100% {
      bottom: 10px;
      transform: rotate(135deg);
    }
  }

  // Hamburger style
  .c-main-header__btn {

    .btn {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      &.initialized {
        span {

          &:first-of-type {
            animation: ease .7s top-2 forwards;
          }

          &:nth-of-type(2) {
            animation: ease .7s scaled-2 forwards;
          }

          &:last-of-type {
            animation: ease .7s bottom-2 forwards;
          }

        }
      }
    }

    // Active btn
    &.active .btn {

      span {

        &:first-of-type {
          animation: ease .7s top forwards;
        }

        &:nth-of-type(2) {
          animation: ease .7s scaled forwards;
        }

        &:last-of-type {
          animation: ease .7s bottom forwards;
        }

      }

    }

    span {
      display: block;
      width: 100%;
      border-radius: 6px;
      height: 4px;
      background: $cod-dark-color;
      transition: all .3s;
      position: relative;

      & + span {
        margin-top: 5px;
      }

    }

  }

}

@include for-phone-only {
  .c-main-header__nav {
    padding-left: calc(#{$grid-mobile-sideMargin} / 2);
  }
}
