.c-page-hero {
  position: relative;
  padding: 50px 0;

  @include for-phone-only {
    padding: 40px 0 $section-separator-mobile;
  }

  @include for-tablet{
    padding: $section-separator-tablet 0;
  }

  .c-hero-header__content {
    padding: 50px 0;

    @include for-tablet-down {
      padding: 0;
    }
  }


  &:not(.c-hero-error):not(.c-page-hero--contact-us) {

    .c-hero__right-box {
      @include for-phone-only {
        max-width: 90%;
        @include push--auto;
      }

      img {
        &[src$=".svg"] {
          max-height: 450px;
          max-width: 500px;
          margin-left: auto;
        }

        &[src$="e2e.svg"] {
          max-width: initial;

          @include for-phone-only {
            width: 110% !important;
            margin-right: -5%;
          }
        }

        &[src$="7b7.svg"] {
          max-width: 455px;

          @include for-phone-only {
            height: 30vh;
          }
        }

        &[src$="961.svg"] {
          max-width: 540px;

          @include for-phone-only {
            height: 21vh;
          }
        }

        @include for-phone-only {
          height: 34vh;
          max-width: 100%;
          margin: 0 auto;
        }
      }

      &:after {
        @include bottom-light-shadow();

        @include for-phone-only {
          content: '';
        }

      }

    }

  }

  &:not(.c-page-hero--contact-us) {

    .c-hero__right-box {
      @include for-phone-only {
        order: -1;
        position: relative;
        margin: 0 0 20px auto;
      }

    }

  }

  &__columns {
    align-items: center;
  }

  &--inside-section {
    padding-top: 56px;
  }

  &--small {

    .c-hero-header__title {
      //font-size: 1.5rem;
      line-height: 1.4em;

      strong {
        font-size: 3.125rem;
        line-height: 1.2em;
        margin-top: 8px;
      }

    }

  }

  &__bar {
    width: 100%;
    background-color: $bg-color;
    position: absolute;
    bottom: 0;
    z-index: 0;
  }

  &__image-bottom {
    padding-bottom: 0;

    .c-hero-header__content {
      padding-bottom: 100px;

      @include for-phone-only {
        padding-bottom: 50px;
      }
    }

    .c-page-hero__columns {
      align-items: flex-end;
    }

  }

  &--contact-us {
    @include for-phone-only {
      padding-bottom: 0;
    }

    .c-hero-header__content {
      @include for-tablet-portrait-up {
        padding: 100px 0;
      }
    }

    .c-hero-header {
      @include for-tablet-portrait-up {
        max-width: 470px;
      }
    }
  }

  .c-hero-header {
    z-index: 1;
    position: relative;

    &__content--high {
      padding: $section-separator-desktop 0;

      @include for-phone-only {
        padding: 0;
      }

      @include for-tablet {
        padding: 0;
      }

      > :last-child {

        @include for-phone-only {
          margin-bottom: 0;
        }

      }

    }

    &__content :last-child {
      @include for-tablet {
        margin-bottom: 0;
      }
    }

    &__title {

      @include for-phone-only {
        font-size: 2.2rem;
        line-height: 1.3em;
        margin-bottom: 15px;
      }

      + p {
        margin-top: 30px;

        @include for-phone-only {
          font-size: 1rem;
        }
      }

    }

    .c-text-paragraph-component {
      line-height: 1.63em;
    }

    &__subtitle {
      margin: 30px 0 0;

      @include for-phone-only {
        font-size: 1rem;
      }

    }

    &--bottom-spacing {
      margin-bottom: 55px;
    }

    &__buttons {
      margin: 50px 0 0;
      & :not(:last-child) {
        margin-right: 20px;
      }
    }

    @include for-phone-only {
      text-align: center;
    }

    .c-header-buttons {
      @include for-tablet {
        margin-bottom: 0;
      }
    }

  }

  .c-hero__right-box {
    z-index: 1;
    // Fixed for safari
    display: block;

    img {
      display: block;
      width: 100%;
    }

  }

  .c-hero__right--illustraion-box {
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    right: 0;
    position: absolute;
    height: 100%;

    @include for-phone-only {
      position: static;
    }

    img {
      margin-top: 50px;
      max-width: 100%;
      object-fit: contain;

      @include for-phone-only {
        margin-top: 0;
      }

    }
  }

  .c-hero-tpl {
    &__description {
      margin-bottom: 30px;
      width: 100%;
      //font-size: 1.5rem;
      line-height: 1.25em;
    }

    &__button {
      margin-bottom: 67px;
    }
  }

  &--flex-start {

    .c-hero-header__content {
      position: static;
      top: 0;
      transform: translateY(0);
    }

  }

}

.c-header-centered {

  @include for-phone-only {
    padding: 40px 0 $section-separator-mobile;
  }

  @include for-tablet {
    padding: $section-separator-tablet 0;
  }

  & + section, & + div {
    position: relative;
  }

  &__rows {

    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
      max-width: 100%;
    }

  }

  &__title {
    margin-top: $section-separator-desktop;
    margin-bottom: 30px;

    @include for-phone-only {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 2.2rem !important;
      line-height: 1.3em !important;
    }

    @include for-tablet {
      margin-top: 0;
    }

  }

  &__subtitle {
    margin-bottom: 73px;

    @include for-phone-only {
      font-size: 1rem;
      line-height: 1.35em;
      margin-bottom: 30px;
    }

    @include for-tablet {
      margin-bottom: 60px;
    }

  }

  .c-header-buttons {
    justify-content: center;
  }

  &__image {
    display: flex;
    align-items: flex-end;
    margin-top: 60px;
    position: relative;
    -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.25);
    -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 25px 0 rgba(0,0,0,.25);

    @include for-phone-only {
      order: -1;
      margin: 0 0 20px;
      box-shadow: none;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30%;
      background: white;
      background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);

      @include for-tablet-portrait-up{
        content: '';
      }
    }

  }

  &--high {
    // margin-bottom: 140px;

    @include for-tablet-down {
      margin-bottom: 0;
    }

    :last-child {
      @include for-tablet-down {
        margin-bottom: 0;
      }
    }

  }

  @include for-phone-only {
    font-weight: 900;
  }

}

.c-header-buttons {
  margin: 35px 0 0;
  display: flex;
  align-items: center;

  @include for-phone-only {
    flex-wrap: wrap;
    justify-content: center;
  }

  & :not(:last-child) {
    margin-right: 35px;

    @include for-phone-only {
      margin-right: 0;
      margin-bottom: 15px;
    }

    @include for-tablet {
      margin-right: 20px;
    }

  }

  .c-read-more {

    > * {
      vertical-align: top;
    }

    @include for-phone-only {
      width: 100%;
    }

  }

  .c-button-filled {

    & + .c-read-more {

      @include for-phone-only {
        margin-top: 20px;
      }

    }

    & + .c-button-filled {

      @include for-tablet {
        margin-top: 20px;
      }

    }

    @include for-tablet {
      padding: 20.5px 31.5px;
    }

  }

}

.c-header-background {
  position: relative;

  & + section {
    position: relative;
  }

  &__bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black-color;
      opacity: 60%;
    }

  }

  &__mask {
    position: relative;
  }

  .c-hero-header {
    min-height: 368px;
    display: flex;
    align-items: center;

    &__content {
      padding: $section-separator-desktop 0;

      @include for-phone-only {
        padding-top: $section-separator-mobile;
        padding-bottom: $section-separator-mobile;
        text-align: center;
      }

      @include for-tablet {
        padding: $section-separator-tablet 0;
      }

      :last-child {
        margin-bottom: 0;
      }

    }
  }

  .c-text-paragraph-component{
    color: $white-color;
  }

  &__rows {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;

    img {
      max-width: 100%;
    }

  }

  &__title {
    color: $white-color !important;

    @include for-phone-only {
      font-size: 2.2rem;
      line-height: 1.3em;
    }

  }

  &__subtitle {
    color: $white-color;
    margin: 30px 0 0;

    @include for-phone-only {
      font-size: 1rem;
    }

    & + a {
      margin-top: 100px;
    }

  }

  .c-header-buttons {

    @include for-phone-only {
      margin-bottom: 0;
    }

  }

}

