@import '../absctract';

.c-page-hero {
	position: relative;

	&__columns {
		align-items: center;
	}

	&--inside-section {
		padding-top: 56px;
	}

	&--small {
		.c-hero-header__title {
			font-size: 1.5rem;
			line-height: 1.4em;
			
			strong {
				font-size: 3.125rem;
				line-height: 1.2em;
				margin-top: 8px;
			}
		}
	}

	&__bar {
		width: 100%;
		background-color: $bg-color;
		position: absolute;
		bottom: 0;
		z-index: 0;
	}

	.c-hero-header {
		z-index: 1;
		position: relative;

		&__content--high {
			padding: $section-separator-desktop 0;

			@include for-phone-only {
				padding-top: $section-separator-mobile;
				padding-bottom: $section-separator-mobile;
			}

			> :last-child {

				@include for-phone-only {
					margin-bottom: 0;
				}

			}

		}
	
		&__title {
			margin-bottom: 0;
		}

		&__subtitle {
			margin: 30px 0 0;
		}

		&--bottom-spacing {
			margin-bottom: 55px;
		}

		&__buttons {
			margin: 50px 0;
			& :not(:last-child) {
				margin-right: 20px;
			}
		}

		
        @include for-phone-only {
            text-align: center;
        }
	
	}

	.c-hero__right-box {
		z-index: 1;
		display: flex;
		justify-content: flex-end;
		
		img {
			display: block;
			max-width: 100%;
		}

	}

	.c-hero__right--illustraion-box {
		z-index: 1;
		display: flex;
		justify-content: flex-end;
		right: 0;
		position: absolute;
		height: 100%;

		@include for-phone-only {
			position: static;
		}

		img {
			margin-top: 50px;
			max-width: 100%;
			object-fit: contain;

			@include for-phone-only {
				margin-top: 0;
			}

		}
	}

	.c-hero-tpl {
		&__description {
			margin-bottom: 30px;
			width: 100%;
			font-size: 1.5rem;
			line-height: 1.25em;
		}

		&__button {
			margin-bottom: 67px;
		}
	}

	&--flex-start {

		.c-hero-header__content {
			position: static;
			top: 0;
			transform: translateY(0);
		}

	}

}
