@import '../absctract';

$image-height: 218px;
$transition: all .4s ease;

.c-industries-section {
	&__title {
		margin-top: $section-separator-desktop;
		margin-bottom: 60px;
	}

	&__item {
		margin-bottom: 30px;
    }
    
    @include for-tablet {
        &__title {
            margin-top: $section-separator-tablet;
            margin-bottom: 40px;
        }
    }

    @include for-phone-only {
        &__title {
            margin-top: $section-separator-mobile;
            margin-bottom: 25px;
        }
    }

    ul li {
        margin-bottom: 30px;
    }

    a {
        display: block;
        height: 100%;
        @include tile-default;

        &:hover {
         @include tile-hover;
 
         .c-industries-listing {
 
             &__image img {
                 @include photo-hover;
             }
 
             &__header, &__paragraph {
                 @include text-hover;
             }
         }       
        }
    }
}

.c-industries-listing {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__image {
        @include photo-default;

        img {
            height: $image-height;
        }
    }

    &__hover-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        height: $image-height;
        opacity: 0;
        min-height: $image-height;
        background-color: $cod-dark-color;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 50px 30px 76px;
        text-align: center;
        background-color: $white-color;
        flex-grow: 1;
        position: relative;
    }

    &__header {
        @include font-graphik($business-card-header-size, rgba($black-color, .8), 600, 1.22em);
        transition: $transition;
    }

    &__paragraph {
        padding-top: 15px;
        word-wrap: normal;
        opacity: .8;
        transition: $transition;
    }

    &__read-more {
        padding-top: 31px;
        font-size: 0.875rem;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    &--black {

        & * :not(a) {
            color: white;
        }

        .c-industries-listing__hover-image {
            transition: all 0.2s 0.2s ease-out;
            opacity: 1;
            background-color: $cod-dark-color;

            img {
                height: 50%;
            }
        }

        .c-industries-listing__image {
            opacity: 0;
            min-height: $image-height;
        }

        .c-industries-listing__content {
            background-color: $cod-dark-color;
        }

        .c-read-more > * {
            color: $accent-color;
        }

        
    }

    &::before {
        @include business-card-animation;
    }

    &:hover::before {
        transform: scale(40);
    }

}