@import '../absctract';

body {
  overflow: initial !important;
}

.c-job-offer {
  padding: 60px 0;

  //sticky elements doeasn't work with overflow-x: hidden
  

  &__title {
    margin-bottom: 60px;    
  }

  &__description {

    padding-bottom: 60px;

    p {
      font-size: 1.125rem;
      line-height: 1.77em;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 30px 0;
    }

    ul {
      list-style: disc;
      margin-left: 22px;

      li {
        font-size: 1.125rem;
        line-height: 1.77em;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }

  &__card {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    // position: -webkit-sticky;
    // width: 100%;
  }

  &--mobile-card{
    margin-bottom: 20px;
   
  }
}

.c-job-salary-content {
  padding: 30px;

  &__title {
    color: $white-color;
    margin-bottom: 30px;
    opacity: 0.8;
    font-size: 1rem;
  }

}

.c-job-salary-card {
  @include flexValue(false, flex-start, flex-start);
  padding-bottom: 30px;
   
  &__title {
    color: $white-color;
    font-size: 1.75rem;
    margin-bottom: 5px;
  }

  &__box {
    flex-grow: 1;
  }

  &__subtitle {
    color: $white-color;
    opacity: .8;
  }

  &__tag {
    height: 100%;
    align-self: flex-start;

    span {
      @extend .u-position-salary-tag;
    }
  }
}

.c-job-salary-card-info {
  margin-bottom: 30px;

  &--top-spaced {
    border-top: $career-border;
    padding-top: 30px;
  }

  &__paragraph {
    color: $white-color;
    font-size: 1rem;
    opacity: .8;
  }

  &__title {
    color: $white-color;
  }

  &__button {
    width: 100%;
    text-align: center;
  }
}