@import '../absctract';
 
// Localization - main headquarters
.c-localization-main {
    padding: $section-separator-desktop 0 50px;
    position: relative;
    // @include section-before-color(341px, $alabaster-color);

    @include for-phone-only {
        padding-top: $section-separator-mobile;
        padding-bottom: 25px;

        // @include section-before-color(314px, $alabaster-color);
        
    }

    .l-section {
        position: relative;
    }

    &__title {
        margin-bottom: 40px;
    }

    &-map {

        &__content {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        &__dot{
            position: absolute;
            width: 14px;
            height: 14px;
   
            border-radius: 7px;
            background: radial-gradient(transparent, rgba($color: rgb(146, 129, 255), $alpha: 0.6));
            z-index: 2;

            div{
                position: absolute;
                background-color: rgba($color: #1900B3, $alpha: 0.9);
                width: 4px;
                height: 4px;
                border-radius: 2px;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }

            &--current {
                width: 20px;
                height: 20px;
                border-radius: 10px;

                div{
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);

                }
            }
        }

        

        g {
            fill: #e5e5e5;
        }

        @include for-phone-only {
            margin-bottom: 20px;
        }
        
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

    }


}