@import "../absctract";

.c-localization-tile {
  background-color: $white-color;
  height: 100%;
  @include font-graphik(0.875rem, false, false, 1.714em);
  display: flex;
  flex-direction: column;

  address,
  .contact-person__links a,
  .contact-person__name {
    color: rgba($cod-dark-color, 0.8);
  }

  &__city {
    @include font-graphik(1.125rem, $black-color, 600, 1.222em);
    margin: 30px 0 15px;
    opacity: 0.8;
  }

  address {
    display: block;
    margin-bottom: 15px;
    @include font-graphik(0.875rem, false, 400, 1.714em);
  }

  &__contact-person {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    padding: 0 30px 30px;

    .contact-person {
      &__title {
        @include font-graphik(0.875rem, false, 500, 1.714em);
        margin: 0 0 15px 0;
      }

      &__name {
        margin-bottom: 2px;
      }

      &__links {
        a {
          transition: color 0.3s ease;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }
  }

  padding-top: 0;

  &__photo {
      width: 100%;
      margin: 0;
      height: 214px;

      img {
          width: 100%;
      }

  }

  &__content {
      padding: 0 30px;
      padding-bottom: 30px;
  }

  .c-read-more{
    
    font-size: 0.875rem;
  }
}
