@import "../absctract";

.c-mission-map {
  @include flexValue(wrap, center, space-between);
  padding-top: $section-separator-desktop * 1.6;
  padding-bottom: $section-separator-desktop;

  &__boxes {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 50%;
    margin-top: 60px;

    @include for-phone-only {
      li {
        justify-content: center;
      }
    }

    @include for-tablet-down {
      width: 100%;
    }

    @include for-tablet-portrait-up {
      li {
        &:nth-of-type(odd) {
          justify-content: flex-start;
        }

        &:nth-of-type(even) {
          justify-content: flex-end;
        }
      }
    }

    li {
      margin-bottom: 87px;
      width: 50%;
      display: flex;
      flex-wrap: wrap;

      @include for-tablet-down {
        margin-bottom: 50px;
      }
    }

    &__content {
      > * {
        width: 100%;
      }
    }

    &__value {
      display: block;
      @include font-graphik(1.875rem, false, 500, 1.2em);
      margin-bottom: 4px;
    }

    &__description {
      font-size: 0.81rem;
      line-height: 1.23em;
    }
  }

  &__map-wrapper {
    position: absolute;
    flex: 1;
    width: 50%;
    right: 0;

    @include for-phone-only {
      position: relative;
      flex: none;
      width: 100%;
      right: 0;
    }

    .cls-1 {
      fill: #d9d9d9;
    }

    .cls-2 {
      fill: $accent-color;
    }
  }
}
