@import '../absctract';

.c-mission-values {
  padding: 180px 0;
  background-color: $white-color;

  @include for-tablet-down {
    padding: $section-separator-tablet 0;
  }

  @include for-phone-only{
    padding: $section-separator-mobile 0;
  }

  &__mobile__content {
    height: 0;
    overflow: hidden;
    margin: 0;
  } 

  .c-text-header {
    margin-bottom: 87px;

    @include for-tablet-down {
      margin-bottom: 40px;
    }
  
    @include for-phone-only{
      margin-bottom: 30px;
    }
  }

  .c-aside-links {
    
    &__item {
      display: flex;
      align-items: center;
      padding-bottom: 50px;
      border-bottom: 2px solid $porcelain-color;
      transition: all .3s ease;
      margin-bottom: 0;
      flex-direction: column;

      &:not(.c-aside-links__item--active) {
        opacity: .5;
      }
    }

    &__single{
      text-align: left;
      position: relative;
      width: 100%;
      padding-right: 40px;

      i{
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__content {
    @include font-graphik(1rem, $tundora-color, false, 1.75em);
    margin-left: calc(#{$grid-desktop-width} / 12 + (#{$grid-desktop-gutter} * 2));


    @include for-tablet-down {
      margin-left: $grid-tablet-sideMargin;
    }

    @include for-phone-only {
      margin-left: 0;
    }
  }

}