@import '../absctract';

.c-offices-listing {
    padding-top: ($section-separator-tablet * 1.6);
    padding-bottom: ($section-separator-tablet * 1.6) - 50;

    &__title {
        color: $white-color;
    }

    &__location {
        @include flexValue(false, center, flex-start);
    }

    @include for-phone-only {
        padding: ($section-separator-mobile * 1.6) 0;

        @include not-last-child('.c-office') {
            padding-bottom: 50px;
        }
	}

	@include for-tablet {
        padding-top: ($section-separator-tablet * 1.6);
        padding-bottom: ($section-separator-tablet * 1.6) - 50;
    }
}

.c-office {
    padding-bottom: 50px;
    &__title {
        color: $white-color;
        margin-bottom: 15px;
    }

    &__address {
        color: $white-color;
        opacity: 0.8;
        margin-bottom: 2px;
    }

    & > p:last-of-type {
        margin-bottom: 15px;
    }

    @include for-phone-only {

       
        
	}


}