@import '../absctract';

.c-pagination-list {
  @include flexValue(false, center, center);
}

.c-pagination-list {

  li {
    margin: 0 10px;
  }

  a {
    @include font-graphik(.75rem, $mine-shaft, 500, 1.166em);
    opacity: .5;
    transition: opacity .4s ease;
    cursor: pointer;
    position: relative;

    &.active-page, &:hover {
      opacity: 1;
    }

    i {
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      font-size: 1rem;

      &:before {
        position: relative;
      }
    }

  }

  &__link a {
    display: block;
    @include make-circle(32px, false);
    border: 1px solid $cod-dark-color;
    color: $cod-dark-color;
    transition: opacity .4s ease;
    opacity: .7;

    &.disabled {
      opacity: .3;
      cursor: default;

      &:hover {
        opacity: .3;
      }

    }

  }

  .link-prev {
    margin-right: 0;
    margin-left: 20px;

    i:before {
      left: -1px;
    }
  }

  .link-next {

    i:before {
      right: -1px;
    }
  }
}