@import '../absctract';

.c-pagination-indicator-wrapper {
  width: 100%;
}

.c-pagination-indicator {
  @include flexValue(false, center, flex-start);

  margin-top: 60px;
  position: relative;

  li {
    margin: 0 10px;
  }

  a {
    @include font-graphik(.75rem, $mine-shaft, false, 1.166em);

    opacity: .6;
    transition: opacity .4s ease;
    cursor: pointer;
    position: relative;
    color: white;

    &.active-page, &:hover {
      opacity: 1;
    }

    i {
      @include absolute-centered-item;
      color: white;
      font-size: 1rem;
    }

  }

  &__link {
    position: absolute;

    i:before {
      position: relative;
    }

    &.link-next {
      right: 0;

      i:before {
        right: -1px;
      }
    }

    &.link-prev {
      right: 52px;

      i:before {
        left: -1px;
      }
    }
  }

  &__link a {
    display: block;

    @include make-circle(32px, false);
    color: $cod-dark-color;
    transition: opacity .4s ease;
    opacity: .7;

    border: 1px solid $white-color;


    &.disabled {
      opacity: .3;
      cursor: default;

      &:hover {
        opacity: .3;
      }

    }

  }

  &__page {
    @include flexValue(false, false, false);
  }

  .link-prev {
    margin-right: 0;
    margin-left: 15px;
  }

  &__indicator {
    width: 30px;
    height: 3px;
    background-color: $tundora-approx-color;

    &.active {
      background-color: $accent-color;
    }

  }

}