@import '../absctract';

.c-partner-box {

    &__image {

        img {
            display: block;
            width: 100%;
            height: auto;
        }

    }

    &__data {
        margin-top: 30px;

        span {
            display: block;
        }

        &__country {
            @include font-graphik(1.125rem, rgba($black-color, .8), 600, 1.222em);
            margin-bottom: 30px;
        }

        &__name, &__job {
            @include font-graphik(.875rem, false, false, 1.714em);
        }

        &__name {
            margin-top: 30px;
            font-weight: 500;
        }

        &__job {
            opacity: .8;
            margin-bottom: 30px;
        }

        ul {
            margin-top: 30px;

            a {
                @include font-graphik(.937rem, $accent-color, 600, 1.6em);

                &.link-email {
                    @include for-tablet {
                        font-size: .8rem;
                    }
                }

            }

        }

    }

}