@import "../absctract";

.c-partner-why {
  padding: $section-separator-desktop * 1.6 0;

  @include for-tablet-down {
    padding: $section-separator-tablet 0;
  }

  @include for-phone-only {
    padding: $section-separator-mobile 0;
  }

  &__title-bar {
    margin-bottom: 50px;
  }

  &__title {
    max-width: calc(#{$grid-desktop-width} / 12 * 4);
  }

  &__left-column {
    max-width: 320px;
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.71em;
  }

  &__link {
    margin-top: 50px;
  }

  .c-icon-title-box {
    max-width: 270px;

    &__title {
      margin-top: 15px;
    }
  }

  .c-tiles-group__boxes div:nth-of-type(even) {
    .c-icon-title-box {
      margin: 0 0 0 auto;
    }
  }

  .c-tiles-group {
    &__boxes {
      @include for-tablet-down {
        .c-icon-title-box {
          max-width: none;
          padding-right: 25px;
        }
      }
    }

    &__item {
      width: 50%;
      margin-bottom: 35px;

      @include for-tablet-down {
        margin-bottom: 50px;
      }

      @include for-phone-only {
        width: 100%;
      }
    }
  }

  // Dark layout
  &--dark {
    background-color: $cod-dark-color;

    .c-partner-why {
      &__title {
        color: $white-color;
      }

      &__description {
        color: rgba($white-color, 0.8);
      }
      
    }

    i {
      color: $icons-light-color;
    }

    .c-icon-title-box {
      &__title {
        color: $white-color;
      }

      &__text {
        color: rgba($white-color, 0.8);
      }
    }
  }

  @include for-tablet-down {
    &__left-column {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;
    }

    &__link {
      margin: 0;
    }

    &__description {
      padding-right: 30px;
    }

    .c-button-filled {
      min-width: max-content;
    }
  }

  @include for-phone-only {
    &__left-column {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &__description {
      width: 100%;
    }

    .c-button-filled {
      margin-top: 20px;
    }
  }
}
