@import '../absctract';

$transition-time: .4s;

.c-partner-process {
  padding: $section-separator-desktop * 2 0;

@include for-phone-only {
  padding: $section-separator-mobile 0;
}

@include for-tablet {
  padding: $section-separator-tablet * 2 0;
}

  &__steps {
    @include flexValue(false, flex-start, false);
    position: relative;

    // line
    &:before, &:after {
      content: '';
      position: absolute;
      top: 173px;
      left: calc((#{$grid-desktop-width} / 5) / 2);
      width: 0;
      max-width: calc((#{$grid-desktop-width} / 5) * 4);
      height: 1px;
      transition: all $transition-time ease-out;

      @include for-tablet {
        left: calc((#{$grid-tablet-width} / 5) / 2);


        // TMP - to do
        max-width: 550px;
      }

      @include for-phone-only {
        display: none;
      }

    }

    &:before {
      background-color: $cod-dark-color;
      width: 100%;
    }

    &:after {
      background-color: $accent-color;
      z-index: 1;
    }

    // step 2 active
    &[data-step="2"] {
      &:after {
        width: calc(#{$grid-desktop-width} / 5);

        @include for-tablet {
          width: calc(#{$grid-tablet-width} / 5);
        }
      }
    }

    // step 3 active
    &[data-step="3"] {
      &:after {
        width: calc((#{$grid-desktop-width} / 5) * 2);

        @include for-tablet {
          width: calc((#{$grid-tablet-width} / 5) * 2);
        }
      }
    }

    // step 4 active
    &[data-step="4"] {
      &:after {
        width: calc((#{$grid-desktop-width} / 5) * 3);

        @include for-tablet {
          width: calc((#{$grid-tablet-width} / 5) * 3);
        }
      }
    }

    // step 5 active
    &[data-step="5"] {
      &:after {
        width: calc((#{$grid-desktop-width} / 5) * 4);

        @include for-tablet {
          width: calc((#{$grid-tablet-width} / 5) * 4);
        }
      }
    }

    &--mobile{
      display: flex;
      flex-direction: column;
      position: relative;
    }

  }

  // single box
  &__box {
    flex: 1;
    text-align: center;
    position: relative;
    z-index: 2;
    cursor: pointer;

    // hover style for single box
    &:hover {

      .c-dynamic-image {
        transform: scale(1.15);
      }

    }

    // active style for single box
    &.active {

      .c-partner-process {

        &__step {

          &__value-wrapper {

            &:before {
              width: 50px;
              height: 50px;
              background-color: $accent-color;
            }

            span {
              color: rgba($white-color, 1);
            }
            
          }
  
          &__title {
            opacity: 1;
          }
  
          &__display-area {
            opacity: 1;
            visibility: visible;
            top: 0;
          }

        }

      }

      @include for-phone-only {
        .c-partner-process__step__display-area{
          height: auto;
        }
      }

    }

    @include for-phone-only {
      .c-partner-process__step__display-area{
        height: 0;
      }
    }

  }

  &__step {

    @include for-phone-only {
     display: flex;
     align-items: center;
    }
    // icon
    &__icon-wrapper {
      height: 148px;
      @include flex-center;

      i{
        font-size: 80px;
        transition: all $transition-time ease;
        color: $icons-dark-lighter-color;
      }

      .c-dynamic-image  {
        display: block;
        width: auto;
        height: auto;
        max-height: 100px;
        max-width: 100px;
        transform: scale(1);
        transition: all $transition-time ease;

        @include for-phone-only {
          max-height: 60px;
          max-width: 60px;
        }
      }
      
    }

    // value
    &__value-wrapper {
      width: 50px;
      height: 50px;
      position: relative;
      @include push--auto;

      &:before, span {
        @include absolute-centered-item;
        transition: all $transition-time ease;
      }

      &:before {
        content: '';
        @include make-circle(12px, $cod-gray-color);
      }

      span {
        display: block;
        @include font-graphik(1.125rem, rgba($white-color, 0), 500, 2.77em);
      }

      @include for-phone-only {
        margin: 0 20px 0 0;
       }

    }

    // content
    &__content {
      max-width: 90%;
      margin: 40px auto 0;

      @include for-phone-only {
        margin: 0 ;
        text-align: right;
        flex-grow: 1;
       }
    }

    &__title {
      font-size: 1.125rem;
      line-height: 1.66em;
      opacity: .5;
      transition: $transition-time;
      margin-bottom: 15px;

      @include for-phone-only {
        margin-bottom: 0;
        padding-left: 15px;

       }
      
    }

    &__display-area {
      opacity: 0;
      visibility: hidden;
      transition: $transition-time;
      position: relative;
      top: 20px;

      a {
        display: block;
        margin-top: 15px;

        i {
          display: none;
        }

      }

    }

    &__description {
      @include font-graphik(1rem, $tundora-color, false, 1.75em);
    }

  }

}