@import '../absctract';

// Simple image list
.c-simple-image-section {
  padding: $section-separator-desktop * 1.6 0 $section-separator-desktop/2;

  &__title {
    margin-bottom: 100px;
  }

  .c-simple-image-wrapper {
    display: flex;

    img {
      width: 60%;
      
    }

    @include for-phone-only {
      width: 50%;
      justify-content: center;
    }
  }

  @include for-tablet-down {
    padding: $section-separator-tablet * 1.6 0 $section-separator-tablet/2;
  }

  @include for-phone-only {
    padding: $section-separator-mobile * 1.6 0 $section-separator-mobile/2;
  }

  &.u-bg-white + .c-simple-image-section.u-bg-white {
    padding-top: 0;
  }
  
}

.c-simple-image-list {
  li {
      margin-bottom: 50px;
  }
}