@import '../absctract';

.c-person-contact {
  line-height: 1.5em;

  span {
    display: block;
  }

  &__name {
    font-weight: 500;
  }

  &__links {
    margin-top: 16px;

    li:not(:last-of-type) {
      margin-bottom: 4px;
    }

    a {
      color: $accent-color;
      display: block;
      font-weight: 600;
      line-height: 1.5em;
    }

  }

}