@import '../absctract';

.c-pillars {
	width: $grid-desktop-width + $features-section-margin * 2;
	display: table;
	margin: $section-separator-desktop auto;
    background-color: $white-color;
    
    margin-bottom: $section-separator-desktop + $features-section-margin;

	&__override {
		margin-top: -$features-section-margin;
    }
    
    .l-grid{
        width: 100%;
    }

    &__section {
        @media screen and (min-width: $grid-desktop-width + $features-section-margin * 2){
            width: $grid-desktop-width;
        }
       
        @include push--auto;
        padding-top: 75px;

        header {
            margin-bottom: 116px;

            .c-features-section__title {
				margin-top: 24px;
			}
		}

        &__title {
            margin: 0 0 40px;
            text-align: center;
        }

        &__description {
            margin: 0 0 50px;
            text-align: center;
            font-size: 1.125rem;
        }
    }
    
    @media screen and (max-width: $grid-desktop-width + $features-section-margin * 2){
        width: 100%;
    }

    @include for-tablet {
        width: 100%;
        margin: $section-separator-tablet auto;
        margin-bottom: $section-separator-tablet + $features-section-margin/2;

        &__override {
            margin-top: -$features-section-margin;
        }
    }

    @include for-phone-only {
        width: auto;
        margin: $section-separator-mobile auto;
        margin-bottom: $section-separator-mobile + $features-section-margin/2;

        &__override {
            margin-top: -$features-section-margin;
        }
    }


    .c-feature-item {
        text-align: center;
        
        &__image {
            display: flex;
            justify-content: center;

            .c-dynamic-image {
                height: 70px;
            }

            i {
                font-size: $xx-large;
            }
        }
    }
}
