@import '../absctract';

.c-prelegent-box {
  
  opacity: 0;
  transform: translateY(-10px);

  &__avatar {
    margin-bottom: 30px;
    height: 300px;
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .3s ease-in-out;

    @include for-phone-only {
      height: initial;
      margin-bottom: 20px;
      -webkit-filter: grayscale(0);
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      filter: none;
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.04);
    }
  }

  &__main span {
    display: block;
  }

  &__flex-data {
    align-items: center;

    @include for-phone-only {
      position: relative;
    }

    a {

      @include for-phone-only {
        background: $white-color;
        padding: 4px;
        position: absolute;
        right: 4px;
      }

    }

  }

  &__icon {
    margin-left: 15px;
    display: block;

    @include for-phone-only {
      margin-left: 0;
    }

  }

  &__name {
    @include font-graphik(1.125rem, false, 600, 1.22em);
    margin-right: 15px;

    @include for-phone-only {
      font-size: 1rem;
    }

  }
  
  &__role {
    margin-top: 15px;
    @include font-graphik(.875rem, rgba($cod-dark-color, .8), false, 1.71em);

    @include for-phone-only {
      margin-top: 12px;
    }

  }

}