@import '../absctract';

.c-resources-listing {
  padding: $section-separator-desktop 0 calc(#{$section-separator-desktop} - 30px);
  // background-color: $related-items-bg-color;

  @include for-phone-only {
    padding: $section-separator-mobile 0 calc(#{$section-separator-mobile} - 30px);
  }

  .c-text-header {
    margin-bottom: 20px;

    @include for-phone-only {
      margin-bottom: 50px;
    }

    &__highlighted {
      display: inline-block;
    }

  }

  // SLick slider style overrights
  .slick-track {
    display: flex;
    margin-left: 0;

    .slick-slide {
      height: auto;

      > div {
        height: 100%;
      }

    }

  }

  .slick-list {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 30px;

    .slick-slide > div {
      margin: 0 15px;
      padding-bottom: 30px;
    }

  }

  .slick-arrow {
    top: -55px;

    @include for-phone-only {
      top: -30px;
    }

  }

  &--white-content,  &--dark-content{

    .c-article-card {

      &__content {
        max-width: initial;
        background-color: $white-color;
        padding: 30px 30px 45px;

        @include for-phone-only {
          padding: 20px 20px 40px;
        }

        &__paragraph {
          max-width: 310px;
        }

      }

    }

  }

  &--dark-content {

    .c-article-card__image {
      background-color: $bg-color;
    }
    
    .c-text-header{
      color: $white-color;
    }

    .slick-arrow{
      color: $white-color !important;
      border: 1px solid $white-color !important;
    }
  }

}

.c-resources-listing a {
  display: block;
  height: 100%;
  @include tile-default;

  &:hover {
    @include tile-hover;

    .c-article-card {

        &__image img {
            @include photo-hover;
        }

        &__paragraph {
            @include text-hover;
        }
    }     
   }
}

.c-article-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  // Article card image
  &__image {
    border-radius: 2px;
    @include photo-default;

    img {
      width: 100%;
      height: auto;
    }

  }

  // Article card content
  &__content {
    flex: 1;
    max-width: 310px;
    padding-top: 25px;
    padding-bottom: 45px;
    position: relative;

    header {
      margin-bottom: 25px;
    }

    &__title {
      @include font-graphik(1.125rem, $black-color, 600, 1.222em);
      margin: 0 0 10px;
    }

    &__paragraph {
      opacity: .8;
      margin-bottom: 35px;
      overflow: hidden; 
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    .c-read-more {
      position: absolute;
      bottom: 30px;
    }

  }

  @include for-phone-only {
    &__image {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

}
