.c-siblings-menu {

  ul {
    display: flex;
  }

  li:not(:first-of-type) {
    margin-left: 14px;
  }

  a {
    @include font-graphik(.75rem, $mine-shaft, false, 1.16em);
    white-space: nowrap;
    display: block;
    position: relative;
    z-index: 1;
    padding-bottom: 17px;
    transition: all .3s ease;

    &:hover {
      color: $accent-color;
    }

    &:after {
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $accent-color;
    }

    &.active:after {
      content: '';
    }

  }

}
