.c-side-menu {
  display: flex;
  background-color: $white-color;

  @include for-tablet-down {
      position: relative;
    }

  &__aside {
      width: 39vw;
      background-color: $alabaster-color;

      @include for-tablet-down {
          padding: 45px 40px;
          position: absolute;
          height: 100%;
          z-index: 1;
          transition: left .7s ease;
        }
    
        @include for-phone-only {
          width: 80vw;
          left: -80vw;
        }
    
        @include for-tablet {
          width: 50vw;
          left: -50vw;
        }

      &.expanded {
          left: 0;
    
          .c-side-menu__aside__expanded-button {
            right: 0;
            width: 100%;
    
            i {
              transform: rotateY(180deg);
            }
    
          }
    
          & + .c-pressroom__main {
            opacity: .4;
          }
    
        }
    
        &__expanded-button {
          position: absolute;
          top: -40px;
          right: -40px;
          width: 40px;
          height: 40px;
          background-color: $accent-color;
          color: #fff;
          font-size: 1.3rem;
          transform: rotate(0deg);
          transition: .7s;
          z-index: 2;
    
          i {
            position: absolute;
            top: 8px;
            right: 8px;
            transition: all .7s ease;
            transform: rotate(0deg);
            color: $white-color;
            font-size: 1.55rem;    
          }
    
        }
  }

  
  &__main {
    background-color: $white-color;
    width: 61vw;
    border-top: 3px solid $alabaster-color;
    padding-bottom: 100px;

    @include for-tablet-down {
        padding: 40px 0 $section-separator-mobile;
        @include push--auto;
        min-height: 500px;
        transition: all .7s ease;
        opacity: 1;
    }

    @include for-phone-only {
      width: $mob-grid-width;
    }

    @include for-tablet {
      width: $tab-grid-width; 
    }
    
    &__content {
      @include margin-right-container;

      @include for-tablet-down {
        margin-right: 0;
      }

      .l-section {
        background-color: white !important;
        margin-top: 0;
        margin-left: 100px;
        padding-top: 100px;

        @include for-tablet-down {
          width: 100%;
          margin-left: 0;
          padding-top: 0;
        }

      }

      section {
        background-color: white !important;

        @include for-tablet-down {
            margin-bottom: 60px;
        }

      }

      > div :last-child {
        @include for-tablet-down {
          margin-bottom: 0;
        }
      }

      .c-text-header {
        @include font-graphik(1.875rem, false, 500, 1.2em);
      }

      // Featured section
      .c-features-section {

        li {
          width: calc(50% - 65px);

          @include for-tablet {
            width: calc(50% - 40px);
          }

          @include for-phone-only {
            width: 100%;
          }

          &:nth-of-type(odd) {
            margin-right: 130px;

            @include for-tablet {
              margin-right: 80px;
            }

            @include for-phone-only {
              margin-right: 0;
            }

          }
        }

      }

      .c-feature-item__content {
        padding-right: 0;
      }

      // Main content 
      .c-main-content {
        @include font-graphik(.937rem, rgba($cod-dark-color, .8), false, 2em);

        p, ol, ul {
          margin: 30px 0;
        }

        p {
          @include font-graphik(.937rem, rgba($cod-dark-color, .8), false, 2em);
        }

        h3 {
          margin: 60px 0 40px;
          font-size: 1.5rem;
          line-height: 1.2em;

          a {
            color: $mine-shaft;
          }
        }

        ul, ol {

          li {
            position: relative;
            display: block;

            &:not(:last-of-type) {
              margin-bottom: 30px;
            }
          }
        }

        ul {
          margin-left: 14px;

          li {
            padding-left: 15px;

            &:before {
              content: '';
              @include make-circle(6px, $persian-blue);
              position: absolute;
              top: 10px;
              left: 0;
            }
          }
        }

        ol {
          counter-reset: item;

          li {
            
            &:before {
              content: counter(item) ". ";
              counter-increment: item;
              color: rgba($cod-dark-color, .8);
            }
          }

        }

      }

    }      

  }
    
}
