.simple-layout {

  &__header {
    padding: 75px 0;

    @include for-phone-only {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 67px;
      background: $white-color;
      padding: 0;
      z-index: 100;
      @include flexValue(false, center, center);
    }


    &:after {
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      height: 20px;
      background: #000;
      background: linear-gradient(180deg, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0) 100%);
      opacity: 1;
      transition: all .6s ease;

      @include for-phone-only {
        content: '';
      }
    }

    a {
      display: inline-block;
      width: 146px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

    }
  }

  &__content {
    max-width: 970px;
    margin:  0 auto 50px auto;

    > .u-bg-white {
      box-shadow: 0 0 50px 0 rgba(157, 157, 157, 0.15);
    }

    .l-grid > div {
      width: 100%;
    }

    // .c-form {

    //   input[type="email"], .c-form__label {
    //     @include for-tablet-portrait-up {
    //       width: 50%;
    //     }
    //   }

    // }

    .c-cta-form-section {
      .c-read-more--back{
        display: inline-block;
      }
    }

  }



}
