@import '../absctract';

.c-event-main {
  background-color: $white-color;

  &__details {
    padding: $section-separator-desktop 0;

    @include for-phone-only {
      padding: $section-separator-mobile 0;
    }

    @include for-tablet {
      padding: $section-separator-tablet 0;
    }

    &__list {
      margin-bottom: 33px;

      li:not(:last-of-type) {
        margin-bottom: 27px;
      }

    }

    &__single {
      display: flex;
      align-items: center;
    }

    &__icon {
      width: 24px;
      height: auto;
      margin-right: 30px;
      font-size: 1.7rem;
      position: relative;
      top: -2px;
    }

    &__title {
      @include font-graphik(1.125rem, false, 600, 1.66em);
    }

    .c-read-more {
      margin: 33px 0 0 54px;
    }

    &__description {
      max-width: 470px;
      margin-top: 50px;
      @include font-graphik(1rem, $tundora-color, false, 1.75em);
    }

  }

  // Form
  &__form {
    margin: -200px 0 100px;

    @include for-phone-only {
      margin: 0;
    }

    @include for-tablet {
      margin: $section-separator-tablet 0 0;
      padding-bottom: $section-separator-tablet;
    }

  }

  &__photo {
    margin: 100px 0 100px;
    // background-color: red;
    // max-height: 200px;

    .c-dynamic-image__container--with-dots{
      height: 100%;
    }
    
    @include for-phone-only {
      margin: 0;
      height: 300px;
      width: 100%;
    }

    @include for-tablet {
      margin: $section-separator-tablet 0 0;
    }

  }

}

// Section with event numbers
.c-event-value {
  padding: $section-separator-desktop 0;

  @include for-phone-only {
    padding: $section-separator-mobile 0;
  }

  @include for-tablet {
    padding: $section-separator-tablet 0;
  }

  .l-grid {
    justify-content: center;
  }

  header {
    text-align: center;
    margin-bottom: 60px;

    .c-text-header {
      margin-bottom: 0;
    }
  
    .c-text-paragraph {
      max-width: 700px;
      margin: 30px auto 0;
    }
  }

  

  li:not(:last-of-type) {

    @include for-phone-only {
      margin-bottom: 30px;
    }

  }

  &__box {
    max-width: 320px;
    @include push--auto;
    text-align: center;

    &__value {
      display: block;
      @include font-graphik(2.25rem, $accent-color, 500, 1.19em);
      margin-bottom: 30px;

      @include for-phone-only {
        margin-bottom: 15px;
      }

    }

    &__description {
      line-height: 1.75em;
    }

  }

}

// Prelegent section
.c-event-prelegent {
  padding: $section-separator-desktop 0;

  @include for-phone-only {
    padding: $section-separator-mobile 0;
  }

  @include for-tablet {
    padding: $section-separator-tablet 0 50px;
  }

  &__list {
    margin-top: 60px;

    @include for-phone-only {
      margin-top: 30px;
    }

    li {
      
      @include for-phone-only {
        width: calc(50% - 10px);
        margin-bottom: 20px;
      }

      @include for-tablet {
        margin-bottom: 30px;
      }

    }
    
  }

}

// Location
.c-event-location {
  padding: $section-separator-desktop 0;

  @include for-phone-only {
    padding: $section-separator-mobile 0;
  }

  @include for-tablet {
    padding: $section-separator-tablet 0;
  }

  &__columns {
    align-items: center;
  }

  &__header {

    @include for-tablet-down {
      margin-bottom: 40px;
    }

    &__title, &__description {
      color: $white-color;
    }

    &__description {
      font-size: 1.375rem;
      line-height: 1.63em;
      max-width: 300px;

      @include for-phone-only {
        margin-top: 30px;
        font-size: 1.1rem;
      }

      @include for-tablet {
        font-size: 1.2rem;
      }

    }

    :last-child {
      margin-bottom: 0;
    }

  }

  // TMP
  &__main {
    height: 334px;
    background-color: #232323;
  }

}