.c-social-stream{
    padding: $section-separator-desktop 0;

    .feed-item {
        // height: 500px !important;
    }

    &__title{
        
    }

    button{
        display: none !important;
    }

    .referral {
        display: none;
    }

    .feed-item{
        background-color: white;
        // height: max-content;
    }

    .juicer-feed {
        font-family: 'Graphik', sans-serif !important;

        .j-image{
            max-height: 250px;
            overflow-y: hidden;
            
            img{
                height: 250px !important;
                object-fit: cover;

            }
        }
      }

      .feed-item{
        border-color: transparent !important; 
         border-style: none !important; 
         border-width: 0 !important;
      }

      .j-text {
        display: flex;
        flex-direction: column; 
        height: 225px;
      }

      .j-message{
        flex-grow: 1;
      }

      .juicer-feed .juicer-button {
        border: 2px solid $accent-color;
        background-color: $accent-color;
        color: #ffffff;
        padding: 20px 10px;
        font-size: 0.8rem;
      }

      .juicer-feed .j-paginate:hover {
        background: white;
        color: $accent-color;
    }
}

.j-loading{
  border: 4px solid $accent-color !important;
}

.j-loading:before {
  background-color: 4px solid $accent-color !important;
}



// .feed-container {
//     height: 600px !important;
//   }
  
//   .juicer-feed p, 
//   .juicer-feed button, 
//   .juicer-feed h3, 
//   .juicer-feed strong {
//     font-family: 'Graphik', sans-serif;
//   }
  
//   .juicer-feed .juicer-button {
//     border: 2px solid red;
//   }
  
//   .juicer-feed {
//     font-family: 'Graphik', sans-serif !important;
//   }
  
  