@import '../absctract';

.c-team-listing {
    padding: $section-separator-desktop 0;

    @include for-tablet {
        padding: $section-separator-tablet 0;
    }

    @include for-phone-only {
        padding: $section-separator-mobile 0;
    }

    &__department-header {
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__title {
        margin: 0 0 30px 0;
    }

    &__paragraph {
        margin-bottom: 80px;
    }

    &__departments {

        @include flexValue(false, flex-start, flex-start);
        flex-wrap: wrap;
        margin-bottom: 50px;

        @include for-phone-only{
            margin-bottom: 20px;
        }

        &__column {
            width: 20%;
            padding-right: 30px;

            @include for-tablet-down {
                width: 33%;
                padding-right: 30px;
            }

            @include for-phone-only {
                width: 50%;
                padding-right: 25px;
            }
        }

        &__button {
            text-align: left;
            color: $mine-shaft;
            opacity: .8;
            font-size: 0.9375rem;
            padding: 20px 0;
            background-color: transparent;

            @include for-phone-only{
                padding: 10px 0;
            }
            
            &.is-active{
                font-weight: 600;
                opacity: 1;
            }
        }

        @include for-tablet-down {
            margin-bottom: 20px;
        }

        @include for-phone-only {
          
        }

        
    }

    &__department {
        padding: 50px 0;


        border: {
            top: $department-line;
            bottom: $department-line;
        };

        &__title {
            font-size: 1.125rem;
            font-weight: 600;
            margin-bottom: 38px;
        }

        &__description {
            font-size: 1.125rem;
        }

        @include for-tablet{
            padding: 40px 0;
        }


        @include for-phone-only{
            padding: 20px 0;
        }


    }
}

.c-team-listing-grid {
    padding: 60px 0 0;

    @include for-phone-only{
        padding: 20px 0 20px;
    }

    &__buttons {
        width: 100%;
        @include flexValue(false, center, center);
        
        @include not-last-child('.c-team-listing-grid__button') {
            margin-right: 25px;
        }
    }

    &__button {
        cursor: pointer;
        @include font-graphik(0.93rem, $white-color, 600, false);;
    }

   

    .c-prelegent-box {
        margin-bottom: 60px;
        
        @include for-phone-only{
            &__avatar {
                img {
                    max-height: 300px;
                }
            }
        }
       
    }
  
}
