@import '../absctract';

.c-testimonials-section {
	position: relative;
	margin: $section-separator-desktop-large 0;

	@include for-phone-only {
		margin: $section-separator-mobile 0;
		// overflow-x: hidden;
	}

	@include for-tablet {
		margin: $section-separator-tablet 0;
		// overflow-x: hidden;
	}

	&__bg-bottom {
		height: $section-separator-desktop-large + 111;
		position: absolute;
		width: 100%;
		bottom: -$section-separator-desktop-large;

		@include for-tablet {
			height: $section-separator-tablet + 111;
			bottom: -$section-separator-tablet;

		}

		@include for-phone-only {
			height: $section-separator-mobile + 95;
			bottom: -$section-separator-mobile;

		}
	}

	&__main {
		position: relative;
    	display: flex;
    	flex-direction: column;
	}

	&__content {
		padding: $desk-gutter + $desk-column-width;
		padding-bottom: 60px;
		height: 550px;
		display: flex;
		flex-direction: column;

		@include for-phone-only {
			height: initial;
			padding-bottom: 35px;
			background-color: $accent-color;
		}

		@include for-tablet {
			padding: 40px;
		}
	}

	&__background {
		width: 90%;
		margin-bottom: 200px;
		height: 100%;
		z-index: -1;
		margin-right: 140px;
		position: absolute;
		background-color: $accent-color;

		@include for-phone-only {
			width: 100%;
		}
	}

	&__title {
		font-size: 1.875rem;
		line-height: 1.4em;
		font-weight: 500;
		max-height: 1.4em * 4;
		overflow: visible;
		color: $white-color;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;

		@include for-tablet-down {
			-webkit-line-clamp: inherit;
			max-height: initial;
		}

		@include for-phone-only {
			font-size: 1.5rem;
		}

		@include for-tablet {
			font-size: 1.6rem
		}

	}

	&__paragraph {
		color: $white-color;
		// max-height: 1.875em * 4;
		// max-lines: 5;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 6; 
		font-size: 1.125rem;
		line-height: 1.77em;

		@include for-phone-only {
			-webkit-line-clamp: inherit;
			font-size: 1rem;
		}

		@include for-tablet {
			max-width: 80%;
		}
	}

	&__author {
		color: $white-color;
		font-weight: 500;
		margin-top: auto;
		font-size: 1.125rem;

		@include for-phone-only {
			margin-top: 30px;
		}

	}

	&__hero {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: flex-end;
		position: absolute;
		bottom: 0;
		right: 0;

		@include for-phone-only {
			display: none;
		}

		img {
			height: 90%;
			object-fit: cover;
		}
	}


	&--single{
		.c-testimonials-tabs__item{
			.c-dynamic-image{
				width: unset;
				margin-left: 90px;
				width: 100px;

				@include for-phone-only {
					padding-left: unset;
				}
			}
		}
	}
}

.c-testimonials-tabs {
	background-color: $white-color;
	cursor: pointer;
	width: 70% !important;
	margin-left: 0;
	display: flex;

	@include for-tablet {
		width: 80% !important;
	}

	@include for-phone-only {
		width: 100% !important;
	}

	&__item {
		padding: 38px 10px;
		background-color: unset;
		flex: 1;

		@include for-phone-only {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		img {
			width: 100%;
			height: 35px;
			// object-fit: contain;

			@include for-phone-only {
				display: block;
				width: 85%;
				margin-left: auto !important;
				@include push--auto;
			}	

		}
	}

	&__item.is-active {
		background-color: $accent-color;
	}
}