@import '../absctract';

.c-testimonial-common-block {
  background-color: $alabaster-color;
  padding: $section-separator-desktop 0;
  position: relative;

  @include for-phone-only {
    padding: $section-separator-mobile 0;
    overflow-x: hidden;
  }

  &__bar {
    position: absolute;
		left: 0;
		bottom: 0;
    width: 100%;
    background-color: $white-color;
    z-index: 2;
  }

  &__bottom_spacing {
    // height: $section-separator-desktop;
  }

  // Common
  &:before {
		position: absolute;
		left: 0;
		bottom: 0;
    width: 100%;
    height: 36%;
    background-color: $white-color;
    z-index: 1;
  }

  &.bar-bg:before {
    content: '';
  }

  &.white-bg {
    background-color: $white-color;

    .c-testimonial-common-block__bar {
      background-color: $alabaster-color;
    }

  }

  &.slider-wrapper {

    &:before {
      height: 34%;
    }

    .c-testimonial-common-block {

      &__author {
        margin-bottom: 200px;

        @include for-phone-only {
          margin-bottom: 30px;
        }

      }

    }

  }

  &.empty-bar {
    padding-bottom: 0;

    @include for-phone-only {
      padding-bottom: $section-separator-mobile;
    }

    .slick-dots{
      margin-bottom: 50px;
    }

    .slick-arrow {
      margin-bottom: 50px;
    }

    .c-testimonial-common-block__author{
      padding-bottom: 50px;
    }

    
  }

  &.three-slides {

    .slick-arrow {
  
      &.slick-next {
        // left: calc(#{$content-to-container} + 182px);
        @include left-container();
      }
  
      &.slick-prev { 
        // left: calc(#{$content-to-container} + 140px);
        @include left-container();
        
      }
  
    }

  }

  &.btn-bar-empty {

    &.bar-bg {

      .c-testimonial-common-block__author {
        margin-bottom: 100px;

        @include for-phone-only {
          margin-bottom: 30px;
        }

      }

    }

    .c-testimonial-common-block__author {
      margin-bottom: 90px;

      @include for-phone-only {
        margin-bottom: 30px;
      }

    }

    // Slider 
    .slick-dots {
      bottom: 11px;

      @include for-phone-only {
        bottom: -25px;
      }

    }

    .slick-arrow {
      bottom: 0px;
    }

  }

  &.no-pretitle {

    @include for-phone-only {
      padding-top: 80px;
    }

    .slick-arrow {
      @include for-phone-only {
        top: -55px;
      }
    }
  }

  &__pre-title, &__btn {
    position: absolute;
  }

  &__pre-title {
    top: 120px;

    @include for-phone-only {
      top: 60px;
    }

  }

  &__btn {
    @include left-container();
    @include flexValue(wrap, center, false);

    bottom: 60px;
    z-index: 3;

    li:not(:last-of-type) {
      margin-right: 30px;
    }

    @include for-phone-only {
      position: relative;
      bottom: 0;
      margin-top: 10px;
    }

  }

  &__columns {
    position: relative;
    z-index: 1;
  }

  // testimonial content
  &__content {
    max-width: 567px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include for-phone-only {
      display: block;
      height: auto;
      max-width: initial;
    }
     
    .c-text-header {
      font-size: 1.875rem;
      line-height: 1.4em;

      @include for-phone-only {
        font-size: 1.4rem;
        margin-bottom: 20px;
      }

      @include for-tablet {
        font-size: 1.6rem;
        margin-bottom: 20px;
      }

    }

    &.additional-offset-top {
      padding-top: $section-separator-desktop;

      @include for-phone-only {
        padding-top: 50px;
      }

      @include for-tablet{
        padding-top: $section-separator-tablet;
      }

    }

  }

  &__author {
    margin: 60px 0 120px;
    display: flex;
    flex-wrap: wrap;

    @include for-phone-only {
      margin: 30px 0;
    }

    > span {
      display: inline-block;
      @include font-graphik(1.125rem, false, 500, 1.22em);

      @include for-phone-only {
        font-size: 1rem;
      }

    }

    .author {

      &__social-media {
        @include flexValue(false, center, false);
        margin-left: 30px;
        padding-left: 26px;
        border-left: 1px solid $alto-color;

        @include for-phone-only {
          margin: 10px 0 0;
          padding-left: 0;
          border-left: none;
          width: 100%;
        }

        li:not(:last-of-type) {
          margin-right: 18px;

          @include for-phone-only {
            margin-right: 10px;
          }

        }

        a {
          display: block;
        }

      }

    }

    // & + .c-testimonial-common-block__brand {
      
    // }

  }

  &__brand {
    width: 100%;
    margin-top: 20px;
  }

  &__logo {
    height: 35px;

    img {
      height: 100%;
      width: auto;
    }

  }

  // image 
  &__image {
    max-height: 640px;

    @include for-phone-only {
      max-width: 70%;
      margin: 30px auto 0;
    }

    @include for-tablet {
      margin-top: 85px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin-left: auto;

      @include for-phone-only {
        margin: 0 auto;
        max-height: 300px;
      }

    }

  }

  // Slider 
  .slick-dots {
    @include left-container();
    bottom: 120px;
    z-index: 3;

    @include for-phone-only {
      bottom: -25px;
    }

  }

  .slick-arrow {
    bottom: 108px;

    @include for-phone-only {
      bottom: auto;
      top: -10px;
    }

    &.slick-next {
      @include left-container();
      margin-left: 142px;

      @include for-phone-only {
        left: auto;
        right: $grid-mobile-gutter;
      }

    }

    &.slick-prev { 
      @include left-container();
      margin-left: 100px;

      @include for-phone-only {
        left: auto;
        right: calc(#{$grid-mobile-gutter} + 42px);
      }

    }

  }

}