@import '../absctract';

.c-text-block {
  padding: 80px 0;
  background-color: $white-color;

  @include for-phone-only {
    padding-bottom: $section-separator-mobile;
  }

  &__description {

    h2, h3, h4 {
      @include font-graphik($text-header-size, $cod-dark-color, 300, $text-header-lh);
      margin-bottom: 60px;

      @include for-phone-only {
        margin-bottom: 30px;
        font-size: $text-header-mobile-size;
        line-height: $text-header-mobile-lh;
      }

      @include for-tablet {
        margin-bottom: 30px;
      }

      // Fixed for safari
      strong {
        font-weight: 600;
      }

    }

    h3 {
      @include for-tablet {
        font-size: 2rem;
        line-height: 1.3em;
      }
    }

    p {
      @include font-graphik(1rem, $tundora-color, false, 1.75em);
      
      &:not(:last-of-type) {
        margin-bottom: 40px;

        @include for-phone-only {
          margin-bottom: 30px;
        }

      }

    }

    figure {
      margin: 40px 0;

      @include for-phone-only {
        margin-top: 30px;
        margin-bottom: 30px;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
      
    }

    ol, ul {
      margin: 30px 0;
      @include font-graphik(1rem, $tundora-color, false, 1.75em);
    }

    ol {
      counter-reset: item;

      li {
        position: relative;
        margin-bottom: 10px;
        display: block;

        &:before {
          content: counter(item) ". ";
          counter-increment: item;
          color: $accent-color;
        }
      }
    }

    ul {

      li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;

        &:before {
          content: '';
          position: absolute;
          top: 10px;
          left: 0;
          @include make-circle (6px, $accent-color);
        }
      }

    }

  }

  .c-tiles-group__boxes {
    margin-top: 60px;

    @include for-phone-only {
      margin-top: 40px;
    }
    
  }

} 