@import '../absctract';


.c-world-map {
	background-image: url('/images/map.png');

	&__content {
		@include push--auto;
		text-align: center;
		margin-top: 200px - ($features-section-margin/2);
		margin-bottom: 200px + ($features-section-margin/2);
	}

	&__title {
		color: $white-color;
		font-size: 1.875rem;
		font-weight: 300;
		margin-bottom: 36px;
	}

	&__highlited {
		color: $white-color;
		font-weight: 500;
		color: $accent-color;
	}

	&__paragraph {
		color: $silver-chalice-color;
		font-size: 1.125rem;
    }
    
    @include for-tablet {
        &__content {
            margin-top: 150px - ($features-section-margin/2);
            margin-bottom: 150px + ($features-section-margin/2);
        }
    }

    @include for-phone-only {
        
	}
	
	&--centered {
		.c-world-map__content {
			margin: 160px auto;

		}
	}

}
